{% set browser_title = ' / '~'404.title'|trans({}, 'error') %}

{% extends '::base.html.twig' %}

{% block content %}

<h1>{{ '404.title'|trans({}, 'error') }}</h1>

<div style="padding: 10px;">
  <p>{{ '404.description'|trans({}, 'error')|raw }}</p>

  <form name="{{ path('_search') }}" action="" method="get">
    <input type="text" name="keywords" id="keywords" value="">
    <input class="button" type="submit" value="{{ 'Search'|trans }}">
    <input type="hidden" name="search_in_description" value="1">
  </form>
</div>

{% endblock %}
