{% extends layout %}

{% block content %}
<h1>phplist jsonp test</h1>
<div id="newsletter-lists-container">

<ul></ul>
</div>
{% endblock %}

{% block javascript %}
<script>$(function () {newsletter.lists.get();});</script>
{% endblock javascript %}
