{% extends layout %}

{% block content %}

<h1>{{ page_title }}</h1>

<ul>
{% for product in products %}
  <li><a href="{{ product.url }}">{{ product.title }}</a></li>
{% endfor %}
</ul>

{% endblock %}
