{% extends layout %}

{% block content %}

<h1>{{ page_title }}</h1>


{% for p in products %}
  <ul>
  {% for product in p %}
    <li><a href="{{ product.url }}">{{ product.title }}</a></li>
  {% endfor %}
  </ul>
{% endfor %}

{% endblock %}
