/web/bundles/
/web/fx/cache/*
/app/bootstrap*
/app/cache/*
/app/logs/*
/tmp/*
/vendor/*
/app/config/parameters.ini
/app/config/hanzo.yml
/src/Hanzo/Bundle/CMSBundle/Resources/config/cms_routing.yml
/src/Hanzo/Bundle/BasketBundle/Resources/config/category_map.php
/web/un.php
