<ul class="payment-methods" id="payment-method-coupon" data-provider="coupon">
  <li>
    <input type="hidden" value="coupon:coupon" id="coupon" name="paytype"{% if selected_payment_type == 'coupon:coupon' %} checked{% endif %}>
  </li>
</ul>
