{% extends '::adminbase.html.twig' %}

{% block content %}

<h1>Gothia admin</h1>

<form id="gothia-admin-order-lookup" action="#">
  <p>
    <label for="gothia-order-id">Ordre id:</label>
    <input type="text" id="order-id" name="order-id"/>
    <input type="submit" value="Hent" name="get"/>
  </p>
</form>

<form id="gothia-admin-order-perform" action="#" style="display:none">
  <p class="customer"></p>
  <p class="order"></p>
  <p>
    <strong>Bemærk:</strong> Ændre kun status ved Gothia
  </p>
  <p>
    <input type="submit" value="Opret reservation" name="place-reservation" id="place-reservation">
    <input type="submit" value="Annuller reservation" name="cancel-reservation" id="cancel-reservation">
  </p>
</form>

{% endblock %}

{% block javascript %}
<script>$(function () {admin_gothia.init();});</script>
{% endblock javascript %}
