<p>{{ 'nno.description'|trans({}, 'account') }}</p>

<form action="{{ url('_account_phone_lookup') }}" class="nno">
  <input type="text" name="phone" id="nno-phone">
  <input type="submit" value="{{ 'nno.fetch'|trans({}, 'account') }}" class="button button-black">
</form>
