{% extends layout %}

{% block content %}
<h1>{{ 'My account - history'|trans({}, 'account') }}</h1>

{{ render(controller('AccountBundle:History:block', {
    'limit': 0,
    'link': false,
    'route' : app.request.attributes.get('_route')
})) }}

<br><a href="{{ path('_account') }}" class="button left">{{ 'Back'|trans({}, 'account') }}</a>
{% endblock %}
