
    <h3><span>{{ 'wishlist.add.label'|trans({}, 'account') }}</span></h3>

    <div class="container">
        <a href="{{ path('_account_wishlist_create') }}" class="sprite create-wishlist"></a>
        {{ 'wishlist.add.description'|trans({}, 'account')|raw }}
    </div>
