[parameters]
    database_driver="pdo_mysql"
    database_host="localhost"
    database_port=""
    database_name="pdl_test"
    database_user="root"
    database_password=""
    mailer_transport="smtp"
    mailer_host="localhost"
    mailer_user=""
    mailer_password=""
    locale="da_DK"
    secret="31f7be90d71a82859f16bc1e2109379a4"
