[parameters]
    database_driver="mysql"
    database_host="localhost"
    database_port=""
    database_name="hanzo"
    database_user="root"
    database_password=""

    dev_dk_database_driver="mysql"
    dev_dk_database_host="localhost"
    dev_dk_database_port=""
    dev_dk_database_name="hanzo"
    dev_dk_database_user="root"
    dev_dk_database_password=""

    dev_fi_database_driver="mysql"
    dev_fi_database_host="localhost"
    dev_fi_database_port=""
    dev_fi_database_name="hanzo"
    dev_fi_database_user="root"
    dev_fi_database_password=""

    dev_no_database_driver="mysql"
    dev_no_database_host="localhost"
    dev_no_database_port=""
    dev_no_database_name="hanzo"
    dev_no_database_user="root"
    dev_no_database_password=""

    dev_nl_database_driver="mysql"
    dev_nl_database_host="localhost"
    dev_nl_database_port=""
    dev_nl_database_name="hanzo"
    dev_nl_database_user="root"
    dev_nl_database_password=""

    dev_se_database_driver="mysql"
    dev_se_database_host="localhost"
    dev_se_database_port=""
    dev_se_database_name="hanzo"
    dev_se_database_user="root"
    dev_se_database_password=""

    dev_de_database_driver="mysql"
    dev_de_database_host="localhost"
    dev_de_database_port=""
    dev_de_database_name="hanzo"
    dev_de_database_user="root"
    dev_de_database_password=""

    dev_ch_database_driver="mysql"
    dev_ch_database_host="localhost"
    dev_ch_database_port=""
    dev_ch_database_name="hanzo"
    dev_ch_database_user="root"
    dev_ch_database_password=""

    dev_at_database_driver="mysql"
    dev_at_database_host="localhost"
    dev_at_database_port=""
    dev_at_database_name="hanzo"
    dev_at_database_user="root"
    dev_at_database_password=""

    mailer_transport="mail"
    mailer_host="localhost"
    mailer_user=""
    mailer_password=""

    locale="da_DK"

    secret="31f7be90d71a82859f16bc1e2109379a4"

    redis_session_host="localhost"
    redis_session_port="6379"
    redis_session_database="1"
    redis_session_password=""

    redis_cache1_host="localhost"
    redis_cache1_port="6379"
    redis_cache1_database="0"
    redis_cache1_password=""

    cdn="http://cdn.hanzo.dk/"
    cdn2="http://cdn.hanzo.dk/"

    sass_bin="/usr/local/bin/sass"
    compass_bin="/usr/local/bin/compass"
    node_bin="/usr/local/bin/node"
    uglifyjs_bin="/usr/local/bin/uglify"
    wkhtmltopdf_bin="/usr/bin/wkhtmltopdf"

    varnish_host=""
    varnish_port=""
    varnish_secret=""
    varnish_timeout=""

; same as varnish_host - must be set on test and prod servers
    proxy_ip=""

    nno_api_key="delux"
    beanstalkd.server=localhost
    core.active_product_range=""

    pdfupload_root_dir="/var/www/pompdelux/shared/web/pdfupload"

    statsd.host = "pdlstats"
    statsd.port = "8125"

