{% set page_type = 'checkout-process' %}
{% extends layout %}

{% block content %}

<h1>{{ 'payment.dibs.processing.title'|trans({},'checkout') }}</h1>

<div class="processing-text"></div>

{% endblock %}

{% block javascript %}
<script>$(function () {dibs_process.init();});</script>
{% endblock javascript %}
