<h2>{{ 'nno.title'|trans({}, 'account') }}</h2>
<p>{{ 'nno.description'|trans({}, 'account') }}</p>

<form action="{{ url('_account_nno') }}">
  <input type="text" name="phone" id="nno-phone">
  <input type="submit" value="{{ 'nno.fetch'|trans({}, 'account') }}" class="button">
</form>
