{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
{% spaceless %}
    <div class="form-group">
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('col-sm-2') ~ ' control-label')|trim}) %}
        {{ form_label(form, '', {'label_attr': label_attr}) }}

        <div class="col-sm-6">
            {{ form_errors(form) }}
            {{ form_widget(form, {'attr': {'class': 'form-control' }}) }}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <div class="alert alert-info">
        <ul>
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}
