services:
    hanzo.discount.checkout.finalize.listener:
        class: Hanzo\Bundle\DiscountBundle\Event\CheckoutListener
        arguments: [ @logger ]
        tags:
            - { name: kernel.event_listener, event: order.summery.finalize, method: onFinalize, priority: 20 }

    hanzo.discount.checkout.listener:
        class: Hanzo\Bundle\DiscountBundle\Event\CheckoutListener
        arguments: [ @logger ]
        tags:
            - { name: kernel.event_listener, event: order.payment.collected, method: onPaymentCollected, priority: 100 }

    hanzo.discount.basket.listener:
        class: Hanzo\Bundle\DiscountBundle\Event\BasketListener
        arguments: [@logger]
        tags:
            - { name: kernel.event_listener, event: basket.product.post_add, method: onBasketChange }
            - { name: kernel.event_listener, event: basket.product.post_remove, method: onBasketChange }
