<div id="gift-card-block" class="checkout-block voucher-block hidden">
  <a href="">{{ 'toggle.gift_card.form'|trans({}, 'checkout') }}</a>
  {{ render(controller('DiscountBundle:GiftCard:applyGiftCard')) }}
</div>
