<?php /* vim: set sw=4: */

// note!
//  dk serves as "vip" database, so if this changes, this must be changed..

$_databases = [
    // vip == dk
    'vip' => new PDO('mysql:host=localhost;dbname=hanzo',    'root', null, array(PDO::MYSQL_ATTR_INIT_COMMAND => "SET NAMES utf8")),
    'de'  => new PDO('mysql:host=localhost;dbname=hanzo_de', 'root', null, array(PDO::MYSQL_ATTR_INIT_COMMAND => "SET NAMES utf8")),
    'fi'  => new PDO('mysql:host=localhost;dbname=hanzo_fi', 'root', null, array(PDO::MYSQL_ATTR_INIT_COMMAND => "SET NAMES utf8")),
//    'se' => new PDO('mysql:host=localhost;dbname=hanzo', 'root', null, array(PDO::MYSQL_ATTR_INIT_COMMAND => "SET NAMES utf8")),
//    'nl' => new PDO('mysql:host=localhost;dbname=hanzo', 'root', null, array(PDO::MYSQL_ATTR_INIT_COMMAND => "SET NAMES utf8")),
//    'fi' => new PDO('mysql:host=localhost;dbname=hanzo', 'root', null, array(PDO::MYSQL_ATTR_INIT_COMMAND => "SET NAMES utf8")),
//    '..' => new PDO('mysql:host=localhost;dbname=hanzo', 'root', null, array(PDO::MYSQL_ATTR_INIT_COMMAND => "SET NAMES utf8")),
];

$_sizes = [
    'quickbuy'      => '57x100',
    'basket'        => '114x200',
    'product_large' => '234x410',
    'admin_1'       => '60x115',
];

function _dbug($msg, $auto_newline = true) {
    global $argv;
    static $dbug = null;

    if (null === $dbug) {
        $dbug = false;
        if (isset($argv[1]) && in_array($argv[1], ['debug', '--debug'])) {
            $dbug = true;
        }
    }

    if ($dbug) {
        if ($auto_newline) {
            echo date('Y-m-d H:i:s :: ').$msg."\n";
        } else {
            echo $msg;
        }
    }
}
