{% extends '::adminbase.html.twig' %}

{% block content %}
<nav class="sub">
  <ul>
    <li>
        <a href="{{ path('admin_cms_add') }}">
        	{{ 'add.new.cmspage'|trans({}, 'admin') }}
        </a>
    </li>
    <li>
    	<a href="#" id="save-nestedsortable">
    		{{ 'save.changes'|trans({}, 'admin') }}
    	</a>
    </li>
  </ul>
</nav>

{{ tree|raw }}

{% endblock %}
