<div id="geo-zipcode-container">
  <form id="geo-zipcode-form" action="" method="post" accept-charset="utf-8" autocomplete="off">
    <p>
      <input type="text" id="geo-zipcode" placeholder="{{ 'sa_search.zip_code.placeholder'|trans }}">
      <input type="submit" class="button" value="{{ "button.find"|trans }}">
    </p>
  </form>
</div>
<script type="text/javascript">
var geo_zipcode_params = {
  type : "{{ type }}",
  country : "{{ country }}"
};
</script>
