{% extends layout %}
{% block content %}

{% if app.session.hasFlash('notice') %}
  <div class="message error">
    {{ app.session.flash('notice') }}
  </div>
{% endif %}


<h1>Checkud</h1>

<h2>Fragttype</h2>
<div class="checkout-block">
  <p>Vælg den rigtige fragttype.</p>

  <form action="/checkout/set/shipping">
    <h3>Privatpakke</h3>
    <p>
      Din ordre bliver sendt til din privatadresse. Ønsker du at sende din ordre til en anden privatadresse (f.eks. naboens) skal du ændre leveringsadressen ved at klikke på "Ret leveringsadresse".
    </p>
    <div>
      <label for="shipping_method_10">Post Danmark Privat DKK 59,00</label>
      <input type="radio" name="shipping" id="shipping_method_10" value="10">
    </div>

    <h3>Erhvervspakke</h3>
    <p>
      Har du mulighed for at få din ordre leveret på din arbejdsplads, kan du vælge erhvervspakke. Husk at ændre leveringsadressen ved at klikke på "Ret leveringsadresse" (leveringsadressen skal ved denne fragttype være en erhvervsadresse).
    </p>
    <div>
      <label for="shipping_method_11">Post Danmark Erhverv DKK 39,00</label>
      <input type="radio" name="shipping" id="shipping_method_11" value="11">
    </div>

    <h3>Døgnpost</h3>
    <p>
      For at du kan få sendt pakker til Døgnposten, skal du oplyse dit navn og det ID, du valgte ved tilmeldingen til Døgnposten. Oplys Døgnpostens nummer og adresse som leveringsadresse og din egen adresse som betalingsadresse.<br>
      <a href="http://www.postdanmark.dk/da/Privat/Selvbetjening/D%C3%B8gnpost/Sider/Selvbetjening%20D%C3%B8gnposten.aspx" rel="external">» Læs mere om Døgnpost</a>
    </p>
    <div>
      <label for="shipping_method_12">Døgnpost DKK 49,00</label>
      <input type="radio" name="shipping" id="shipping_method_12" value="12">
    </div>
  </form>

  <p>Alle ordre pålægges et ekspeditionsgebyr på 0 DKK</p>
</div>


<h2>Adresser</h2>
<div class="checkout-block">
  <form action="/checkout/set/address" id="address-form">
    <ul class="left">
      <li><h3>Privatsadresse</h3></li>
      <li>
        <label>Fornavn:</label>
        <input type="text" name="" value="">
      </li>
      <li>
        <label>Efternavn:</label>
        <input type="text" name="" value="">
      </li>
      <li>
        <label>Addresse:</label>
        <input type="text" name="" value="">
      </li>
      <li>
        <label>Postnummer:</label>
        <input type="text" name="" value="">
      </li>
      <li>
        <label>By:</label>
        <input type="text" name="" value="">
      </li>
      <li>
        <label>Land:</label>
        <input type="text" name="" value="" readonly>
      </li>
    </ul>
    <ul class="left">
      <li>
        <h3 class="toggle">Leveringsadresse</h3>
        <ul>
          <li>
            <label>Fornavn:</label>
            <input type="text" name="" value="">
          </li>
          <li>
            <label>Efternavn:</label>
            <input type="text" name="" value="">
          </li>
          <li>
            <label>Firmanavn:</label>
            <input type="text" name="" value="">
          </li>
          <li>
            <label>Addresse:</label>
            <input type="text" name="" value="">
          </li>
          <li>
            <label>Postnummer:</label>
            <input type="text" name="" value="">
          </li>
          <li>
            <label>By:</label>
            <input type="text" name="" value="">
          </li>
          <li>
            <label>Land:</label>
            <input type="text" name="" value="" readonly>
          </li>
        </ul>
      </li>
    </ul>
  </form>
</div>


<h2>Betalingsmåde</h2>
<div class="checkout-block">
  <form action="/checkout/set/payment" id="payment-form">
    <p>Vælg hvordan du vil betale denne ordre.</p>

    <h3>Dibs</h3>
    <ul class="payment-methods" id="payment-method-dibs">
      <li>
        <input type="radio" value="dibs[DK]" id="dibs_card_type_DK" name="paytype">
        <label for="dibs_card_type_DK"><img alt="DK" src="http://cdn.pdl.bc/fx/images/icons/dankort.jpg"> Dankort</label>
      </li>
      <li>
        <input type="radio" value="dibs[VISA]" id="dibs_card_type_VISA" name="paytype">
        <label for="dibs_card_type_VISA"><img alt="VISA" src="http://cdn.pdl.bc/fx/images/icons/visa.jpg">  Visa</label>
      </li>
      <li>
        <input type="radio" value="dibs[ELEC]" id="dibs_card_type_ELEC" name="paytype">
        <label for="dibs_card_type_ELEC"><img alt="ELEC" src="http://cdn.pdl.bc/fx/images/icons/visaelectron.jpg">  Visa Electron</label>
      </li>
      <li>
        <input type="radio" value="dibs[MC]" id="dibs_card_type_MC" name="paytype">
        <label for="dibs_card_type_MC"><img alt="MC" src="http://cdn.pdl.bc/fx/images/icons/mastercard.jpg">  Mastercard/Eurocard</label>
      </li>
    </ul>

    <h3>Gothia</h3>
    <ul class="payment-methods" id="payment-method-gothia">
      <li>
        <input type="radio" value="gothia" id="gothia" name="paytype">
        <label for="gothia"><img alt="gothia" src="{{ cdn }}fx/images/icons/gothia.gif"> {{ 'payment.gothia.desc'|trans({}, 'checkout') }}</label>
      </li>
    </ul>

    <h3>Bankoverførsel</h3>
    <ul class="payment-methods" id="payment-method-cod">
      <li>
        <p><b>Bemærk:</b> Bankoverførsel må <b><u>kun</u></b> benyttes ved manglende internet forbindelse.</p>

        <input type="radio" value="cod" id="pbb" name="paytype">
        <label for="pbb">Bankoverførsel</label>
      </li>
    </ul>
  </form>
</div>



<h2>Godkend</h2>
<div id="checkout-block-summery" class="checkout-block" style="display: block; ">

  <table class="product-table">
    <thead>
      <tr>
        <th class="left">Produkt(er)</th>
        <th class="right">Afsendes senest</th>
        <th class="right">Pris</th>
        <th class="center">Antal</th>
        <th class="right">Samlet Beløb</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="group">Boy</th>
      </tr>
      <tr>
        <td class="image">
          <img src="http://cdn.pdl.bc/images/products/thumb/60x60,Alban-LS-SHIRT_basket_Navy.jpg?123123" alt="Alban LS SHIRT" title="Alban LS SHIRT">
          <div class="info" data-product_id="9" data-confirmed="">
            <a href="/app_dev.php/da_DK/forside/webshop/boy-104-152-cm/shirts-polos/8/alban-ls-shirt">Alban LS SHIRT</a>
            <div class="size">
              <label>Size:</label>
              <span>104</span>
            </div>
            <div class="color">
              <label>Color:</label>
              <span>Navy</span>
            </div>
          </div>
        </td>
        <td class="right date"></td>
        <td class="right price">DKK 139,00</td>
        <td class="right quantity">1</td>
        <td class="right total">DKK 139,00</td>
      </tr>
    </tbody>
  </table>

  <table class="product-table total">
    <tbody>
      <tr>
        <td>Varer i alt</td>
        <td class="right">DKK 139,00</td>
      </tr>
      <tr>
        <td>Momsbeløb</td>
        <td class="right">DKK 27,80</td>
      </tr>
      <tr>
        <td>Post Danmark Privat</td>
        <td class="right">DKK 59,00</td>
      </tr>
      <tr>
        <td>Rabat:</td>
        <td class="right">DKK -27,80</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Samlet beløb</td>
        <td class="right">DKK 170,20</td>
      </tr>
    </tfoot>
  </table>

  <div class="notice">
    <strong>Bemærk:</strong> Hvis din ordre indeholder varer med afsendelsesdatoer, så afsender vi først din ordre, når alle varer er på vores lager.
  </div>
</div>

<div id="">
  <a class="button left" href="/app_dev.php/da_DK/basket">Tilbage</a>
  <a class="button right" id="checkout-execute" href="#">Gå til betaling</a>
</div>


<style type="text/css">
#body-checkout #main form {
  margin-bottom: 10px;
}
#body-checkout #main form>h3 {
  margin-top: 20px;
}
#body-checkout #main h2 {
  background-color: #C8C4C3;
  padding:  5px;
  margin-top: 20px;
}
#address-form {
  overflow: hidden;
}
#address-form label {
  display: block;
  width: 110px;
  float: left;
}
#address-form ul {
  margin: 0 40px 0 10px;
  padding: 0;
}
#address-form ul ul {
  margin: 0;
}
#address-form li {
  overflow: hidden;
  padding: 4px 0;
}

#body-checkout div.notice {
  margin-top: 20px;
}
</style>



{% endblock %}

{% block javascript %}
<script type="text/javascript">
(function($, undefined){
})(jQuery);
</script>
{% endblock javascript %}
