<div id="checkout-block-summery" class="checkout-block">
  <h1>{{ 'confirm.title'|trans({}, 'checkout') }}</h1>

  <h2>{{ 'confirm.order_id'|trans({}, 'checkout') }}: {{ order.id }}</h2>

  {% render 'CheckoutBundle:Default:addresses' with { 'skip_empty' : true } %}
  {% render 'BasketBundle:Default:view' with { 'embed': true } %}

  {% include 'CheckoutBundle:Default:order_block.html.twig' with {'order': order} %}

  <br>
  <div class="notice">
    {{ 'late.delivery.notice'|trans({}, 'checkout')|raw }}
  </div>

</div>
