/*
Error: Invalid US-ASCII character "\xC2"
        on line 9 of /Volumes/Web/PompDelux/devpompdelux/current/web/fx/2013s1_mobile/sass/_video.scss
        from line 128 of /Volumes/Web/PompDelux/devpompdelux/current/web/fx/2013s1_mobile/sass/mobile.scss

4:     display: none;
5: }
6: 
7: video {
8:     display: block;
9:     img {
10:         width: 100%;
11:     }
12: }
13: 
14: .video-container {

Backtrace:
/Volumes/Web/PompDelux/devpompdelux/current/web/fx/2013s1_mobile/sass/_video.scss:9
/Volumes/Web/PompDelux/devpompdelux/current/web/fx/2013s1_mobile/sass/mobile.scss:128
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/util.rb:1323:in `rescue in block in find_encoding_error'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/util.rb:1320:in `block in find_encoding_error'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/util.rb:1319:in `each'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/util.rb:1319:in `each_with_index'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/util.rb:1319:in `find_encoding_error'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/util.rb:896:in `check_sass_encoding'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/engine.rb:423:in `check_encoding!'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/engine.rb:379:in `_to_tree'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/engine.rb:299:in `to_tree'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/stack.rb:88:in `block in with_import'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/stack.rb:115:in `with_frame'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/stack.rb:88:in `with_import'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/stack.rb:115:in `with_frame'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/stack.rb:79:in `with_base'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/engine.rb:268:in `render'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/lib/ruby/gems/2.2.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/usr/local/lib/ruby/gems/2.2.0/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/usr/local/lib/ruby/gems/2.2.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/usr/local/lib/ruby/gems/2.2.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/usr/local/lib/ruby/gems/2.2.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/usr/local/lib/ruby/gems/2.2.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/usr/local/lib/ruby/gems/2.2.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/usr/local/lib/ruby/gems/2.2.0/gems/compass-1.0.3/bin/compass:44:in `call'
/usr/local/lib/ruby/gems/2.2.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/usr/local/bin/compass:23:in `load'
/usr/local/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid US-ASCII character \"\xC2\"\A         on line 9 of /Volumes/Web/PompDelux/devpompdelux/current/web/fx/2013s1_mobile/sass/_video.scss\A         from line 128 of /Volumes/Web/PompDelux/devpompdelux/current/web/fx/2013s1_mobile/sass/mobile.scss\A \A 4:     display: none;\A 5: }\A 6: \A 7: video {\A 8:     display: block;\A 9:     img {\A 10:         width: 100%;\A 11:     }\A 12: }\A 13: \A 14: .video-container {"; }
