/* 
  W3C CSS1/CSS2 | standard compliance
  -- -- -- -- -- -- --  -- -- -- -- -- -- -- --
  revision: 01.06.2007
  author:   Thomas Norlander
  -- -- -- -- -- -- --  -- -- -- -- -- -- -- --
  leaner, more flexible and compatible markup
*/


/* ALERT | resetting browser defaults -------------------------------------------- */

* { padding:0px; margin:0px; }
/* end */


body { color:#3D3D30; font:normal 62.5% "Trebuchet MS",Verdana,Arial,Geneva,Sans-serif; }


/* headlines | shared settings ------------------------------------------------- */

h1 { font-size:2.4em; font-weight:normal; }
h2 { font-size:1.8em; }
h3 { font-size:1.6em; }
h4 { font-size:1.4em; }
h5,
h6 { font-size:1.2em; }

h1 { color:#000; margin-bottom:1em; }

h2,
h3 { margin-bottom:2em; }

h4,
h5 { color:#992D2A; word-spacing:.1em; margin:1em 0; }
/* end */


/* body text | shared settings ------------------------------------------------- */

p { font-size:1.3em; line-height:1.4em; margin-bottom:1.2em; }
p strong { font-size:1.1em; }

strong { color:#555; }
small { font-size:.9em; }

address { font:normal 1em/1.4em normal; }

hr { color:#618FAC; border:#618FAC 1px solid; margin-bottom:1em; }
/* end */


/* list items | shared settings ------------------------------------------------ */

ul,
ol { margin:1em 3em 2em 3em; }
 
ul li { list-style:outside square; }
ol li { list-style:inside decimal-leading-zero; }

li { font-size:1em; margin-bottom:1em; }

dl { margin:1.2em 0; }

dt,
dd { font-size:1.2em; }

dt { font-weight:bold; }
dd { margin:0 0 1em 0; line-height:1.0em; }
/* end */


/* hyper linking | shared settings --------------------------------------------- */

a,
a:hover,
a:visited { color:#174785; text-decoration:none; }

a:hover { text-decoration:underline; }

a:focus,
a:active { outline:none;/* remove dotted outline IE */ }

a.mark { font-weight:bold;/* link current */ }
/* end */


/* forms | shared settings ----------------------------------------------------- */

fieldset { border:0; }
fieldset legend { color:#992D2A; font-size:1.4em; font-weight:bold; text-align:left; padding:0 1em; margin:1em -1.4em; }

label { color:#000; line-height:2em; }

select,
textarea,
input.text { font-size:1.2em; border:1px solid; }

input.readonly { border:#FFF 1px solid; }

select:focus,
textarea:focus,
input.text:focus { background:#E6ECEE; }
/* end */


/* tabular | shared settings --------------------------------------------------- */

table		{ display:table; }
caption		{ display:table-caption; }
col      	{ display:table-column; }
colgroup	{ display:table-column-group; }
thead    	{ display:table-header-group; }
tfoot    	{ display:table-footer-group; }
tbody    	{ display:table-row-group; }
tr       	{ display:table-row; }
td,th   	{ display:table-cell; }

table { font-size:1.1em; border:0; }
table caption { font-size:1.4em; font-weight:bold; text-align:left; }

table th { color:#000; text-align:left; font-weight:bold; }
table th,
table td { vertical-align:top; }
/* end */

/* overriding paymentweb.css */
a,
p,
ul,
ol,
li,
div,
label,
table,
tr,
td {
    line-height: 24px;
}
/* end */

/* 
  W3C CSS1/CSS2 | standard compliance
  -- -- -- -- -- -- --  -- -- -- -- -- -- -- --
  revision: 31.05.2007
  author:   Thomas Norlander
  -- -- -- -- -- -- --  -- -- -- -- -- -- -- --
  leaner, more flexible and compatible markup
*/


/* ALERT | resetting defaults -------------------------------------------------- */

* { padding:0; margin:0; }
a img { border:0; }
form { padding:0; margin:0; }
/* end */


/* global | resetting defaults ------------------------------------------------- */

body { background:#89A2BB url("/paymentweb/images//gfx_bgtile_body.gif") repeat-x; }

#Page,
#Type,
#Grid { background-color:#FFF; }

#Grid { background:url("/paymentweb/images//gfx_bgtile_grid.gif") bottom repeat-x; }
/* end */


/* area | page header ---------------------------------------------------------- */

#AREA01 { background:#FFF url("/paymentweb/images//gfx_bgtile_area01.gif") top left repeat-x; }
#AREA01 .SEC01 div.frmCont { background:url("/paymentweb/images//gfx_logo_dibs1.gif") top left no-repeat; }
/* end */


/* area | page content --------------------------------------------------------- */

#AREA01 .SEC01 h1 { display:none; }

#AREA01 .SEC02 { background:#FFF; }
#AREA01 .SEC02 h1 { margin:1em 0; }

#AREA02 .SEC01 dt { color:#369; }
/* end */


/* navigation | payment flow --------------------------------------------------- */

ul.progress li { font-size:1.1em; font-weight:bold; }
ul.progress li,
ul.progress li a,
ul.progress li a:visited { color:#FFF; }

ul.progress li.step1,
ul.progress li.step2,
ul.progress li.step3 { border-right:.1em solid; }
/* end */


/* forms | shared settings --------------------------------------------------- */

select { border:#FFF 1px solid; background:#EEE; }

textarea,
input.text { border:#89A2BB 1px solid; }

input.error { border:#CC3333 1px solid; border-right-width:6px; }
input.mandatory { border-right-width:6px; }

/* end */


/* tabular | shared settings --------------------------------------------------- */

/* 
zebra stribing */
tbody tr.odd { background:#F3F3F3;}
tbody tr.even { background:#EEE; }

tbody.splitView th { color:#369; font-size:1.2em; }


/* tabular | variations --------------------------------------------------- */

table.form th,
table.form td { padding-left:0; }

table.form select { font-size:1.3em; }
table.form input.text { font-size:1.4em; vertical-align:middle; border:#89A2BB 1px solid; }
/* end */


/* TOCs | payment types --------------------------------------------------- */

dl.CardTypes { padding:0; margin:30px 0 0 0; }

dl.CardTypes dt { padding-bottom:10px; margin:0; }
dl.CardTypes dd { padding:0; margin:0; }

dl.CardTypes dd.button { clear:both; width:100%; margin-top:2em; }

dl.CardTypes dd { height:4em; }
dl.CardTypes dd span { display:block; line-height:3em; margin:.4em; border-bottom:#94BADE 1px solid; }
dl.CardTypes dd span img,
dl.CardTypes dd span input { margin-right:1em; vertical-align:middle; }

dl.Type3 dd { float:left; width:30%; height:4em; border-color:#DDD; }
dl.Type3 dd span { border-color:#DDD; }
/* end */


/* TOCs | payment types --------------------------------------------------- */

dl.orderinfo {}
dl.orderinfo dt { padding-bottom:1.2em; }
dl.orderinfo dd {}
dl.orderinfo dd strong { display:block; margin-bottom:.5em; }
dl.orderinfo dd a,
dl.orderinfo dd a:visited { display:block; }
/* end */


/* SHOP | demo shop settings ---------------------------------------------- */

.PT03 #Grid { background:none; }

.PT03 #AREA01 div.boxCont { background:none; }
.PT03 #AREA01 div.frmCont { padding-top:0; }

.PT03 #AREA01 .SEC01 { height:160px; }
.PT03 #AREA01 .SEC01 img { position:relative; }
.PT03 #AREA01 .SEC01 h1 { position:absolute; bottom:10px; width:90%; text-align:right; padding:0 1em; color:#FFF; background:#333; z-index:10;
/* alpha channel settings - no W3C compliance */
  filter:alpha(opacity=30);/* IE */
  -moz-opacity:.30;/* Mozilla */
  opacity:.30;/* Safari */
  -khtml-opacity: .30;/* Safari????? */
}

.PT03 #AREA02 { background:none; }
.PT03 #AREA02 .SEC02 div.frmCont { padding:0; }
.PT03 #AREA02 .SEC01 dt { color:#369; }

.PT03 dl.Type1 li { float:none; width:100%; } 
/* end */

/* 
  W3C CSS1/CSS2 | standard compliance
  -- -- -- -- -- -- --  -- -- -- -- -- -- -- --
  revision: 27.05.2007
  author:   Thomas Norlander
  -- -- -- -- -- -- --  -- -- -- -- -- -- -- --
  leaner, more flexible and compatible markup
*/



/* ALERT | resetting defaults -------------------------------------------------- */

* { padding:0; margin:0; }
form { padding:0; margin:0; }
/* end */


/* global | viewport ----------------------------------------------------------- */

html,
body { text-align:center; }

#Page,
#Type { height:100%; }

#Page { width:500px; margin:0 auto; }

#Type { padding:10px; }
#Grid {
	text-align:left; 
	min-height:580px;
	height:auto !important;
	height:580px;
}

div.boxCont { position:relative; }
div.frmCont { overflow:hidden; }
/* end */


/* structure | page banner ----------------------------------------------------- */

#AREA01 {}
#AREA01 div.boxCont {}
#AREA01 .SEC01 div.frmCont { height:7.5em; }
/* end */


/* structure | page content ---------------------------------------------------- */

#AREA02 {}
#AREA02 div.boxCont {}
#AREA02 div.frmCont {}

#AREA02 .SEC01 { float:left; width:65%; }
#AREA02 .SEC02 { float:right; width:30%; }
/* end */


/* structure | page footer ----------------------------------------------------- */

#AREA03 {}
#AREA03 div.boxCont {}
#AREA03 div.frmCont {}
/* end */


/* tabular | shared settings --------------------------------------------------- */

table { border-spacing:1px; border-collapse:separate; border-width:0; }
table caption { height:3em; }

table td,
table th { padding:.4em; empty-cells:show; }

table tfoot td { padding:2em 0; }

table tbody select,
table tbody textarea,
table tbody input.text { width:98%; }
/* end */

/* overriding paymentweb.css */
#payment {
	margin: 0px;
	border: none;
}

.message {
	margin: 5px 0px;
}

.splitamountbox {
    text-align:right;
    float:left
}
/* end */
 
#Page,
#Type { background-color:#FFF; }

#Grid { background:url("/paymentweb/images//gfx_logo_dibs2.jpg") 0 -30px no-repeat; }

#AREA01 { height:auto; margin-bottom:2em; }

#AREA01,
#AREA01 .SEC01 div.frmCont { background:none; }

#AREA01 .SEC01 div.frmCont { padding-top:3em; }
#AREA01 .SEC02 div.frmCont { padding-top:1em; }

#AREA01 .SEC01 h1 { display:block; }
#AREA01 .SEC01 h1 { position:absolute; top:30px; width:90%; padding:0 1em; color:#000; background:#FFF; z-index:100;
/* alpha channel settings - no W3C compliance */
  filter:alpha(opacity=60);/* IE */
  -moz-opacity:.60;/* Mozilla */
  opacity:.60;/* Safari */
  -khtml-opacity: .60;/* Safari????? */
 }
#AREA01 h2 { color:#4F82BD; margin-bottom:1em; }

dl.Type1 dd,
dl.Type1 dd { float:none; width:auto }
dl.Type3 dd { width:25%; }


ul.alterCSS a.shop2,
ul.alterCSS a.styleSwitch.shop2 { color:#FF0; }

#btnAuthSubmit {
  display: none;
}

#payment div.wwlbl {
    color: #000;
    background-color: none;
}
.paytypeName {
    color: #000;
    background-color: none;
}
.paytypeName:hover {
    color: #000;
    background-color: none;
}
button {
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
}
button:hover {
    color: #fff;
    background-color: #000;
}
p, ul, ol, li, div, label, span, table, tr, td {
    color: #3D3D30;
    background-color: transparent;
}

