<form name="payment-gift-card" id="gift_card" action="{{  path('_gift_card_callback') }}" method="post">
  <ul class="payment-methods" id="payment-method-gift-card">
    <li><input type="hidden" value="gift_card" id="gift-card" name="paytype"></li>
  </ul>
</form>
