<ul class="payment-methods" id="payment-method-gift-card" data-provider="gift_card">
  <li>
    <input type="hidden" value="gift_card:gift_card" id="gift-card" name="paytype"{% if selected_payment_type == 'gift_card:gift_card' %} checked{% endif %}>
  </li>
</ul>
