<h2>Gothia</h2>
<form name="payment-gothia" id="gothia" action="{{ path('PaymentBundle_gothia_payment') }}" method="post">
<ul class="payment-methods" id="payment-method-gothia">
 <li>
      <input type="radio" value="gothia" id="gothia" name="paytype">
      <label for="gothia">
{# FIXME: image and text #}
      <img alt="gothia" src="http://test.static.pompdelux.dk/templates/pompdelux/images/icons/gothia.gif"> Gothia faktura (Der vil blive tilføjet et gebyr på DKK&nbsp;29,00 ved valg af denne betalingsform)
      </label>
    </li>
</ul>
</form>
