{% extends '::base.html.twig' %}

{% block content %}

<h1>{{ 'My account'|trans({}, 'account') }}</h1>

<div id="account-block-newsletter">
{% render 'NewsletterBundle:Default:block' %}
</div>

{% endblock %}

{% block javascript %}
{% render 'NewsletterBundle:Default:js' %}
{% endblock javascript %}
