{% extends '::base.html.twig' %}

{% block content %}

<h1>{{ 'My account'|trans({}, 'account') }}</h1>

<div id="account-block-newsletter">
{% render 'NewsletterBundle:Default:block' %}
</div>

{% endblock %}

{# 
 Hm, should not be here? 
 And how to parse args to the js?
 FIXME: hardcoded to dk newsletter
#}
{% block javascript %}
<script>$(function () { newsletter.init( '#newsletter-list-container' ); newsletter.lists.get( 1 );});</script>
{% endblock javascript %}
