<div id="checkout-block-shipping">
<h1>Fragttype</h1>
<div class="msg hidn"></div>
Vælg den rigtige fragttype.<br>
<form action="">
{% for method in methods %}
  <input type="radio" name="shipping" value="{{ method.externalid }}" disabled>{{ method.name }}<br>
{% endfor %}
</form>
</div>
