<h2>{{ 'payment.title'|trans({}, 'checkout') }}</h2>
<div class="checkout-block" id="payment-block">
  <div class="msg hidden"></div>
  <p>{{ 'payment.text'|trans({}, 'checkout') }}</p>

  <form action="{{ path('_payment_set_method') }}" id="payment-form">
  {% for module in modules %}
    <div class="payment-module">
      {{ module|raw }}
    </div>
  {% endfor %}

    <input type="hidden" value="gift_card:gift_card" name="paytype"{% if selected_payment_type == 'gift_card:gift_card' %} checked{% endif %}>
  </form>
</div>
