#body-account article .grid_6 {
    display: table-footer-group;
}
#body-account article .grid_2 {
    display: table-header-group;
}
#body-account article aside li {
    line-height: 1.8em;
    margin-left: 10px;
}

#account-block-newsletter-all {
    h3 {
        border-top: 1px solid #000;
        cursor: pointer;

        span {
            display: block;
            padding: 2px 0px 2px 5px;
            margin-right: 5px;
            background: url(/fx/images/icons/icons/arrow_right.png) center right no-repeat;

            &.open {
                background: url(/fx/images/icons/icons/arrow_down.png) center right no-repeat;
            }
        }
    }

    #newsletter-lists-container-all {
        display: none;

        form {
            border-top: 1px solid #000;
            margin-bottom: 10px;
        }
    }
}

#body-create-account {
    form[action$="/edit"] button[type=submit] {
        display: block;
    }
    .create {
        overflow: hidden;
    }
}

table#order-status {
    border-top: 1px solid #000;
    width: 100%;

    td {
        padding: 2px;
        &:first-of-type {
            padding-left: 0;
        }
        &:last-of-type {
            padding-right: 0;
        }
    }
    thead {
        background-color: #ccc;
        border-bottom: 1px solid #000;
        th {
            font-weight: bold;
        }
    }
    tbody tr.even {
        background-color: #ccc;
    }
    tfoot {
        border-top: 1px solid #000;
        td {
            padding-top: 1px;
        }
    }
    td.h {
        padding-left: 95px;
    }
    td.buttons a {
        margin-right: 5px;
    }
    tr.off {
        display: none;
    }
    td a.trigger {
        @include icons-sprite(magnifier);
        width: 16px;
        height: 16px;
    }
}
a.add-wishlist {
    margin: 20px 0;
    background-color: rgb(231, 229, 229);
    padding: 17px 0 16px 7px;
    display: block;
    text-decoration: none;

    .icons-Hearticon {
        padding: 10px 0 11px 55px;
        font-weight: bold;
        font-size: 1.5em;
    }
}

#body-wishlist {
    .wishlist-flush-list a {
        margin-top: 10px;
        width: 315px;
    }

    .list-number {
        .icons-Hearticon {
            padding-top: 10px;
        }
    }
}
