#body-account article .grid_6 {
    display: table-footer-group;
}
#body-account article .grid_2 {
    display: table-header-group;
}
#body-account article aside li {
    line-height: 1.8em;
    margin-left: 10px;
}

aside.js-slider {
    margin-bottom: 10px;
    border-bottom: 1px solid #000;

    .container {
        border-top: 1px solid #000;
        margin: 0;
        display: none;
    }

    h3 {
        margin-top: 0;
        cursor: pointer;
        border-top: 1px solid #000;

        span {
            display: block;
            padding: 2px 0px 2px 5px;
            margin-right: 5px;
            background: url(/fx/images/icons/icons/arrow_right.png) center right no-repeat;

            &.open {
                background: url(/fx/images/icons/icons/arrow_down.png) center right no-repeat;
            }
        }
    }
}


.wishlist {
    a.create-wishlist {
        margin: 10px auto;
    }

    ul {
        margin: 10px 5px 10px 20px;

        li {
            vertical-align: top;
            padding: 0 0 5px 0;
            max-width: 90%;
            list-style: decimal;
        }
    }

    .container {
        padding-bottom: 20px;
    }
}

#body-wishlist {
    form {
        margin-bottom: 20px;
    }
    input {
        width: 100%;
    }
    select {
        margin-bottom: 15px;
        width: 100%;
        padding: 6px 5px;
    }
    label {
        margin-top: 0;
        margin-bottom: 12px;
        font-style: italic;
        font-size: 0.9em;
    }

    .twitter-typeahead {
        width: 98%;
    }
    .tt-dropdown-menu {
        background-color: #fff;
        border: 1px solid #c0c0c0;
        width: 97%;
        padding: 5px;
    }
    .tt-is-under-cursor {
        padding: 0 5px;
        background-color: #dedede;
        font-weight: bold;
    }

    article {
        border-top: 2px solid #c0c0c0;
        overflow: hidden;

        img {
            vertical-align: top;
            margin-left: 10px;
            float: left;
        }

        p {
            padding-top: 10px;
            text-align: center;
            display: block;
            width: 260px;
            float: right;
        }
    }
}

#account-block-newsletter-all {
    h3 {
        border-top: 1px solid #000;
        cursor: pointer;

        span {
            display: block;
            padding: 2px 0px 2px 5px;
            margin-right: 5px;
            background: url(/fx/images/icons/icons/arrow_right.png) center right no-repeat;

            &.open {
                background: url(/fx/images/icons/icons/arrow_down.png) center right no-repeat;
            }
        }
    }

    #newsletter-lists-container-all {
        display: none;

        form {
            border-top: 1px solid #000;
            margin-bottom: 10px;
        }
    }
}

#body-create-account {
    form[action$="/edit"] button[type=submit] {
        display: block;
    }
    .create {
        overflow: hidden;
    }
}

table#order-status {
    border-top: 1px solid #000;
    width: 100%;

    td {
        padding: 2px;
        &:first-of-type {
            padding-left: 0;
        }
        &:last-of-type {
            padding-right: 0;
        }
    }
    thead {
        background-color: #ccc;
        border-bottom: 1px solid #000;
        th {
            font-weight: bold;
        }
    }
    tbody tr.even {
        background-color: #ccc;
    }
    tfoot {
        border-top: 1px solid #000;
        td {
            padding-top: 1px;
        }
    }
    td.h {
        padding-left: 95px;
    }
    td.buttons a {
        margin-right: 5px;
    }
    tr.off {
        display: none;
    }
    td a.trigger {
        @include icons-sprite(magnifier);
        width: 16px;
        height: 16px;
    }
}
