.filter-text {
    text-transform: uppercase;

    font-family: $font-sans;
    font-size: $side-menu-size;
    line-height: 1.8em;

    span {
        background-color: #969799;
        color: #fff;
        padding: 2px 6px;
        white-space: nowrap;

        a {
            color: #000;
            font-size: 0.6em;
            font-weight: bold;
            vertical-align: bottom;
        }

        &.last {
            background-color: inherit;
            a {
                font-size: inherit;
                font-weight: inherit;
            }
        }
    }
}

.main > .grid_6.filter-text {
    margin-bottom: 12px;
    margin-top: 0;
}


// --------------------------------------------------
// Filter dropdown
// --------------------------------------------------

// Filter dropdown
ul.filter-dropdown {
  width: 100%;
  margin-bottom: 10px;

  > li.open {
    > a.filter-dropdown-toggle {
      background: url(/fx/images/icons/icons/arrow_down.png) center right no-repeat;
    }
  }

  // List item (first layer)
  > li {

    // Toggle
    > a.filter-dropdown-toggle {
      display: block;
      text-transform: uppercase;
      font-weight: 700;
      margin-right: 5px;
      text-decoration: none;
      background: url(/fx/images/icons/icons/arrow_right.png) center right no-repeat;
      /*
       * margin-right: 5px;
       * padding: 10px 10px 10px 5px;
       * font-size: 13px;
       */

      // Icon
      > .icon {
          display: none;
      }
    }

    // Open
    &.open {

      // Toggle
      > a.filter-dropdown-toggle {

        // Icon
        > .icon {
          display: none;
        }
      }
    }
  }
}

// --------------------------------------------------
// Dropdown menu
// --------------------------------------------------
//

// Dropdown list
ul.filter-dropdown {

  // List item (first layer)
  > li {

    // Dropdown menu
    div.filter-dropdown-menu {
      display: none;

      // Dropdown menu list
      ul.filter-dropdown-menu-list {

        // List item
        > li {
          padding: 0;

          // Label
          label {
            display: block;
            /*
             * font-size: 12px;
             * line-height: 16px;
             */
            /* margin: 0; */
            /* padding: 3px 0; */
            /* @include clearfix; */

            // Checkbox
            input[type='checkbox'] {
              float: left;
              margin: 0;
              padding: 0;
              margin-right: 5px;
            }
          }
        }
      }
    }

    // Last element
    &:last-child {

      // Dropdown menu
      div.filter-dropdown-menu {
        /* right: 0; */
      }
    }

    // Open
    &.open {

      // Dropdown menu
      div.filter-dropdown-menu {
        display: block;
      }
    }
  }
}

// --------------------------------------------------
// Button (clear and close)
// --------------------------------------------------
//

// Dropdown list
ul.filter-dropdown {

  // List item (first layer)
  > li {

    // Dropdown menu
    div.filter-dropdown-menu {

      // Button container
      div.filter-button-container {
        /* height: 24px; */
        /* line-height: 24px; */
        /* padding: 0 10px; */

        // Clear button
        a.js-filter-clear {
          /* font-size: 12px; */
          line-height: inherit;
        }

        // Close button
        a.js-filter-close {
          line-height: inherit;

          // Icon
          .icon {
            /* font-size: 16px; */
          }
        }
      }
    }
  }
}
