/**
| _account
*/
#body-login .main {
  ul {
    list-style: square;
    padding-left: 20px;
    li {
      @include paragraph-style;
    }
  }
}
form.create {
	label{
		&:after {
			content: ":";
		}
		&.required:after {
			content: ": *";
		}
	}
    .button {
        display: none;
    }
}
#body-events-create-customer{
    input.button.off{
        display: none;
    }
}

#event-edit-form .button {
    display: inline-block;
}

#body-event form.create .button,
#body-edit-account form.create .button {
    display: inline-block;
}
