/**
| _account
*/
#body-login .main{}
form.create {
	label{
		&:after {
			content: ":";
		}
		&.required:after {
			content: ": *";
		}
	}
    .button {
        display: none;
    }
}
#body-events-create-customer{
    input.button.off{
        display: none;
    }
}
