/**
| _account
*/
#body-login .main {
  ul {
    list-style: square;
    padding-left: 20px;
    li {
      @include paragraph-style;
    }
  }
  h3 {
    font-family: $font-sans;
    font-size: 20px;
    text-transform: uppercase;
  }
  // Right boxes.
  > .grid_3 > .grid_3 {
    border-bottom: 2px dotted #8D8D8D;
    padding: 15px 0 10px;

    &:first-child {
      border-top: 2px dotted #8D8D8D;
    }
    &:last-child {
      border-bottom: none;
    }
  }

  input {
    background: #DED8D2;
    color: #222;
    border: none;
  }
}
form.create {
	label{
		&:after {
			content: ":";
		}
		&.required:after {
			content: ": *";
		}
	}
    .button {
        display: none;
    }
}
#body-events-create-customer{
    input.button.off{
        display: none;
    }
}

#event-edit-form .button {
    display: inline-block;
}

#body-event form.create .button,
#body-edit-account form.create .button {
    display: inline-block;
}

.sprite.trackntrace {
  @include icons-sprite(trackntrace);
  height: icons-sprite-height(trackntrace);
  width: icons-sprite-width(trackntrace);
}

.sprite.returnlabel {
  @include icons-sprite(returnlabel);
  height: icons-sprite-height(returnlabel);
  width: icons-sprite-width(returnlabel);

  margin-right: 10px;
}
