/**
| _basket
*/
.basket,
#cart-edit-element{
	table.product-table,
	table.edit-element{
		th{
			font-family: $font-serif;
			font-weight: $font-weight-thin;
			padding: 12px 6px;
		}
		tfoot{
			font-family: $font-serif;
			td{
				padding: 12px 6px;
				&.total{
					font-family: $font-sans;
				}
			}
		}
		.info{
			display: inline-block;
			vertical-align: top;
			line-height: 22px;
		}
		.title{
			font-family: $font-serif;
			font-weight: $font-weight-bold;
		}
		.date {
			span.not-in-stock{
				color: #A10000;
				display: block;
			}
		}
	}

	.delivery-notice{
		font-size: $small-size;
	}
	.buttons{
		padding: 24px 0;
	}
}

#cart-edit-element {
	border: 5px solid #000;
	position: absolute;
	z-index: 9999;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: white;
	a.button {
		position: absolute;
		bottom: 3px;
		right: 10px;
	}
	// notice message
	.delivery-notice {
		position: absolute;
		top: 10px;
		left: 345px;
		width: 240px;
		strong {
			display: block;
			margin-bottom: 5px;
			margin-top: 5px;
		}
	}
}
#mini-basket.basket,
#mega-basket .basket {
	.sprite{
		display: inline-block;
		vertical-align: middle;
	}
}
#mega-basket .basket .sprite{
	@include icons-sprite(basket);
	height: icons-sprite-height(basket);
	width: icons-sprite-width(basket);
}
#mini-basket.basket .sprite {
	@include icons-sprite(basket-grey);
	height: icons-sprite-height(basket-grey);
	width: icons-sprite-width(basket-grey);
}
#mini-basket.basket a {
	color: $basket-color;
	font-size: $basket-font-size;
	font-weight: $basket-font-weight;
	font-family: $font-sans;
	display:inline-block;
	vertical-align: middle;
	margin-left: 5px;
}

// Mega basket
#mega-basket {
	position: absolute;
	top: -6px;
	right: 0;
	background: white;
	background: rgba(255, 255, 255, 0.98);
	width: 350px;
	z-index: 220;
	-webkit-border-radius: 0px 0px 20px 20px;
	-moz-border-radius: 0px 0px 20px 20px;
	border-radius: 0px 0px 20px 20px;
	border: 1px solid #DFDFDF;
	border-top: none;
	padding: 10px 20px;

	.basket {
		// Sprite and "Your Basket" text
		text-transform: uppercase;
	}

	.delivery-text {
		margin-top: 10px;
		width: 270px;
		li {
			margin-bottom: 7px;
		}
	}

	.checkout-button {
		position: absolute;
		bottom: 10px;
		right: 15px;

		@include icons-sprite(checkout);
		height: icons-sprite-height(checkout);
		width: icons-sprite-width(checkout);
	}

	.close {
		position: absolute;
		top: 10px;
		right: 10px;
		@include icons-sprite(close);
		height: icons-sprite-height(close);
		width: icons-sprite-width(close);
	}

	table {
		tbody{
			display: block;
			max-height: 100px;
			overflow-y: scroll;
		}
	}
}
