

// All headers for normal categories
.category-17 .main header{ // Specific for one category
    background: #d2c3c6;
    background: url('/fx/images/headers/Top_Kjoler_955x200.jpg') no-repeat top center;
}


// All headers for looks
// bylook-CATEGORY_ID

.bylook-62 .main header{ // Specific for one category
    background: #d2c3c6;
    background: url('/fx/images/headers/Top_Kjoler_955x200.jpg') no-repeat top center;
}


// All headers for colors
// bycolour-CMS_ID

.bycolour-582 .main header{ // LB_Navy
    background: #d2c3c6;
    background: url('/fx/images/headers/Top_Kjoler_955x200.jpg') no-repeat top center;
}

