.checkout-block {
	overflow: hidden;
	padding: 3px;
	margin: 20px 0;
	ul {
		list-style: none;
	}
	label{
		width: auto;
	}
}

#body-checkout #main {
	form {
		margin-bottom: 10px;
		> h3 {
			margin-top: 20px;
		}
	}
	h2 {
		padding: 5px;
		margin-top: 20px;
		@include box;
		clear: both;
	}
}

form.address {
	float: left;
	overflow: hidden;
	margin-right: 40px;
	label {
		display: inline-block;
		width: 110px;
		vertical-align: top;
		margin-top: 0 0 12px;
	}
	.error {
		border: 2px solid $form-error-color;
		margin: 10px 0;
		padding: 10px;
	}
}

#body-checkout {
	#main form.address > h3 {
		margin-top: 0;
		margin-bottom: 5px;
	}

    .checkout-confirm-terms {
        text-align: center;
        border: 3px solid $alert-border-color;
        padding: 10px;
        display: block;
        margin: 20px 5px;
        a {
            text-decoration: underline;
        }
    }

    #checkout-buttons {
        display: none;
        .dialoug-loading{
            float:right;
        }
    }

}

#address-block{
	> label{
		&.off{
			display: none;
		}
		clear: both;
		display: block;
	}
	.confirm {
		margin-top: 20px;
		padding: 20px;
		border: 2px solid $alert-border-color;
		clear: both;
	}
	.block{
		overflow: hidden;
		float: left;
	}
}
.shipping-method,
.payment-module {
	margin: 12px 0;
	padding: 12px;
	@include shadow;
}
.payment-methods {
	label{
		margin: 0;
		padding-left: 6px;
		width: 90%;
		vertical-align: middle;
	}
}
#body-checkout div {
	&.msg.error {
		padding: 20px;
	}
	&.dialoug.alert.notice h2 {
		background: url(/fx/images/loader-bar.gif) no-repeat 5px center;
		padding-left: 26px;
		background-color: #CCC;
		padding-top: 9px;
		border: 1px solid #7B7577;
	}
    .address .message.notice {
        border: 2px solid $form-error-color;
        padding: 10px;
        margin: 5px 0;
    }
}

.voucher-block {
	form {
		overflow: hidden;
		padding: 20px;
		margin: 10px;
		border: 1px solid #7B7577;
		div.clearfix {
			float: left;
		}
	}
	#form_code {
		margin: 0 10px;
	}
}
form.location-locator {
	button.button {
		margin-left: 5px;
		float: none;
	}
	table.locator-result{
		margin-top: 20px;
		width: auto;
		tbody td{
			padding: 4px 6px;
			label{
				width: auto;
				margin-top: 0;
			}
		}
		.opening-hours{
			width: auto;
		}
	}
	label{
		display: inline-block;
		width: 110px;
	}
	div.error{
		margin: 10px;
		p{
			border: 1px solid $form-error-color;
			padding: 10px;
		}
	}
}

#body-pensio-wait #in-edit-warning,
#body-checkout-process #in-edit-warning{
	display:none;
}
#in-edit-warning a {
    text-decoration: underline;
}

div.invalid-order {
    border: 2px solid $form-error-color;
    padding: 10px;
}

.dialoug .address-confirm-box {
	padding: 20px;
	div {
		display: inline-block;
		width: 250px;
		float: left;
	}
	li {
		font-weight: normal;
		padding: 5px 0;
		vertical-align: top;
	}
	b {
		width: 100px;
		word-wrap: break-word;
		display: inline-block;
	}
}
