/**
| _cms
*/

@import "compass/css3";
@import "compass/utilities";

.body-pages{
	// Specific styles for CMS pages
	h3{
		font-family: $font-sans;
		font-size: $paragraph-size;
		font-weight: bold;
		text-transform: none;
		padding: 6px 0 0;
		letter-spacing: 0;
	}
    #main .social-buttons {
        float: right;
    }

    .newsletter-form-simple{
        display: block;
        float: none;
        margin: 10px 0;
        .container {
            text-align: left;
            display: inline-block;
            input[type=submit] {
                float: right;
                font-size: 12px;
                font-family: $font-serif;
                letter-spacing: 0;
            }
        }
        .sprite{
            @include icons-sprite(newsletter);
            height: icons-sprite-height(newsletter);
            width: icons-sprite-width(newsletter);
            float: left;
        }
        input[type="email"],
        input[type="text"]{
            width: 250px;
            display: block;
            padding: 4px 5px;
        }
        #dialoug-message{
            width: 200px;
            border: 2px solid $alert-border-color;
            text-align: center;
        }
        form{
            font-family:$font-sans !important;
            width: 264px;
        }
    }
}
article div ul {
    margin-left: 20px;
    list-style-type: disc;
    list-style-position: outside;
}

.inline-edit-menu {
    position: absolute;
    top: 0;
    left: 5px;
    z-index: 100;
    width: 170px;
    background-color: #dcd8d2;
    padding: 10px;
    padding-bottom: 0;
    font-weight: normal;

    h6 {
        padding-bottom: 10px;
    }
    h6:hover {
        color: #fff;
        cursor: pointer;
    }

    ul {
        margin: 10px 0;
        li {
            height: 30px;
        }
    }

    a {
        @include border-radius(5px);
        padding: 5px 10px;
        background-color: #000;
        color: #fff;
        width: 148px;
        display: block;
        font-weight: normal;

        i {
            margin-right: 5px;
        }
    }
    a:hover {
        color: #000;
        background-color: #fff;
        text-decoration: none;
    }

    .fa-box {
        @include border-radius(2px);
        padding: 2px;
        color: #fff;
        display: inline-block;
        width: 16px;
        text-align: center;

        &.red {
            background-color: #FF0000;
        }
        &.green {
            background-color: #009926;
        }

    }
    .ts {
        font-size: 0.8em;
    }

    form {
        margin-top: 20px;

        label {
            margin: 0;
            float: left;
            width: auto;
        }
        select {
            float: right;
            margin: 0;
            width: 50%;
        }
    }
}

// Job application form
// RMA claim form
#job-application-form,
#rma_claims {
  label span {
    display: block
  }
  span {

    &.help {
      display: block;
    }
    &.required {
      display: inline-block;
      font-size: 16px;
      color: #cc0000;
      padding: 0 4px;
    }
  }
  textarea,
  input[type="text"] {
    width: 80%;
    max-width: 370px;
  }
  textarea {
    height: 120px;
    &[name="describe_yourself"] {
      height: 240px;
    }
  }
  input[type="file"] {
    display: block;
    clear: right;

    &.hidden {
      visibility: hidden;
      display: none;
    }
  }
}
