// Dialogue notices

.inject-notice-box{
	padding: 3px;
	.inner{
		border: 1px solid #000;
		padding: 6px;
		color: $font-color;
	}
	&.error{
		.inner{
			border-color: $alert-border-color;
		}
	}
}
.slide-notice-box{
    position: absolute;
    top: 70px;
    height: 45px;
    right: 0;
    z-index: 900;
    padding: 8px 8px 19px 8px;
    margin-right: 10px;
    text-align: center;
    overflow: hidden;
    background: #fff url('/fx/images/icons/icons/divider_left.png') no-repeat;
    background-position: 0 30px;
}

#colorbox {
  outline: 0;
}
#cboxContent {
  outline: 0;
  .dialoug {
    .buttons {
      padding: 0 10px;
      a {}
    }
  }
  #cboxClose {
    display: none;
    position:absolute;
    right:0;
    top: 0;
    &.sprite {
      text-indent: -100px;
      display: inline-block;
    }
  }
}
#colorbox.js-keep-close-button #cboxClose {
  display: block;
}

#dialoug-message {
  border: 2px solid #D3C2A2;
  color: #231f20;
  margin: 10px 0;
  display: none;
  &.error {
    border-color: $alert-border-color;
  }
  p {
    background-color: #fff;
    padding: 10px;
    margin: 0;
  }
}

.dialoug-loading {
  display: inline-block;
  height: 16px;
  background: url(/fx/images/loader-bar.gif) no-repeat left center;
  padding-left: 20px;
  margin-left: 5px;
}


#newsletterModal {
    display: none;
    position: absolute;
    z-index: 499;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .inner {
        z-index: 500;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        margin: 200px auto 0 auto;
        overflow: hidden;
        display: inline-block;
    }

    &.type1 {
        background-image: url(/fx/images/ffffff.png);

        .inner {
            padding: 20px 20px 5px 20px;
            width: 600px;
            border-radius: 2px;
            background-image: url(/fx/images/newsletter_overlay/bg.png);
        }

        h2 {
            font-family: $font-serif;
        }

        .wrapper {
            background-image: url(/fx/images/newsletter_overlay/letters.png);
            background-repeat: no-repeat;
            padding-left: 150px;
            padding-top: 20px;

            p {
                width: 280px;
            }

            form {
                overflow: hidden;
            }

            div {
                width: 295px;
                float: left;

                input[type="text"] {
                    margin-top: 15px;
                }
                input[type="text"], input[type="email"] {
                    width: 100%;
                }

                p {
                    width: 100%;
                    padding-top: 5px;
                    a {
                        font-size: $small-size;
                    }
                    a:hover, a:focus {
                        text-decoration: underline;
                    }
                }
            }

            input.button {
                float: left;
                margin-left: 40px;
                height: 83px;
                width: 84px;
                background-color: inherit;
                text-indent: -999px;
                display: inline-block;
            }
        }

        .close-button {
            display: inline-block;
            height: 64px;
            width: 44px;
            vertical-align: bottom;
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .bottom {
            background-image: url(/fx/images/newsletter_overlay/bottom.png);
            background-repeat: no-repeat;
            background-position: bottom center;
            height: 220px;
            clear: both;
        }
    }

    &.type2 {
        background-image: url(/fx/images/ffffff.png);

        .inner {
            background: white;
            padding: 20px;
            width: 800px;
            -webkit-border-radius: 0px 10px;
            -moz-border-radius: 0px 10px;
            border-radius: 0px 10px;
        }
        .wrapper {
            p, h2 {
                display: none;
            }

            form {
                width: 757px;
                height: 355px;
                margin: 0 auto;
                background-repeat: no-repeat;
                input[type="text"], input[type="email"] {
                    position: absolute;
                    left: 478px;
                    width: 308px;
                }
                input[type="text"] {
                    top: 287px;
                }
                input[type="email"] {
                    top: 320px;
                }
                input.button {
                    position: absolute;
                    top: 198px;
                    left: 720px;
                    text-indent: -9999px;
                    background-position: initial;
                    height: 88px;
                    width: 88px;
                }
                .dialoug-message {
                    position: absolute;
                    top:0;
                }
                &.newsletter-subscribe-complete {
                    input{
                        display: none;
                    }
                }
            }
        }
        .close-button {
            display: inline-block;
            height: 23px;
            width: 25px;
            position: absolute;
            top: 10px;
            right: 10px;
            background: url(/fx/images/newsletter_overlay/type2/close.png) no-repeat;
            background-position: initial;
        }
        .bottom {}
    }

    &.type3 {
        background-image: url(/fx/images/ffffff.png);

        .inner {
            margin: 100px auto 0 auto;
            background: white;
            padding: 30px;
            width: 455px;
            -webkit-border-radius: 0px 10px;
            -moz-border-radius: 0px 10px;
            border-radius: 0px 10px;
        }
        .wrapper {
            p, h2 {
                display: none;
            }

            form {
                width: 455px;
                height: 538px;
                margin: 0 auto;
                background-repeat: no-repeat;

                div {
                    position: absolute;
                    top: 390px;
                    right: 65px;
                    width: 281px;
                    input[type="text"], input[type="email"] {
                        width: 100%;
                    }
                }

                input.button {
                    position: absolute;
                    background-repeat: no-repeat;
                    top: 495px;
                    right: 53px;
                    height: 55px;
                    width: 291px;
                    text-indent: -9999px;
                }

                .dialoug-message {
                    position: absolute;
                    top:0;
                    z-index: 600;
                }

                &.newsletter-subscribe-complete {
                    input{
                        display: none;
                    }
                }
            }
        }
        .close-button {
            display: inline-block;
            height: 23px;
            width: 25px;
            position: absolute;
            top: 5px;
            right: 5px;
            background: url(/fx/images/newsletter_overlay/type2/close.png) no-repeat;
            background-position: initial;
        }
        .bottom {}
    }
}

$active-newsletter-type : type3;

body.domain-dk #newsletterModal.#{$active-newsletter-type} .wrapper form {
    background-image: url(/fx/images/newsletter_overlay/#{$active-newsletter-type}/DK/Info.jpg);
    &.newsletter-subscribe-complete {
        background-image: url(/fx/images/newsletter_overlay/#{$active-newsletter-type}/DK/Kvittering.jpg);
    }
    input.button {
        background: url(/fx/images/newsletter_overlay/#{$active-newsletter-type}/DK/Tilmeld-knap.png);
    }
}
body.domain-de #newsletterModal.#{$active-newsletter-type} .wrapper form {
    background-image: url(/fx/images/newsletter_overlay/#{$active-newsletter-type}/DK/Info.jpg);
    &.newsletter-subscribe-complete {
        background-image: url(/fx/images/newsletter_overlay/#{$active-newsletter-type}/DE/Kvittering.jpg);
    }
    input.button {
        background: url(/fx/images/newsletter_overlay/#{$active-newsletter-type}/DE/Tilmeld-knap.png);
    }
}
body.domain-com #newsletterModal.#{$active-newsletter-type} .wrapper form {
    background-image: url(/fx/images/newsletter_overlay/#{$active-newsletter-type}/COM/Info.jpg);
    &.newsletter-subscribe-complete {
        background-image: url(/fx/images/newsletter_overlay/#{$active-newsletter-type}/COM/Kvittering.jpg);
    }
    input.button {
        background: url(/fx/images/newsletter_overlay/#{$active-newsletter-type}/COM/Tilmeld-knap.png);
    }
}
body.domain-fi #newsletterModal.#{$active-newsletter-type} .wrapper form {
    background-image: url(/fx/images/newsletter_overlay/#{$active-newsletter-type}/FI/Info.jpg);
    &.newsletter-subscribe-complete {
        background-image: url(/fx/images/newsletter_overlay/#{$active-newsletter-type}/FI/Kvittering.jpg);
    }
    input.button {
        background: url(/fx/images/newsletter_overlay/#{$active-newsletter-type}/FI/Tilmeld-knap.png);
    }
}
body.domain-no #newsletterModal.#{$active-newsletter-type} .wrapper form {
    background-image: url(/fx/images/newsletter_overlay/#{$active-newsletter-type}/NO/Info.jpg);
    &.newsletter-subscribe-complete {
        background-image: url(/fx/images/newsletter_overlay/#{$active-newsletter-type}/NO/Kvittering.jpg);
    }
    input.button {
        background: url(/fx/images/newsletter_overlay/#{$active-newsletter-type}/NO/Tilmeld-knap.png);
    }
}
body.domain-nl #newsletterModal.#{$active-newsletter-type} .wrapper form {
    background-image: url(/fx/images/newsletter_overlay/#{$active-newsletter-type}/NL/Info.jpg);
    &.newsletter-subscribe-complete {
        background-image: url(/fx/images/newsletter_overlay/#{$active-newsletter-type}/NL/Kvittering.jpg);
    }
    input.button {
        background: url(/fx/images/newsletter_overlay/#{$active-newsletter-type}/NL/Tilmeld-knap.png);
    }
}
body.domain-se #newsletterModal.#{$active-newsletter-type} .wrapper form {
    background-image: url(/fx/images/newsletter_overlay/#{$active-newsletter-type}/SE/Info.jpg);
    &.newsletter-subscribe-complete {
        background-image: url(/fx/images/newsletter_overlay/#{$active-newsletter-type}/SE/Kvittering.jpg);
    }
    input.button {
        background: url(/fx/images/newsletter_overlay/#{$active-newsletter-type}/SE/Tilmeld-knap.png);
    }
}
body.domain-ch #newsletterModal.#{$active-newsletter-type} .wrapper form {
    background-image: url(/fx/images/newsletter_overlay/#{$active-newsletter-type}/CH/Info.jpg);
    &.newsletter-subscribe-complete {
        background-image: url(/fx/images/newsletter_overlay/#{$active-newsletter-type}/CH/Kvittering.jpg);
    }
    input.button {
        background: url(/fx/images/newsletter_overlay/#{$active-newsletter-type}/CH/Tilmeld-knap.png);
    }
}
body.domain-at #newsletterModal.#{$active-newsletter-type} .wrapper form {
    background-image: url(/fx/images/newsletter_overlay/#{$active-newsletter-type}/AT/Info.jpg);
    &.newsletter-subscribe-complete {
        background-image: url(/fx/images/newsletter_overlay/#{$active-newsletter-type}/AT/Kvittering.jpg);
    }
    input.button {
        background: url(/fx/images/newsletter_overlay/#{$active-newsletter-type}/AT/Tilmeld-knap.png);
    }
}


//body.domain-dk #newsletterModal.type2 .wrapper form {
//    background-image: url(/fx/images/newsletter_overlay/type2/Billede_DK.jpg);
//    &.newsletter-subscribe-complete {
//        background-image: url(/fx/images/newsletter_overlay/type2/Kvittering_DK.jpg);
//    }
//    input.button {
//        background: url(/fx/images/newsletter_overlay/type2/Tilmeld-knap_DK.png);
//    }
//}
//body.domain-de #newsletterModal.type2 .wrapper form {
//    background-image: url(/fx/images/newsletter_overlay/type2/Billede_DE.jpg);
//    &.newsletter-subscribe-complete {
//        background-image: url(/fx/images/newsletter_overlay/type2/Kvittering_DE.jpg);
//    }
//    input.button {
//        background: url(/fx/images/newsletter_overlay/type2/Tilmeld-knap_DE.png);
//    }
//}
//body.domain-com #newsletterModal.type2 .wrapper form {
//    background-image: url(/fx/images/newsletter_overlay/type2/Billede_COM.jpg);
//    &.newsletter-subscribe-complete {
//        background-image: url(/fx/images/newsletter_overlay/type2/Kvittering_COM.jpg);
//    }
//    input.button {
//        background: url(/fx/images/newsletter_overlay/type2/Tilmeld-knap_COM.png);
//    }
//}
//body.domain-fi #newsletterModal.type2 .wrapper form {
//    background-image: url(/fx/images/newsletter_overlay/type2/Billede_FI.jpg);
//    &.newsletter-subscribe-complete {
//        background-image: url(/fx/images/newsletter_overlay/type2/Kvittering_FI.jpg);
//    }
//    input.button {
//        background: url(/fx/images/newsletter_overlay/type2/Tilmeld-knap_FI.png);
//    }
//}
//body.domain-no #newsletterModal.type2 .wrapper form {
//    background-image: url(/fx/images/newsletter_overlay/type2/Billede_NO.jpg);
//    &.newsletter-subscribe-complete {
//        background-image: url(/fx/images/newsletter_overlay/type2/Kvittering_NO.jpg);
//    }
//    input.button {
//        background: url(/fx/images/newsletter_overlay/type2/Tilmeld-knap_NO.png);
//    }
//}
//body.domain-nl #newsletterModal.type2 .wrapper form {
//    background-image: url(/fx/images/newsletter_overlay/type2/Billede_NL.jpg);
//    &.newsletter-subscribe-complete {
//        background-image: url(/fx/images/newsletter_overlay/type2/Kvittering_NL.jpg);
//    }
//    input.button {
//        background: url(/fx/images/newsletter_overlay/type2/Tilmeld-knap_NL.png);
//    }
//}
//body.domain-se #newsletterModal.type2 .wrapper form {
//    background-image: url(/fx/images/newsletter_overlay/type2/Billede_SE.jpg);
//    &.newsletter-subscribe-complete {
//        background-image: url(/fx/images/newsletter_overlay/type2/Kvittering_SE.jpg);
//    }
//    input.button {
//        background: url(/fx/images/newsletter_overlay/type2/Tilmeld-knap_SE.png);
//    }
//}
//body.domain-ch #newsletterModal.type2 .wrapper form {
//    background-image: url(/fx/images/newsletter_overlay/type2/Billede_CH.jpg);
//    &.newsletter-subscribe-complete {
//        background-image: url(/fx/images/newsletter_overlay/type2/Kvittering_CH.jpg);
//    }
//    input.button {
//        background: url(/fx/images/newsletter_overlay/type2/Tilmeld-knap_CH.png);
//    }
//}

#openNewsletterModal {
    background: rgb(115, 140, 156); // Fallback
    background: rgba(115, 140, 156, 0.8);

    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 400;

    padding: 1px 3px;

    a {
        display: block;
        line-height: 20px;
        i {
            display: block;
            float: left;
            @include icons-sprite(newsletter_2);
            height: icons-sprite-height(newsletter_2);
            width: icons-sprite-width(newsletter_2);
            margin-top: -2px;
        }
        span {
            float: left;
            padding: 10px 5px;
            color: white;
            text-transform: uppercase;
            font-size: 14px;
        }
    }
}
