.filter-text {
    text-transform: uppercase;

    font-family: $font-sans;
    font-size: $side-menu-size;
    line-height: 1.8em;

    span {
        background-color: #969799;
        color: #fff;
        padding: 2px 6px;
        white-space: nowrap;

        a {
            color: #000;
            font-size: 0.6em;
            font-weight: bold;
            vertical-align: bottom;
        }

        &.last {
            background-color: inherit;
            a {
                font-size: inherit;
                font-weight: inherit;
            }
        }
    }
}

.main > .grid_6.filter-text {
    margin-bottom: 12px;
    margin-top: 0;
}

// Filter dropdown
nav.filters-dropdowns {
  margin-bottom: 6px;

  // Outer
  ul.outer {
    width: 100%;

    // First layer (visible)
    > li {
      float: left;
      width: 33%;

      // Container
      > div.filters-dropdown-container {
        display: block;
        position: relative;
        margin-right: 5px;
        background-color: $filter-dropdown-hover-bg-color;
      }

      // Container
      > div.filters-dropdown-container {

        // Link
        > a {
          display: block;
          padding: 10px;
          text-transform: uppercase;
          color: #fff;
          text-align: center;
          cursor: default;

          // Icon
          .fa {
            float: right;
            margin-right: 2px;
            color: #000;
            text-align: center;
          }
        }

        // Dropdown menu
        > ul {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          @include box-shadow(#676767 2px 2px 2px);
          background-color: $filter-dropdown-hover-bg-color;
          z-index: 200;

          // List item
          > li {
            float: left;
            width: 50%;
            padding: 5px 0;

            // Label
            label {
              font-size: 12px;
              color: #fff;
              margin-top: 2px;
              vertical-align: top;
              width: auto;
            }

            // Input
            input {
              background-color: $filter-dropdown-hover-bg-color;
              padding: 0;
              margin-left: 10px;
              margin-right: 3px;
            }

            // Last
            &:last-child {
              width: 100%;
              padding-top: 10px;

              // Link
              > a {
                font-size: 12px;
                margin-left: 10px;
              }

              // Icon
              .fa {
                float: right;
                margin-right: 10px;
                color: #000;
                cursor: hand;
                cursor: pointer;
              }
            }
          }
        }
      }

      // Last list item
      &:last-child {
        width: 34%;

        // Container
        > div.filters-dropdown-container {
          margin-right: 0;

          // Dropdown menu
          > ul {

            // List item
            > li {
              width: 100%;
            }
          }
        }
      }
    }

    // Clearfix hack taken from Bootstrap
    &:before,
    &:after {
      content: " "; // 1
      display: table; // 2
    }
    &:after {
      clear: both;
    }
  }
}

// Touch
.touch {

  // Filter dropdown
  nav.filters-dropdowns {

    // Outer
    ul.outer {

      // First layer (visible)
      > li {

        // Open
        &.open {

          // Container
          > div.filters-dropdown-container {

            // Link
            > a {

              // Icon
              > .fa {
                color: $filter-dropdown-hover-bg-color;
              }
            }

            // Dropdown menu
            > ul {
              display: block;
            }
          }
        }
      }
    }
  }
}

// No touch
.no-touch {

  // Filter dropdown
  nav.filters-dropdowns {

    // Outer
    ul.outer {

      // First layer (visible)
      > li {

        // Hover
        &:hover {

          // Container
          > div.filters-dropdown-container {

            // Link
            > a {

              // Icon
              > .fa {
                color: $filter-dropdown-hover-bg-color;
              }
            }

            // Dropdown menu
            > ul {
              display: block;

              // List item
              > li {

                // Last
                &:last-child {

                  // Icon
                  .fa {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}