.filters-selected {
  text-transform: uppercase;
  span {
    background-color: #969799;
    color: #fff;
    padding: 2px 6px;
    a {
      color: #000;
    }
  }
}

nav.filters-dropdowns {
  background-color: transparent;
  margin-bottom: 6px;

  ul {
    z-index: 180;
  }

  .outer > li {
    &.first div {
      margin-right: 6px
    }

    &.last {
      /* The dropdowns are the same width as their "parent" so no need to move the last to the left */
      &:hover {
        > ul.floaded-right {
          margin-left: 6px;
        }
      }
      > ul {
        margin-left: 6px;
      }
      div {
        margin-left: 6px;
      }
    }    

    > ul {
      @include opacity(1);
      width: 314px;
      background-color: $filter-dropdown-hover-bg-color;
      padding-top: 1em;

      label {
        color: #fff;
        margin-top: 2px;
        vertical-align: top;
        width: auto;
      }

      input {
        background-color: $filter-dropdown-hover-bg-color;
        padding: 0;
        margin: 3px 0 0 0;
      }

      > li {
        &:last-child {
          width: 296px;
        }
        &.item {
          &:nth-child(odd) {
            margin-left: 40px;
          }
          padding: 5px 8px;
          width: 111px;
          float: left;
        }
      }
    }
    > div {
      text-transform: uppercase;
      width: 304px;
      text-align: center;
      color: #fff;
      background-color: $filter-dropdown-hover-bg-color;
      padding: 10px 10px 10px 0;
    }

    &.open {

      .filter-dropdown-arrow-down {
        /* Can not use Display:none, since there is a margin */

        &:before {
          border-top-color: #a2a2a2; /* Need to make it the same as bg color of parent instead */
        }
      }
    }
  }
}

.filter-dropdown-arrow {
  display: block;
  float: right;
  background-color: transparent;
  padding: 0;
  width: 0;
  height: 0;
  margin-right: 2px;

  &:before,
  &:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: transparent;
    border-width: 3px;
    margin-left: -3px;
    border-top-color: #a2a2a2;
  }

  &:before {
    border-color: transparent;
    border-width: 5px;
    margin-left: -5px;
    border-top-color: #000;
  }

  &.filter-dropdown-arrow-down {
    margin-top: 5px;
  }

  &.filter-dropdown-arrow-up {
    margin-top: 8px;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
  }
}