/**
| _find-consultants
*/

.near-you-container{
    .entry{
        margin-bottom: 6px;
        img{display:block;}
        .box{
            width: 216px;
        }
    }
    .row{
        border-bottom: 1px solid whiteSmoke;
        &:last-child{
            border-bottom: none;
        }
    }
}

#geo-zipcode-container {
    #dialoug-message {
        width: 300px;
    }

    select#geo-zipcode {
        height: 30px;
        float: left;
        margin-right: 5px;
    }
}
