/**
| _find-consultants
*/

.near-you-container{
    .entry{
        margin-bottom: 6px;
        img {
            display:block;
            margin-top: 5px;
            margin-bottom: 10px;
        }
        .box{
            width: 216px;
        }

        .open-house-block {
            margin-top: 5px;
            border-top: 1px solid #C9C9C9;
            padding-top: 5px;
        }
    }

    .row{
        border-bottom: 1px solid whiteSmoke;
        &:last-child{
            border-bottom: none;
        }
    }
}

#geo-zipcode-container {
    #dialoug-message {
        width: 300px;
    }

    select#geo-zipcode {
        height: 30px;
        float: left;
        margin-right: 5px;
    }
}
