/**
|
| Footer styles
|
*/

footer{
	margin: 0;
	color:$footer-color;
	font-size:$footer-size;
	font-family:$footer-family;
	font-weight:$footer-weight;
	line-height:$footer-line-height;
	h2{
		font-size: 16px;
		font-family: $font-serif;
		letter-spacing: 0;
	}
	.footer-menu{
		li{
			padding: 0 0 5px;
		}
		&.footer-menu-4{
			text-align: right;
			#newsletter-lists-container {
				text-align: left;
				display: inline-block;
				input[type=submit] {
					float: right;
				}
			}
		}
	}
	.copy {
		text-align:center;
		ul{
			display: inline-block;
			li{
				display: inline-block;
				padding: 0 5px;
			}
		}
		a{
			text-decoration: none;
		}
	}
}