/**
| _footer
*/

footer{
	margin: 12px 0 !important;
	margin: 0;
	padding-top: 10px !important;
	color:$footer-color;
	font-size:$footer-size;
	font-family:$footer-family;
	font-weight:$footer-weight;
	line-height:$footer-line-height;
	h2{
		font-size: $footer-heading-size;
		font-family: $font-serif;
		letter-spacing: 0;
	}
	.footer-menu{
		li{
			padding: 0 0 5px;
		}
		&.footer-menu-4{
			text-align: right;
			.container {
				text-align: left;
				display: inline-block;
				input[type=submit] {
					float: right;
					font-size: 12px;
					font-family: $font-serif;
					letter-spacing: 0;
				}
			}
			.sprite{
				@include icons-sprite(newsletter);
				height: icons-sprite-height(newsletter);
				width: icons-sprite-width(newsletter);
				float: left;
                margin-left: 40px;
			}
			input[type="email"],
			input[type="text"]{
				width: 222px;
				display: block;
				padding: 4px 5px;
			}
			#dialoug-message{
				width: 200px;
				border: 2px solid $alert-border-color;
				text-align: center;
			}
			form{
				font-family:$font-sans;
                font-size: $footer-size;
				width: 234px;
			}
		}
	}
	.copy {
		margin-top: 3px;
		text-align:center;
		font-size:$footer-size;
		font-family:$font-sans;
		font-weight:$font-weight-thin;
		ul{
			display: inline-block;
			li{
				display: inline-block;
				padding: 0 5px;
				vertical-align: middle;
				border-left: 1px solid black;
				&:first-child{
					border-left: none;
				}
			}
		}
		a{
			text-decoration: none;
		}
	}
	.menu {
		font-size:$footer-size;
	}
}
