/**
| _header
*/

#logo {
	margin-top: 6px;
}

.top-bar {
    background-color: #dcd8d2;
    position: absolute;
    top: 0;
    width: 100%;
    height: 34px;
}

nav.first.main-menu {
    ul, ul li, ul li form, ul li form input {
        font-size: $main-menu-size;
    }

    background-color: #dcd8d2;
    margin-bottom: 6px;
    padding: 3px 0;

    >ul {
        z-index: 220;
        margin-left: 10px;

        &.topmenu {
          padding-right: 234px;
        }
        &.right {
            position: absolute;
            right: 0;
            top: 2px;
            li.last {
                padding: 0;
            }
        }

        li {
            padding-top: 7px;
            ul.on {
                background-color: #fff;
            }
            a {
                text-transform: uppercase;
                font-family: $font-sans;
                font-size: $main-menu-size;
                padding: 0 10px 9px;
                color: #444;
                font-weight: normal;
            }
        }
    }
}
form.search-form {
    position: relative;
    &:before {
        @include icons-sprite(search);

        height: icons-sprite-height(search);
        width: icons-sprite-width(search);
        content: " ";
        display: block;

        position: absolute;
        top: 50%;
        left: 9px;
        margin-top: -7px;
    }
    input[type="text"] {
        border: none;
        padding: 5px;
        padding-left: 27px;
        width: 234px;
        background-color: inherit;
        &:focus {
            background-color: white;
            outline: none;
            outline-width: 0;
        }
        font-family: $font-sans;

        &::-webkit-input-placeholder { /* WebKit browsers */
          color: #444;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color: #444;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
          color: #444;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10+ */
          color: #444;
        }
    }
    input[type="submit"] {
        display: none;
    }
}


// All menus
nav > ul,
ul.menu,
.menu > ul{
    font-size: $font-size;
    font-family: $font-sans;
    color: $font-color;
    letter-spacing: 0;
    z-index: 200; // z-index and position to fix rendering in IE7. This must be higher than the actually z-index of child
    position: relative;
    li {
        position: relative;
        a {
            color: $font-color;
            text-decoration: none;
            text-transform: uppercase;
		}
		&.active > a,
		&.active-trail > a,
		a:hover{
			text-decoration: underline;
		}
	}
	.dropdown{
		position: absolute;
		left: 0;
		background: white;
		@include shadow;
		padding: 0 9px;
		max-height: 400px;
		overflow-y: auto;
		overflow-x: hidden;
		z-index: 141;
	}
	&.right{
		text-align: right;
		.dropdown{
			left: auto;
			right: 0;
		}
	}
}
ul.sub-menu,
.sub-menu > ul{
	@include side-menu-style;
	text-transform: uppercase;
	li{
		padding: 6px 0 6px 0;
		line-height: 18px;
		&.item{
			a{
				line-height: 18px;
			}
		}
		&.heading > a,
		&.self-included > a{
			font-weight: bold;
			display: block;
			line-height: 18px;
			text-decoration: none;
			cursor: default;
		}
		&.active-trail > a{
			text-decoration: none;
			&:hover{text-decoration:underline;}
		}

		ul{
			padding:6px 0 0 12px;
			a{
				display: inline-block;
			}
		}
	}
}

// horizontal helper. Lets all list get horizontal
ul.horizontal,
.horizontal > ul{
	list-style: none;
	li{
		display: inline-block;
	}
}

// Specific Secondary menu

div header.row {
    position:relative;
}
#secondary-links {
	position: absolute;
	top: 0px;
	right: 3px;
	li{
		padding: 8px;
		vertical-align: middle;
		&.last{
			padding-right: 0;
        }
        // Mini-basket in secondary links!
        &.basket {
            .sprite{
                display: inline-block;
                vertical-align: middle;
                @include icons-sprite(basket);
                height: icons-sprite-height(basket);
                width: icons-sprite-width(basket);
            }
            a {
                color: $basket-color;
                font-size: $basket-font-size;
                font-weight: $basket-font-weight;
                font-family: $font-sans;
				display:inline-block;
				vertical-align: middle;
                margin-left: 5px;
			}
		}
		a,input{
			font-size: 0.8em;
			text-transform: uppercase;
		}
		input{
			padding: 4px 5px;
		}
		.dropdown{
			z-index: 201; // This dropdown needs to be on top of the main menu
            a {
              display: block;
              margin: 15px 5px;
            }
		}
	}
	.second{
		z-index: 1;
        a {
            color: $basket-color;
            font-size: $basket-font-size;
            font-weight: $basket-font-weight;
            font-family: $font-sans;
        }
	}
}

ul.breadcrumb {
	list-style: none;
	font-size: $side-menu-size;
	font-family: $side-menu-family;
	color:$side-menu-color;
    margin-bottom:12px;
	li {
		display: inline-block;
		padding: 0 3px;
		&.first{
			padding: 0 3px 0 0;
		}
		a{
			color:$font-color;
			text-decoration: none;
		}
		&.active > a,
		&.active-trail > a,
		a:hover{
			text-decoration: underline;
		}
		&.heading{
			a:hover{
				text-decoration:none;
				cursor: default;}
		}
		i.arrow-right{
			margin-top: 3px;
		}
		&.last i.arrow-right{display:none;}
	}
}

.container .main header{
	display: table;
	min-height: 100px;
	background: #d2c3c6;
	height: 100px;
	margin-bottom: 28px;
	hgroup{
		color: white;
		padding: 10px;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		h1,h2,h3,h4,h5{
			text-transform: uppercase;
			padding: 0 0 10px;
			font-size: 21px;
			color: white;
			font-weight: normal;
		}
		h6{
			font-size: $font-size;
			font-weight: normal;
			color: white;
		}
		a,p{
			color: white;
		}
	}
}

.body-bycolour .main header,
.body-bylook .main header,
.body-category .main header{ // Specific for all categories
	background: #d2c3c6;
	background: url('/fx/images/headers/Top_Kjoler_955x200.jpg') no-repeat top center;
}

#body-account .main header,
#body-basket .main header,
#body-checkout .main header,
#body-checkout-success .main header,
#body-create-account .main header,
#body-event .main header,
#body-gothia .main header,
#body-login .main header,
#body-pensio-payment-failed .main header,
#body-pensio-pensio-payment-form .main header,
#body-pensio-wait .main header{
	background: #d2c3c6;
	background: url('/fx/images/headers/Kategori_Min_side_960x100.jpg') no-repeat top center;
	hgroup{
		h1,h2,h3,h4,h5,h6,a,p{
			color: #444;
		}
	}
}

