/**
|
| Menus and header styles
|
*/

// horizontal helper. Lets all list get horizontal
ul.horizontal,
.horizontal > ul{
	list-style: none;
	li{
		display: inline-block;
	}

}

// All menus
nav > ul,
ul.menu,
.menu > ul{
	font-size: $font-size;
	color:$font-color;
	li {
		position: relative;
		a{
			color:$font-color;
			text-decoration: none;
		}
		&.active > a,
		&.active-trail > a,
		a:hover{
			border-bottom: 1px solid $font-color;
		}
	}
	li:hover ul,
	li:hover div{
		left: 0;
	}
	li ul,
	li div {
		position: absolute;
		left: -9999px;
		z-index: 100;
	}
	li ul li a {
		display: block;
		position: relative;
		z-index:100;
	}

	.dropdown{
		position: absolute;
		left: 0;
		background: white;
	}
	&.right{
		text-align: right;
	}
}

// Specific main menus
nav.main{
	li{
		padding: 2px 16px 0 0;
		a{
			text-transform: uppercase;
		}

		ul{
			padding: 20px;
			li{
				padding: 5px 0;
			}
		}
	}
}

// Specific Secondary menu
#secondary-links{
	position: absolute;
	top: 0px;
	right: 0px;
	li{
		padding: 16px 8px;
		vertical-align: middle;
		// Mini-basket in secondary links!
		&.basket a{
			background: url('/fx/images/icons/basket.png') no-repeat left top;
			display: block;
			height: 45px;
			line-height: 45px;
			vertical-align: middle;
			padding-left:40px;
		}
		a{
			text-transform: uppercase;
		}
	}
}
