/**
| _ie
*/
html.ie7{

    footer .copy ul,
    ul.horizontal,
    .horizontal > ul{
        clear: both;
        li{
            display: inline;
            float: left;
        }
    }
    a.product-color{
        display: inline;
        .colorbuttons{
            display: block;
            margin: 0;
        }
    }
    ul.tabs {
        height: $heading-small-line-height;
        li{
            display: inline;
            float: left;
        }
    }
    .cycle-slideshow {
        .cycle-pager{
            span{
                display: inline;
                line-height: 31px;
            }
        }
    }
    footer .footer-menu li{
        display: inline;
        width: 100%;
        a{
            display: block;
        }
    }
    hr{ // Only needs in ie7
        filter : alpha(opacity=0);
    }
}
html.ie8{

}

html.oldie{

    nav.main-menu > ul > li > ul.on {
        border: #F0F0F0 1px solid;
    }
    #secondary-links .menu.horizontal{
        clear: both;
        li{
            display: inline;
            float: left;
            > a {
                display: block;
            }
            .dropdown a{
                line-height: 14px;
            }
        }
        &.second{
            li a{
                line-height: icons-sprite-height(basket);
                display: inline;
            }
        }
    }

    hr {
        // IE Bug. HRs have ugly borders in IE7-8
        display : list-item;
        list-style : url(/fx/images/icons/icons/divider.png) inside;
        width : 100%;

        &.left {
            list-style : url(/fx/images/icons/icons/divider_left.png) inside;
        }
        &.right {
            list-style : url(/fx/images/icons/icons/divider_right.png) inside;
        }
    }
    .pager ul{
        list-style: none;
        display: inline;
        float: right;
        li{
            float: left;
            padding: 0 3px;
        }
    }
    ul.breadcrumb{
        display: inline;
        li{
            float: left;
            padding: 0 6px;
            &.first{
                padding:0 6px 0 0;
            }
        }
    }
    .back-to-category{
        margin-top: 12px;
        clear: both;
        display: block;
    }

    #body-login .main{
        #password {
            font-family: $font-sans;
        }
    }

}

