/**
| _ie
*/
.ie7{

    footer .copy ul,
    ul.horizontal,
    .horizontal > ul{
        clear: both;
        li{
            display: inline;
            float: left;
        }
    }
}
.ie8{

}

.oldie{

    nav.main-menu > ul > li > ul.on {
        border: #F0F0F0 1px solid;
    }
}

