
@import "compass/css3/box-shadow";
@mixin image-button($url, $height, $width){
	background: url($url) no-repeat;
	width: $width;
	height: $height;
	padding: 0;
	border: none;
	text-indent: -999px;
	display: inline-block;
}
@mixin image-replacement{
	padding: 0;
	border: none;
	text-indent: -999px;
	display: inline-block;
}

@mixin main-menu-style{
	color:$main-menu-color;
	font-size:$main-menu-size;
	font-family:$main-menu-family;
	font-weight:$main-menu-weight;
	line-height:$main-menu-line-height;
}

@mixin side-menu-style{
	color:$side-menu-color;
	font-size:$side-menu-size;
	font-family:$side-menu-family;
	font-weight:$side-menu-weight;
	line-height:$side-menu-line-height;
}

@mixin paragraph-style{
	color:$paragraph-color;
	font-size:$paragraph-size;
	font-family:$paragraph-family;
	font-weight:$paragraph-weight;
	line-height:$paragraph-line-height;
}

@mixin heading-style{
	color:$heading-color;
	font-size:$heading-size;
	font-family:$heading-family;
	font-weight:$heading-weight;
	line-height:$heading-line-height;
}

@mixin heading-small-style{
	color:$heading-small-color;
	font-size:$heading-small-size;
	font-family:$heading-small-family;
	font-weight:$heading-small-weight;
	line-height:$heading-small-line-height;
}

@mixin shadow{
    @include box-shadow(#C9C9C9 -1px 1px 2px);
	border: #F0F0F0 1px solid;
}
@mixin box{
	background-color: whiteSmoke;
	@include shadow;
}

@mixin placeholder($color) {
	&::-webkit-input-placeholder { /* WebKit browsers */
		color: $color;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: $color;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: $color;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10+ */
		color: $color;
	}
}
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {

  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}
@mixin clearfix{

  // Clearfix hack taken from Bootstrap
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}