.product-list{
	.block{
		a{
			border: none;
			font-family: $font-serif;
			font-size: $font-size;
			text-decoration: none;
			text-align: center;
			position: relative;
			img{

			}
			.title{
				display: block;
			}
			.prices{
				display: block;
				color: $font-color;
				margin-top: 6px;
			}
			.new-price{
				position: absolute;
				bottom:0;
				right:0;
				text-indent: -999px;
			}
		}
	}
}