/**
| _product
*/

#cboxClose {
    border: none;
    background-color: transparent;
}

.bordered,
.bordered-bottom {
    border-bottom: 1px solid #888;
}

.bordered,
.bordered-top {
    border-top: 1px solid #888;
    margin-top: 6px;
}

/* - tabs */
ul.tabs {
    list-style: none;
    margin: 0;
    padding: 6px 0;
    margin: 6px 0;
    li {
        display: inline-block;
        margin-right: 15px;
        a {
            font-family: $font-serif;
            i {
                display: inline;
                float: left;
                margin-right: 20px;
                margin-top: 2px;
                @include icons-sprite(arrow_right);
                height: icons-sprite-height(arrow_right);
                width: icons-sprite-width(arrow_right);
            }
            &.current {
                i {
                    @include icons-sprite(arrow_down);
                    height: icons-sprite-height(arrow_down);
                    width: icons-sprite-width(arrow_down);
                }
            }
            &:hover {
                border-bottom: none;
            }
        }
    }
}

div.panes > div {
    padding: 6px;
    margin-bottom: 18px;
}

.history-link {
    margin-bottom: 5px;
}

.zoom {
    display: block;
    margin-top: 20px;
    text-align: center;
    background-color: #c0c0c0;
    color: #fff;
    padding: 5px;
    text-transform: uppercase;
    .sprite {
        padding-left: 25px;
        margin-left: -25px;
        line-height: 1.3em;
        @include icons-sprite(zoom);
        height: icons-sprite-height(zoom);
        width: icons-sprite-width(zoom);
    }
}

.body-product .breadcrumb {
    margin-bottom: 16px;
}

a.video-popper, #video-player-container a.video {
    display: inline-block;
    margin-top: 20px;
    .sprite {
        @include icons-sprite(catwalk);
        height: icons-sprite-height(catwalk) - 1px;
        width: icons-sprite-width(catwalk) - 1px;
    }
}

.body-buy-set {
    .header {
        padding: 20px 0;
    }
    .main h2 {
        font-family: $font-sans;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 6px;
    }
}

.body-product .main {
    h1.title,
    h2.title,
    .prices {
        font-family: $product-title-family;
        font-size: $product-title-size;
        font-weight: $product-title-weight;
        line-height: $product-title-line-height;
        color: $product-title-color;
        clear: both;
        text-transform: initial;
    }
    .prices {
        padding: 0 0 12px;
        .description {
            font-family: $font-sans;
            font-size: $small_size
        }
    }

    h4 {
        padding: 6px 0;
        font-weight: $font-weight-thin;
        font-family: $font-sans;
    }
    .productimage-large {
        position: relative;
        .next,
        .prev {
            position: absolute;
            top: 50%;
            display: block;
            cursor: pointer;
        }
        .prev {
            left: 0;
            @include icons-sprite(arrowbox_left);
            height: icons-sprite-height(arrowbox_left);
            width: icons-sprite-width(arrowbox_left);
        }
        .next {
            right: 0;
            @include icons-sprite(arrowbox_right);
            height: icons-sprite-height(arrowbox_right);
            width: icons-sprite-width(arrowbox_right);
        }
    }
}

form.buy {
//    margin-bottom: 16px;
    position: relative;
    overflow: hidden;

    label {
        display: block;
        padding: 0 6px 0 0;
        margin: 10px 0;
        span {
            display: block;
        }
        select {
            width: 237px;
        }
        &.off {
            display: none;
        }
    }

    h4.bordered {
        font-family: $font-sans;
        font-size: $paragraph-size;
    }

    #dialoug-message {
        width: 85%;
    }

    .sizeguide {
        display: block;
        @include icons-sprite(sizeguide);
        line-height: icons-sprite-height(sizeguide);
        padding-left: icons-sprite-width(sizeguide) + 8px;
    }

    .options {}

    .add-buttons {
        text-align: center;
        position: absolute;
        bottom: 0;

        a.wishlist {
            display: inline-block;
            @include icons-sprite(wishlist);
            line-height: icons-sprite-height(wishlist);
            padding-left: icons-sprite-width(wishlist) + 7px;
        }

        .submit-button {
            margin-bottom: 10px;
            cursor: pointer;
            @include image-replacement;
            display: inline-block;
            background-color: #fff;
        }
    }
}

.latest-seen-poducts,
.productimage-small,
.style-guide {
    a {
        vertical-align: top;
        display: inline-block;
        margin-right: 2px;
        img {
            padding: 1px;
        }
        &:hover {
            border-bottom: none;
            margin-bottom: 0;
            img {
                padding: 0px;
                border: 1px solid #888;
            }
        }
        &.buy-set {
            @include image-replacement;
            margin-top: 50px;
        }
    }
    .last {
        margin-right: 0;
    }
}

.latest-seen-poducts {
    img {
        width: 99px;
        height: auto;
    }
}

.style-guide, .style-guide .element {
    display: none;
}

@import "colorbuttons/*.png";
@include all-colorbuttons-sprites;
// Generates a sprite from all images inside the folder
@mixin colorbutton($name) {
    .colorbuttons-#{$name} {
        @include colorbuttons-sprite($name);
        height: colorbuttons-sprite-height($name);
        width: colorbuttons-sprite-width($name);
    }
    &.current,
    &:hover {
        .colorbuttons-#{$name} {
            @include colorbuttons-sprite(#{$name}_active);
        }
    }
}

a.product-color {
  margin: 3px;
  display: inline-block;
  text-align: center;
  width: 105px;
  font-size: $product-size;
  vertical-align: top;
  white-space: nowrap;
  .colorbuttons {
    display: block;
    margin: 0 auto;
  }

  /* Only images without _active */
  /* unalias ls; for i in $(ls web/fx/images/colorbuttons/*.png | grep -v _active); do basename -s .png $i; done */
  @include colorbutton(_aqua-melange);
  @include colorbutton(_aqua);
  @include colorbutton(_black9off-white);
  @include colorbutton(_black-melange);
  @include colorbutton(_black);
  @include colorbutton(_black-wide-stripe);
  @include colorbutton(_blue9navy);
  @include colorbutton(_blue9off-white);
  @include colorbutton(_blue9rose);
  @include colorbutton(_blue9star);
  @include colorbutton(_blue9yellow);
  @include colorbutton(_blue-denim);
  @include colorbutton(_blue-melange);
  @include colorbutton(_blue);
  @include colorbutton(_bright-blue);
  @include colorbutton(_brown);
  @include colorbutton(_copper9black);
  @include colorbutton(_dark-blue-melange);
  @include colorbutton(_dark-grey-melange);
  @include colorbutton(_dark-grey);
  @include colorbutton(_dark-rose);
  @include colorbutton(_dusty-blue);
  @include colorbutton(_dusty-brown);
  @include colorbutton(_eggplant);
  @include colorbutton(_green-narrow-stripe);
  @include colorbutton(_green);
  @include colorbutton(_grey9black);
  @include colorbutton(_grey9blue);
  @include colorbutton(_grey-melange);
  @include colorbutton(_grey);
  @include colorbutton(_hazelnut);
  @include colorbutton(_khaki);
  @include colorbutton(_light-blue-denim);
  @include colorbutton(_light-blue);
  @include colorbutton(_light-grey);
  @include colorbutton(_light-rose);
  @include colorbutton(_navy9blue);
  @include colorbutton(_navy9camel);
  @include colorbutton(_navy9green);
  @include colorbutton(_navy9off-white);
  @include colorbutton(_navy9palm);
  @include colorbutton(_navy9petrol);
  @include colorbutton(_navy9red);
  @include colorbutton(_navy9shoe);
  @include colorbutton(_navy-melange-block);
  @include colorbutton(_navy-melange);
  @include colorbutton(_navy-melange-stripe);
  @include colorbutton(_navy-narrow-stripe);
  @include colorbutton(_navy);
  @include colorbutton(_navy_stripe);
  @include colorbutton(_navy-wide-stripe);
  @include colorbutton(_off-white9blue);
  @include colorbutton(_off-white);
  @include colorbutton(_peach);
  @include colorbutton(_petrol);
  @include colorbutton(_petrol-stripe);
  @include colorbutton(_plum);
  @include colorbutton(_red);
  @include colorbutton(_rose9black);
  @include colorbutton(_rose9grey);
  @include colorbutton(_rose9navy);
  @include colorbutton(_rose9off-white);
  @include colorbutton(_rose-melange);
  @include colorbutton(_rose);
  @include colorbutton(_sand);
  @include colorbutton(_white);
  @include colorbutton(_yellow9off-white);
  @include colorbutton(_yellow);
}

.quantity-discount-table {
  margin: 0 0 16px 0;
  font-size: 0.9em;
}
