form.quickorder,
div.quickorder {
  padding-bottom: 50px;
  label{
    display: inline-block;
    width: auto;
  }
  input, select {
    margin-right: 5px;
  }
  .ui-autocomplete {
    list-style-type: none;
    padding: 0px 5px;
    display: inline-block;
    .ui-menu-item {
      cursor: pointer;
    }
  }
  input.quantity {
    width: 50px;
    text-align: center;
  }
}

.typeahead.dropdown-menu {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 4px 0;
  margin: 1px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  a {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    white-space: nowrap;
    color: #333;
  }
  li > a:hover {
    text-decoration: none;
    background-color: #D9D9D9;
  }
  .active > a {
    text-decoration: none;
    background-color: #D9D9D9;
    &:hover {
      text-decoration: none;
      background-color: #D9D9D9;
    }
  }
}
