/**
| _rma
*/
#body-rma {
    .product-table {
        label{
            width: 100%;
            input, select, textarea {
                display: block;
                margin: 0 5px 10px;
            }
            textarea {
                width: 60%;
                height: 60px;
            }
        }
        thead input[type=checkbox]{
            display: inline-block;
        }
        .rma-productreplacement {
            label, input, select {
                display: block;
                width: auto;
                float: left;

                &.off {
                    display: none;
                }
            }
            input[type=submit],
            input[type=button] {
                margin-top: 12px;
            }
        }
        td.actions {
            width: 610px;
        }
    }
    div.quickorder{
        padding: 0;
    }
    .cached-version {
        float: right;
    }
}
.rma-icon {
    text-transform: uppercase;
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 12px;
    height: 15px;
    display: inline-block;
}

#rma_claims {
    label span {
        display: block
    }
}
