/**
| _rma
*/
#body-rma {
    .product-table{
        label{
            input, select, textarea {
                display: block;
                margin: 0 0 10px;
            }
            textarea {
                width: 100%;
                height: 120px;
            }
        }
        td.actions {
            width: 610px;
        }
    }
    div.quickorder{
        padding: 0;
    }
}
.rma-icon {
    text-transform: uppercase;
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 12px;
    height: 15px;
    display: inline-block;
}