/**
| _social
*/
.social-buttons{
	a{
		&.icons-facebook{
			height: icons-sprite-height(facebook);
			width: icons-sprite-width(facebook);
		}
		&.icons-twitter{
			height: icons-sprite-height(twitter);
			width: icons-sprite-width(twitter);
		}
		&.icons-pinterest{
			height: icons-sprite-height(pinterest);
			width: icons-sprite-width(pinterest);
		}
	}
}

html.consultant .social-buttons{
	display: none;
}

a.facebook-button,
.facebook-button{
	background: #eceef5;
	-webkit-border-radius: 3px;
	border: 1px solid #cad4e7;
	cursor: pointer;
	padding: 2px 6px 4px;
	white-space: nowrap;
	color: #3b5998;
	display: inline-block;
	text-align: center;
	font-size: 11px;
	text-decoration: none;
	&:hover, &:active, &:focus{
		border-color: #9dacce;
		text-decoration: underline;
	}
	// button{
	// 	background: transparent;
	// 	border: 0;
	// 	margin: -1px;
	// 	padding: 0;
	// 	font: inherit;
	// 	color: inherit;
	// 	cursor: pointer;
	// }
}
