/**
| _sprites.
*/

@import "icons/da/*.png";
//@include all-da-sprites; //
@import "icons/icons/*.png";
@include all-icons-sprites; // Generates a sprite from all images inside the folder

@import "icons/fi/*.png";
//@include all-fi-sprites; // Generates a sprite from all images inside the folder
@import "icons/nl/*.png";
//@include all-nl-sprites; // Generates a sprite from all images inside the folder
@import "icons/no/*.png";
//@include all-no-sprites; // Generates a sprite from all images inside the folder
@import "icons/se/*.png";
//@include all-se-sprites; // Generates a sprite from all images inside the folder
@import "icons/en/*.png";
//@include all-en-sprites; // Generates a sprite from all images inside the folder
@import "icons/de/*.png";
//@include all-de-sprites; // Generates a sprite from all images inside the folder

.sprite{display:inline-block;}
.sprite-block{display:block;}
.icons-print {
    height: icons-sprite-height(print);
    width: icons-sprite-width(print);
}

body.da{
    form.buy .submit-button{
        @include da-sprite(put-to-basket);
        height: da-sprite-height(put-to-basket);
        width: da-sprite-width(put-to-basket);
    }
    .buy-set{
        @include da-sprite(buy-set);
        height: da-sprite-height(buy-set);
        width: da-sprite-width(buy-set);
    }
    .new-price{
        @include da-sprite(new-price);
        height: da-sprite-height(new-price);
        width: da-sprite-width(new-price);
    }
    .out-of-stock{
        @include da-sprite(out-of-stock);
        height: da-sprite-height(out-of-stock);
        width: da-sprite-width(out-of-stock);
    }
    .close-button{
        @include da-sprite(close-button);
        height: da-sprite-height(close-button);
        width: da-sprite-width(close-button);
    }
    .subscribe-button{
        @include da-sprite(subscribe-button);
        height: da-sprite-height(subscribe-button);
        width: da-sprite-width(subscribe-button);
    }
    .create-wishlist{
        @include da-sprite(create-wishlist);
        height: da-sprite-height(create-wishlist);
        width: da-sprite-width(create-wishlist);
    }
}

body.de{
    form.buy .submit-button{
        @include de-sprite(put-to-basket);
        height: de-sprite-height(put-to-basket);
        width: de-sprite-width(put-to-basket);
    }
    .buy-set{
        @include de-sprite(buy-set);
        height: de-sprite-height(buy-set);
        width: de-sprite-width(buy-set);
    }
    .new-price{
        @include de-sprite(new-price);
        height: de-sprite-height(new-price);
        width: de-sprite-width(new-price);
    }
    .out-of-stock{
        @include de-sprite(out-of-stock);
        height: de-sprite-height(out-of-stock);
        width: de-sprite-width(out-of-stock);
    }
    .close-button{
        @include de-sprite(close-button);
        height: de-sprite-height(close-button);
        width: de-sprite-width(close-button);
    }
    .subscribe-button{
        @include de-sprite(subscribe-button);
        height: de-sprite-height(subscribe-button);
        width: de-sprite-width(subscribe-button);
    }
}

body.en{
    form.buy .submit-button{
        @include en-sprite(put-to-basket);
        height: en-sprite-height(put-to-basket);
        width: en-sprite-width(put-to-basket);
    }
    .buy-set{
        @include en-sprite(buy-set);
        height: en-sprite-height(buy-set);
        width: en-sprite-width(buy-set);
    }
    .new-price{
        @include en-sprite(new-price);
        height: en-sprite-height(new-price);
        width: en-sprite-width(new-price);
    }
    .out-of-stock{
        @include en-sprite(out-of-stock);
        height: en-sprite-height(out-of-stock);
        width: en-sprite-width(out-of-stock);
    }
    .close-button{
        @include en-sprite(close-button);
        height: en-sprite-height(close-button);
        width: en-sprite-width(close-button);
    }
    .subscribe-button{
        @include en-sprite(subscribe-button);
        height: en-sprite-height(subscribe-button);
        width: en-sprite-width(subscribe-button);
    }
}

body.fi{
    form.buy .submit-button{
        @include fi-sprite(put-to-basket);
        height: fi-sprite-height(put-to-basket);
        width: fi-sprite-width(put-to-basket);
    }
    .buy-set{
        @include fi-sprite(buy-set);
        height: fi-sprite-height(buy-set);
        width: fi-sprite-width(buy-set);
    }
    .new-price{
        @include fi-sprite(new-price);
        height: fi-sprite-height(new-price);
        width: fi-sprite-width(new-price);
    }
    .out-of-stock{
        @include fi-sprite(out-of-stock);
        height: fi-sprite-height(out-of-stock);
        width: fi-sprite-width(out-of-stock);
    }
    .close-button{
        @include en-sprite(close-button);
        height: en-sprite-height(close-button);
        width: en-sprite-width(close-button);
    }
    .subscribe-button{
        @include fi-sprite(subscribe-button);
        height: fi-sprite-height(subscribe-button);
        width: fi-sprite-width(subscribe-button);
    }
}

body.nb{
    form.buy .submit-button{
        @include no-sprite(put-to-basket);
        height: no-sprite-height(put-to-basket);
        width: no-sprite-width(put-to-basket);
    }
    .buy-set{
        @include no-sprite(buy-set);
        height: no-sprite-height(buy-set);
        width: no-sprite-width(buy-set);
    }
    .new-price{
        @include no-sprite(new-price);
        height: no-sprite-height(new-price);
        width: no-sprite-width(new-price);
    }
    .out-of-stock{
        @include no-sprite(out-of-stock);
        height: no-sprite-height(out-of-stock);
        width: no-sprite-width(out-of-stock);
    }
    .close-button{
        @include no-sprite(close-button);
        height: no-sprite-height(close-button);
        width: no-sprite-width(close-button);
    }
    .subscribe-button{
        @include no-sprite(subscribe-button);
        height: no-sprite-height(subscribe-button);
        width: no-sprite-width(subscribe-button);
    }
}

body.nl{
    form.buy .submit-button{
        @include nl-sprite(put-to-basket);
        height: nl-sprite-height(put-to-basket);
        width: nl-sprite-width(put-to-basket);
    }
    .buy-set{
        @include nl-sprite(buy-set);
        height: nl-sprite-height(buy-set);
        width: nl-sprite-width(buy-set);
    }
    .new-price{
        @include nl-sprite(new-price);
        height: nl-sprite-height(new-price);
        width: nl-sprite-width(new-price);
    }
    .out-of-stock{
        @include nl-sprite(out-of-stock);
        height: nl-sprite-height(out-of-stock);
        width: nl-sprite-width(out-of-stock);
    }
    .close-button{
        @include nl-sprite(close-button);
        height: nl-sprite-height(close-button);
        width: nl-sprite-width(close-button);
    }
    .subscribe-button{
        @include nl-sprite(subscribe-button);
        height: nl-sprite-height(subscribe-button);
        width: nl-sprite-width(subscribe-button);
    }
}

body.sv{
    form.buy .submit-button{
        @include se-sprite(put-to-basket);
        height: se-sprite-height(put-to-basket);
        width: se-sprite-width(put-to-basket);
    }
    .buy-set{
        @include se-sprite(buy-set);
        height: se-sprite-height(buy-set);
        width: se-sprite-width(buy-set);
    }
    .new-price{
        @include se-sprite(new-price);
        height: se-sprite-height(new-price);
        width: se-sprite-width(new-price);
    }
    .out-of-stock{
        @include se-sprite(out-of-stock);
        height: se-sprite-height(out-of-stock);
        width: se-sprite-width(out-of-stock);
    }
    .close-button{
        @include se-sprite(close-button);
        height: se-sprite-height(close-button);
        width: se-sprite-width(close-button);
    }
    .subscribe-button{
        @include se-sprite(subscribe-button);
        height: se-sprite-height(subscribe-button);
        width: se-sprite-width(subscribe-button);
    }
}
