/**
| _topmenu
*/
@import "compass/css3/box-shadow";
@import "compass/css3/opacity";

nav.main-menu {
  background: #484a4d;
  padding: 0;
  ul.topmenu {
    &.outer {
      margin: 0 auto;
    }
  }
  ul {
    z-index: 210; // z-index and rpoition to fix rendering in IE7. This must be higher than the actually z-index of child
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    &.outer {
      display: table;
    }
  }
  // Main menu-items
  > ul > li {
    float: left;
    width: auto;
    position: relative;
    // Hover effect on sub-menus. .on class are used on touch devices.
    > ul.on,
    &:hover > ul {
      left: 0;
      top: auto;
      z-index: 150;
    }
    &.last:hover > ul.floaded-right {
      margin-left: -70px;
      left: initial;
      right: 0;
    }
    &.last > a {
      padding-right: 0;
    }
    > {
      a {
        padding: 10px 20px 10px 0;
        display: block;
        font-size: 14px;
        color: white;
      }
      // Sub menu-items
      ul {
        position: absolute;
        left: -9999px;
        border-top: 0;
        width: 250px;
        z-index: 1;
        background-color: #fff;
        font-family: $font-sans;
        font-size: $side-menu-size;
        line-height: $side-menu-line-height;
        @include opacity(0.95);
        @include box-shadow(#676767 2px 2px 8px);
        > li {
          float: none;
          padding: 10px 8px;
          width: 200px;
          // Sub Sub menu-items
          > ul {
            li {
              float: none;
              padding-top: 12px;
            }
          }
        }
        li {
          &.floaded{
            float: left;
          }
          &.heading > a,
          &.self-included > a{
            font-weight: bold;
            display: block;
            line-height: 18px;
            text-decoration: none;
            padding: 3px 0 3px 0px;
            cursor: default;
          }
        }
      }
    }
  }
}

nav.category-menu {
  ul {
    &.outer {
      .open {
        background-color: $category-menu-hover-bg-color;
      }
    }
  }
  > ul > li {
    a {
      margin-left: 10px;
    }
    > {
      ul {
        @include opacity(1);
        /* box-shadow: none; */
        /* @include box-shadow(#676767 2px 8px 7px, #676767 -2px 8px 7px); */
        background-color: $category-menu-hover-bg-color;
      }
    }
  }
}

.consultant nav.main-menu > ul > li > a {
  font-size: $font-size;
}
