/**
| _topmenu
*/
@import "compass/css3/box-shadow";

nav.main-menu {
  ul {
    z-index: 210; // z-index and rpoition to fix rendering in IE7. This must be higher than the actually z-index of child
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  // Main menu-items
  > ul > li {
    float: left;
    width: auto;
    padding: 15px 20px 0 0;
    position: relative;
    > {
      a {
        display: block;
        font-size: $heading-size;
      }
      // Sub menu-items
      ul {
        position: absolute;
        left: -9999px;
        border-top: 0;
        width: 250px;
        margin-top: 10px;
        z-index: 1;
        background-color: #fff;
        font-family: $font-sans;
        font-size: $side-menu-size;
        line-height: $side-menu-line-height;

        > li {
          float: none;
          padding: 10px 8px;
          // Sub Sub menu-items
          > ul {
            padding-left: 10px;
            > li {
              float: none;
              padding-top: 12px;
            }
          }
        }
        li {
          &.floaded{
            float: left;
            margin-right: 10px;
          }
          &.heading > a,
          &.self-included > a{
            font-weight: bold;
            display: block;
            line-height: 18px;
            text-decoration: none;
            padding: 3px 0 3px 0px;
            cursor: default;
          }
        }
        &.on {
          left: 0;
          top: auto;
          z-index: 150;
          @include box-shadow($paragraph-color 4px 4px 8px);
        }
      }
    }
  }
}
