/**
| _topmenu
*/
@import "compass/css3/box-shadow";

nav.main-menu {
  background: #484a4d;
  padding: 0 10px;
  ul {
    z-index: 310; // z-index and rpoition to fix rendering in IE7. This must be higher than the actually z-index of child
    position: initial;
    list-style: none;
    padding: 0;
    margin: 0;
    &.outer {
      display: table;
      margin: 0 auto;
    }
  }
  // Main menu-items
  > ul > li {
    float: left;
    width: auto;
    position: initial;
    // Hover effect on submenus. .on class are used on touch devices.
    > ul.on,
    &:hover > ul {
      left: 0;
      top: auto;
      z-index: 300;
      @include box-shadow(#CECECE 0 2px 8px);
    }
    > {
      a {
        padding: 10px 30px 10px 0;
        display: block;
        font-size: 14px;
        color: white;
      }
      // Sub menu-items
      ul {
        position: absolute;
        left: -9999px;
        border-top: 0;
        width: 100%;
        z-index: 1;
        background-color: #fff;
        font-family: $font-sans;
        font-size: $side-menu-size;
        line-height: $side-menu-line-height;

        > li {
          padding: 10px 8px;
          width: 180px;
          // Sub Sub menu-items
          > ul {
            padding-left: 10px;
            > li {
              float: none;
              padding-top: 12px;
            }
          }
        }
        li {
          float: left;
          margin-right: 10px;
          &.heading > a,
          &.self-included > a{
            font-weight: bold;
            display: block;
            line-height: 18px;
            text-decoration: none;
            padding: 3px 0 3px 0px;
            cursor: default;
          }
        }
      }
    }
  }
}

.consultant nav.main-menu > ul > li > a {
    font-size: $font-size;
}
