aside.js-slider {
    margin-bottom: 10px;
    border-bottom: 1px solid #000;

    .container {
        border-top: 1px solid #000;
        margin: 0;
        display: none;
    }

    h3 {
        margin-top: 0;
        cursor: pointer;
        border-top: 1px solid #000;

        span {
            display: block;
            padding: 2px 0px 2px 5px;
            margin-right: 5px;
            background: url(/fx/images/icons/icons/arrow_right.png) center right no-repeat;

            &.open {
                background: url(/fx/images/icons/icons/arrow_down.png) center right no-repeat;
            }
        }
    }
}

.wishlist-info-block, .wishlist {
    a.create-wishlist {
        margin: 10px auto;
        display: block;
    }

    ul {
        margin: 10px 5px 10px 20px;

        li {
            vertical-align: top;
            padding: 0 0 5px 0;
            max-width: 90%;
            list-style: decimal;
            font-size: 12px;
        }
    }

    .container {
        padding-bottom: 20px;
    }
}

.desktop .wishlist-info-block {
    a, h3 {
        display: none;
    }
}

#body-wishlist {
    form {
        margin-bottom: 20px;
    }

    .grid_4 form {
        width: 70%;
    }

    input {
        width: 100%;
    }

    select {
        margin-bottom: 15px;
        width: 100%;
        padding: 6px 5px;
    }
    label {
        margin-top: 0;
        margin-bottom: 12px;
        font-style: italic;
        font-size: 0.9em;
    }

    .twitter-typeahead {
        width: 98%;
    }
    .tt-dropdown-menu {
        background-color: #fff;
        border: 1px solid #c0c0c0;
        width: 97%;
        padding: 5px;
    }
    .tt-is-under-cursor {
        padding: 0 5px;
        background-color: #dedede;
        font-weight: bold;
    }
    .tt-suggestion p {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    article {
        position: relative;
        border-top: 2px solid #c0c0c0;
        overflow: hidden;

        img {
            vertical-align: top;
            margin-left: 10px;
            float: left;
        }

        p {
            padding-top: 10px;
            text-align: center;
            display: block;
            width: 200px;
            float: left;
        }

        .sprite {
            position: absolute;
            top: 10px;
            right: 5px;

            &.delete {
                top: 40px;
            }
        }

        &.js-in-edit {
            border: 2px solid rgb(154,172,154);
            margin: 5px;
        }
    }

    .list-number  {
        padding: 5px;
        margin-bottom: 15px;
        text-transform: uppercase;
        background-color: #eceaea;

        span {
            font-weight: bold;
            text-decoration: underline;
        }

        &.last {
            margin-top: 20px;
        }

        .icons-Hearticon {
            padding: 20px 15px 15px 55px;
        }
    }

    .wishlist-target {
        border-bottom: 2px solid #c0c0c0;
    }

    .wishlist-flush-list {
        text-align: right;
        margin-bottom: 10px;

        a {
            margin: 0;
            width: 425px;
        }
    }

    .footer {
        border: 0;
        margin-top: 10px;
    }
}
