// Global Variables.
$html-background-color  : #fff;

$font-serif				: "Merriweather", serif;
$font-sans				: Tahoma, Geneva, Verdana, sans-serif;
$font-color				: #444;
$font-size 				: 14px;
$font-weight-thin		: 400;
$font-weight-bold		: 900;

$link-color  			: #333;
$link-size              : $font-size;
$link-family  			: inherit;

$small-color 			:#444;
$small-size 			:11px;
$small-family 			:$font-sans;
$small-weight 			:normal;
$small-line-height		:inherit;

$main-menu-color 		: #444;
$main-menu-size 		: 12px;
$main-menu-family 		: $font-serif;
$main-menu-weight 		: normal;
$main-menu-line-height	: inherit;

$side-menu-color 		: #444;
$side-menu-size			: 12px;
$side-menu-family 		: $font-sans;
$side-menu-weight 		: normal;
$side-menu-line-height	: 14px;

$paragraph-color 		: #444;
$paragraph-size			: 12px;
$paragraph-family 		: $font-sans;
$paragraph-weight 		: normal;
$paragraph-line-height	: 15px;

$heading-color 			: #444;
$heading-size			: 16px;
$heading-family 		: $font-serif;
$heading-weight 		: $font-weight-bold;
$heading-line-height	: 22px;

$heading-small-color 		: #444;
$heading-small-size			: 12px;
$heading-small-family 		: $font-serif;
$heading-small-weight 		: $font-weight-bold;
$heading-small-line-height	: 14px;

$footer-color 			: #444;
$footer-size            : 12px;
$footer-heading-size	: 12px;
$footer-family 			: $font-sans;
$footer-weight 			: $font-weight-thin;
$footer-line-height		: 14px;

$product-color 			: #444;
$product-size           : 12px;
$product-family         : $font-serif;
$product-line-height    : 18px;

$product-title-color        : #444;
$product-title-family       : $font-serif;
$product-title-size         : 16px;
$product-title-weight       : normal;
$product-title-line-height	: 18px;

$form-error-color       : #c18185;
$content-link-color     : #998670;
$alert-border-color     : #c18185;

$basket-color:       white;
$basket-font-size:   14px;
$basket-font-weight: normal;

$category-menu-hover-bg-color: #a2a2a2;

// @import "../../css/font-awesome-4.0.3/scss/font-awesome.scss";
@import "sprites";
@import "mixins";
@import "header";
@import "category-headers";
@import "footer";
@import "product";
@import "category";
@import "account";
@import "checkout";
@import "pensio";
@import "basket";
@import "social";
@import "topmenu";
@import "dialoug";
@import "cms";
@import "faq";
@import "pompdewall";
@import "quickorder";
@import "find-consultants";
@import "rma";
@import "wishlist";
@import "ie";
@import "base";
@import "filters"
