/**
| _sprites
*/
.da-sprite, .da-buy-set, .da-new-price, .da-put-to-basket, body.da form.buy .submit-button, body.da .buy-set, body.da .new-price {
  background: url('/fx/2013s1/../images/icons/da-sface9107c5.png') no-repeat;
}

.da-buy-set {
  background-position: 0 -410px;
}

.da-new-price {
  background-position: 0 0;
}

.da-put-to-basket {
  background-position: 0 -494px;
}

.icons-sprite, .icons-arrow_down, .icons-arrow_left, .icons-arrow_right, .icons-basket, .icons-button-left, .icons-button-right, .icons-divider, .icons-divider_left, .icons-divider_right, .icons-facebook, .icons-gplus, .icons-newsletter, .icons-pinterest, .icons-shopping-bag, .icons-twitter, .icons-video, .icons-zoom, #secondary-links li.basket .sprite, footer .footer-menu.footer-menu-4 .sprite, .zoom .sprite, a.video-popper .sprite, #video-player-container a.video .sprite, hr, hr.left, hr.right {
  background: url('/fx/2013s1/../images/icons/icons-s081cb7bc0e.png') no-repeat;
}

.icons-arrow_down {
  background-position: 0 -502px;
}

.icons-arrow_left {
  background-position: 0 -495px;
}

.icons-arrow_right {
  background-position: 0 -506px;
}

.icons-basket {
  background-position: 0 -86px;
}

.icons-button-left {
  background-position: 0 -476px;
}

.icons-button-right {
  background-position: 0 -457px;
}

.icons-divider {
  background-position: 0 -314px;
}

.icons-divider_left {
  background-position: 0 -181px;
}

.icons-divider_right {
  background-position: 0 -244px;
}

.icons-facebook {
  background-position: 0 -393px;
}

.icons-gplus {
  background-position: 0 -361px;
}

.icons-newsletter {
  background-position: 0 0;
}

.icons-pinterest {
  background-position: 0 -329px;
}

.icons-shopping-bag {
  background-position: 0 -201px;
}

.icons-twitter {
  background-position: 0 -425px;
}

.icons-video {
  background-position: 0 -264px;
}

.icons-zoom {
  background-position: 0 -131px;
}

/**
| _header
*/
nav > ul,
ul.menu,
.menu > ul {
  font-size: 14px;
  font-family: "Merriweather", serif;
  color: #444444;
}
nav > ul li,
ul.menu li,
.menu > ul li {
  position: relative;
}
nav > ul li a,
ul.menu li a,
.menu > ul li a {
  color: #444444;
  text-decoration: none;
}
nav > ul li.active > a, nav > ul li.active-trail > a,
nav > ul li a:hover,
ul.menu li.active > a,
ul.menu li.active-trail > a,
ul.menu li a:hover,
.menu > ul li.active > a,
.menu > ul li.active-trail > a,
.menu > ul li a:hover {
  text-decoration: underline;
}
nav > ul .dropdown,
ul.menu .dropdown,
.menu > ul .dropdown {
  position: absolute;
  left: 0;
  background: white;
  -webkit-box-shadow: #c9c9c9 -1px 1px 2px;
  -moz-box-shadow: #c9c9c9 -1px 1px 2px;
  box-shadow: #c9c9c9 -1px 1px 2px;
  border: #f0f0f0 1px solid;
  padding: 9px;
}
nav > ul.right,
ul.menu.right,
.menu > ul.right {
  text-align: right;
}

ul.sub-menu,
.sub-menu > ul {
  color: #444444;
  font-size: 12px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
}
ul.sub-menu li,
.sub-menu > ul li {
  padding: 0 0 6px 0;
  line-height: 18px;
}
ul.sub-menu li.heading span,
.sub-menu > ul li.heading span {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: block;
  line-height: 18px;
  padding: 3px 0 3px 6px;
}
ul.sub-menu li ul,
.sub-menu > ul li ul {
  padding: 6px 0 0 6px;
}
ul.sub-menu li ul a,
.sub-menu > ul li ul a {
  display: inline-block;
  margin: 0 0 0 6px;
}

ul.horizontal,
.horizontal > ul {
  list-style: none;
}
ul.horizontal li,
.horizontal > ul li {
  display: inline-block;
}

#secondary-links {
  position: absolute;
  top: 0px;
  right: 3px;
}
#secondary-links li {
  padding: 8px;
  vertical-align: middle;
}
#secondary-links li.last {
  padding-right: 0;
}
#secondary-links li.basket .sprite {
  display: inline-block;
  vertical-align: middle;
  background-position: 0 -86px;
  height: 45px;
  width: 35px;
}
#secondary-links li.basket a {
  display: inline-block;
  vertical-align: middle;
}
#secondary-links li a {
  text-transform: uppercase;
}

ul.breadcrumb {
  list-style: none;
}
ul.breadcrumb li {
  display: inline-block;
}
ul.breadcrumb li:before {
  content: '>';
  padding: 0 6px;
}
ul.breadcrumb li.first:before {
  content: none;
}

.pager ul {
  list-style: none;
}
.pager ul li {
  display: inline-block;
}
.pager ul li.current a {
  text-decoration: underline;
}
.pager ul li.off {
  display: none;
}

.container .main header {
  display: table;
  min-height: 100px;
  background: #d2c3c6;
  height: 100px;
  margin-bottom: 28px;
}
.container .main header hgroup {
  color: white;
  padding: 10px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.container .main header hgroup h1, .container .main header hgroup h2, .container .main header hgroup h3, .container .main header hgroup h4, .container .main header hgroup h5 {
  text-transform: uppercase;
  padding: 0 0 10px;
  font-size: 21px;
  color: white;
}
.container .main header hgroup h6 {
  font-size: 14px;
  font-weight: normal;
  color: white;
}
.container .main header hgroup a, .container .main header hgroup p {
  color: white;
}

.body-category .main header {
  background: #d2c3c6;
  background: url("/fx/images/headers/Top_Kjoler_955x200.jpg") no-repeat top center;
}

.category-17 .main header {
  background: #d2c3c6;
  background: url("/fx/images/headers/Top_Kjoler_955x200.jpg") no-repeat top center;
}

/**
| _footer
*/
footer {
  margin: 0;
  color: #444444;
  font-size: 18px;
  font-family: "Merriweather", serif;
  font-weight: 900;
  line-height: 15px;
}
footer h2 {
  font-size: 16px;
  font-family: "Merriweather", serif;
  letter-spacing: 0;
}
footer .footer-menu li {
  padding: 0 0 5px;
}
footer .footer-menu.footer-menu-4 {
  text-align: right;
}
footer .footer-menu.footer-menu-4 .container {
  text-align: left;
  display: inline-block;
}
footer .footer-menu.footer-menu-4 .container input[type=submit] {
  float: right;
}
footer .footer-menu.footer-menu-4 .sprite {
  background-position: 0 0;
  height: 86px;
  width: 86px;
}
footer .footer-menu.footer-menu-4 input[type="email"],
footer .footer-menu.footer-menu-4 input[type="text"] {
  width: 252px;
  display: block;
}
footer .footer-menu.footer-menu-4 #dialoug-message {
  width: 200px;
  border: 2px solid red;
  text-align: center;
}
footer .footer-menu.footer-menu-4 form {
  font-family: Tahoma, Geneva, Verdana, sans-serif !important;
  width: 264px;
}
footer .copy {
  text-align: center;
}
footer .copy ul {
  display: inline-block;
}
footer .copy ul li {
  display: inline-block;
  padding: 0 5px;
}
footer .copy a {
  text-decoration: none;
}

/**
| _product
*/
.bordered,
.bordered-bottom {
  border-bottom: 1px solid #888888;
}

.bordered,
.bordered-top {
  border-top: 1px solid #888888;
  margin-top: 6px;
}

/* - tabs */
ul.tabs {
  list-style: none;
  margin: 0;
  padding: 6px 0;
  margin: 6px 0;
}
ul.tabs li {
  display: inline-block;
  margin-right: 15px;
}
ul.tabs li a {
  background: url(/fx/images/arrow_single_right_white.png) no-repeat center left;
  padding-left: 20px;
  font-family: "Merriweather", serif;
}
ul.tabs li a.current {
  background: url(/fx/images/arrow_single_down_white.png) no-repeat center left;
}
ul.tabs li a:hover {
  border-bottom: none;
}

div.panes > div {
  padding: 6px;
  margin-bottom: 18px;
}

.zoom {
  display: inline-block;
}
.zoom .sprite {
  background-position: 0 -131px;
  height: 50px;
  width: 45px;
}

.body-product .breadcrumb {
  margin-bottom: 16px;
}

.back-to-category .sprite {
  height: 7px;
  width: 4px;
}

a.video-popper, #video-player-container a.video {
  display: inline-block;
  text-align: center;
}
a.video-popper .sprite, #video-player-container a.video .sprite {
  background-position: 0 -264px;
  height: 50px;
  width: 58px;
}

.body-product .main h1.title,
.body-product .main .prices {
  font-family: "Merriweather", serif;
  font-size: 26px;
  font-weight: bold;
}
.body-product .main .prices {
  padding: 0 0 12px;
}
.body-product .main h4 {
  padding: 6px 0;
  font-weight: 400;
}

form.buy {
  margin-bottom: 16px;
}
form.buy label {
  display: block;
  padding: 0 6px 0 0;
  margin: 3px 0;
}
form.buy label span {
  display: block;
}
form.buy label select {
  width: 237px;
}
form.buy label a {
  margin-left: 18px;
  font-weight: bold;
}
form.buy label.off {
  display: none;
}
form.buy .submit-button {
  cursor: pointer;
  margin-top: 18px;
  padding: 0;
  border: none;
  text-indent: -999px;
  display: inline-block;
}

.productimage-small a,
.style-guide a {
  vertical-align: top;
  display: inline-block;
  margin-right: 3px;
}
.productimage-small a img,
.style-guide a img {
  padding: 1px;
}
.productimage-small a:hover,
.style-guide a:hover {
  border-bottom: none;
  margin-bottom: 0;
}
.productimage-small a:hover img,
.style-guide a:hover img {
  padding: 0px;
  border: 1px solid #888888;
}
.productimage-small a.buy-set,
.style-guide a.buy-set {
  padding: 0;
  border: none;
  text-indent: -999px;
  display: inline-block;
}

.style-guide, .style-guide .element {
  display: none;
}

.colorbuttons-sprite, .colorbuttons-blue, .colorbuttons-blue_aktiv, .colorbuttons-grey-melange, .colorbuttons-grey-melange_aktiv, .colorbuttons-navy, .colorbuttons-navy_aktiv, .colorbuttons-violet, .colorbuttons-violet_aktiv, a.product-color .colorbuttons.colorbuttons-navy, a.product-color .colorbuttons.colorbuttons-violet, a.product-color.current .colorbuttons-navy, a.product-color:hover .colorbuttons-navy, a.product-color.current .colorbuttons-violet, a.product-color:hover .colorbuttons-violet {
  background: url('/fx/2013s1/../images/colorbuttons-s3a460b5c13.png') no-repeat;
}

.colorbuttons-blue {
  background-position: 0 -104px;
}

.colorbuttons-blue_aktiv {
  background-position: 0 0;
}

.colorbuttons-grey-melange {
  background-position: 0 -179px;
}

.colorbuttons-grey-melange_aktiv {
  background-position: 0 -52px;
}

.colorbuttons-navy {
  background-position: 0 -153px;
}

.colorbuttons-navy_aktiv {
  background-position: 0 -26px;
}

.colorbuttons-violet {
  background-position: 0 -127px;
}

.colorbuttons-violet_aktiv {
  background-position: 0 -78px;
}

a.product-color {
  margin: 6px;
  display: inline-block;
  text-align: center;
}
a.product-color .colorbuttons {
  margin: 0 auto;
}
a.product-color .colorbuttons.colorbuttons-navy {
  background-position: 0 -153px;
  padding-top: 26px;
  width: 26px;
}
a.product-color .colorbuttons.colorbuttons-violet {
  background-position: 0 -127px;
  padding-top: 26px;
  width: 26px;
}
a.product-color.current .colorbuttons-navy, a.product-color:hover .colorbuttons-navy {
  background-position: 0 -26px;
  padding-top: 26px;
  width: 26px;
}
a.product-color.current .colorbuttons-violet, a.product-color:hover .colorbuttons-violet {
  background-position: 0 -78px;
  padding-top: 26px;
  width: 26px;
}

/**
| _category
*/
.product-list .block a {
  border: none;
  font-family: "Merriweather", serif;
  font-size: 12px;
  line-height: 18px;
  color: #444444;
  text-decoration: none;
  text-align: center;
  position: relative;
}
.product-list .block a .title {
  display: block;
  font-weight: bold;
}
.product-list .block a .prices {
  display: block;
  margin-top: 6px;
}
.product-list .block a .new-price {
  position: absolute;
  bottom: 0;
  right: 0;
  text-indent: -999px;
}
.product-list .block.look .buy-set {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.product-list .block.look a:hover .buy-set {
  display: inline-block;
}

.body-look a.show-by-look,
.body-overview a.show-by-overview {
  text-decoration: underline;
}

/**
| _account
*/
form.create label:after {
  content: ":";
}
form.create label.required:after {
  content: ": *";
}

.checkout-block {
  overflow: hidden;
  padding: 3px;
  margin: 20px 0;
}
.checkout-block ul {
  list-style: none;
}
.checkout-block label {
  width: auto;
}

#body-checkout #main form {
  margin-bottom: 10px;
}
#body-checkout #main form > h3 {
  margin-top: 20px;
}
#body-checkout #main h2 {
  padding: 5px;
  margin-top: 20px;
  background-color: whiteSmoke;
  -webkit-box-shadow: #c9c9c9 -1px 1px 2px;
  -moz-box-shadow: #c9c9c9 -1px 1px 2px;
  box-shadow: #c9c9c9 -1px 1px 2px;
  border: #f0f0f0 1px solid;
  clear: both;
}

form.address {
  float: left;
  overflow: hidden;
  margin-right: 40px;
}
form.address label {
  display: inline-block;
  width: 110px;
  vertical-align: top;
  margin-top: 0 0 12px;
}

#body-checkout #main form.address > h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

#address-block .confirm {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid red;
  clear: both;
}

.shipping-method,
.payment-module {
  margin: 12px 0;
  padding: 12px;
  -webkit-box-shadow: #c9c9c9 -1px 1px 2px;
  -moz-box-shadow: #c9c9c9 -1px 1px 2px;
  box-shadow: #c9c9c9 -1px 1px 2px;
  border: #f0f0f0 1px solid;
}

.payment-methods label {
  margin: 0;
  width: 90%;
  vertical-align: middle;
}

#body-checkout div.msg.error {
  padding: 20px;
}
#body-checkout div.dialoug.alert.notice h2 {
  background: url(/fx/images/loader-bar.gif) no-repeat 5px center;
  padding-left: 26px;
  background-color: #CCC;
  padding-top: 9px;
  border: 1px solid #7b7577;
}

#coupon-block form {
  overflow: hidden;
  padding: 20px;
  margin: 10px;
  border: 1px solid #7b7577;
}
#coupon-block form div.clearfix {
  float: left;
}
#coupon-block #form_code {
  margin: 0 10px;
}

/**
| _basket
*/
.basket table.product-table th,
.basket table.edit-element th,
#cart-edit-element table.product-table th,
#cart-edit-element table.edit-element th {
  font-family: "Merriweather", serif;
  font-weight: 400;
  padding: 12px 6px;
}
.basket table.product-table tbody tr,
.basket table.edit-element tbody tr,
#cart-edit-element table.product-table tbody tr,
#cart-edit-element table.edit-element tbody tr {
  border-bottom: 1px solid #444444;
}
.basket table.product-table tfoot,
.basket table.edit-element tfoot,
#cart-edit-element table.product-table tfoot,
#cart-edit-element table.edit-element tfoot {
  font-family: "Merriweather", serif;
}
.basket table.product-table tfoot td,
.basket table.edit-element tfoot td,
#cart-edit-element table.product-table tfoot td,
#cart-edit-element table.edit-element tfoot td {
  padding: 12px 6px;
}
.basket table.product-table tfoot td.total,
.basket table.edit-element tfoot td.total,
#cart-edit-element table.product-table tfoot td.total,
#cart-edit-element table.edit-element tfoot td.total {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.basket table.product-table .info,
.basket table.edit-element .info,
#cart-edit-element table.product-table .info,
#cart-edit-element table.edit-element .info {
  display: inline-block;
  vertical-align: top;
  line-height: 22px;
}
.basket table.product-table .title,
.basket table.edit-element .title,
#cart-edit-element table.product-table .title,
#cart-edit-element table.edit-element .title {
  font-family: "Merriweather", serif;
  font-weight: 900;
}
.basket table.product-table .actions a,
.basket table.edit-element .actions a,
#cart-edit-element table.product-table .actions a,
#cart-edit-element table.edit-element .actions a {
  display: block;
  line-height: 23px;
  text-decoration: underline;
}
.basket table.product-table .date span.not-in-stock,
.basket table.edit-element .date span.not-in-stock,
#cart-edit-element table.product-table .date span.not-in-stock,
#cart-edit-element table.edit-element .date span.not-in-stock {
  color: #A10000;
  display: block;
}
.basket .delivery-notice,
#cart-edit-element .delivery-notice {
  font-size: 11px;
}
.basket .buttons,
#cart-edit-element .buttons {
  padding: 24px 0;
}

#cart-edit-element {
  border: 5px solid black;
  position: absolute;
  z-index: 9999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: white;
}
#cart-edit-element a.button {
  position: absolute;
  bottom: 3px;
  right: 10px;
}
#cart-edit-element .delivery-notice {
  position: absolute;
  top: 10px;
  left: 345px;
  width: 240px;
}
#cart-edit-element .delivery-notice strong {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}

/**
| _social
*/
.social-buttons a.icons-facebook {
  height: 32px;
  width: 32px;
}
.social-buttons a.icons-twitter {
  height: 32px;
  width: 32px;
}
.social-buttons a.icons-pinterest {
  height: 32px;
  width: 32px;
}

/**
| _topmenu
*/
nav.main-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav.main-menu > ul > li {
  float: left;
  width: auto;
  padding: 10px 12px 0;
  position: relative;
}
nav.main-menu > ul > li > a {
  display: block;
}
nav.main-menu > ul > li > ul {
  position: absolute;
  left: -9999px;
  border-top: 0;
  width: 250px;
  margin-top: 10px;
  z-index: 1;
  background-color: #fff;
}
nav.main-menu > ul > li > ul > li {
  float: none;
  padding: 10px 8px;
}
nav.main-menu > ul > li > ul > li > ul {
  padding-left: 10px;
}
nav.main-menu > ul > li > ul > li > ul > li {
  float: none;
  padding-top: 12px;
}
nav.main-menu > ul > li > ul.on {
  left: 0;
  top: auto;
  z-index: 40;
  -webkit-box-shadow: #444444 4px 4px 8px;
  -moz-box-shadow: #444444 4px 4px 8px;
  box-shadow: #444444 4px 4px 8px;
}

.inject-notice-box {
  padding: 3px;
}
.inject-notice-box .inner {
  border: 1px solid black;
  padding: 6px;
  color: #444444;
}
.inject-notice-box.error .inner {
  border-color: red;
}

.slide-notice-box {
  position: absolute;
  top: 77px;
  right: 0;
  padding: 6px;
  text-align: center;
  background-color: whiteSmoke;
  -webkit-box-shadow: #c9c9c9 -1px 1px 2px;
  -moz-box-shadow: #c9c9c9 -1px 1px 2px;
  box-shadow: #c9c9c9 -1px 1px 2px;
  border: #f0f0f0 1px solid;
}

#cboxContent .dialoug .buttons {
  padding: 0 10px;
}

#dialoug-message {
  border: 2px solid #d3c2a2;
  color: #231f20;
  margin: 10px 0;
  display: none;
}
#dialoug-message.error {
  border-color: #f00;
}
#dialoug-message p {
  background-color: #fff;
  padding: 10px;
  margin: 0;
}

.dialoug-loading {
  display: inline-block;
  height: 16px;
  background: url(/fx/images/loader-bar.gif) no-repeat left center;
  padding-left: 20px;
  margin-left: 5px;
}

/**
| _cms
*/
.body-pages h3 {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: none;
  padding: 6px 0 0;
  letter-spacing: 0;
}

/**
| _faq
*/
.tx-irfaq-pi1 ul {
  margin-bottom: 10px;
}

.tx-irfaq-pi1 ul li a p.bodytext {
  margin: 0px;
  display: inline;
  font-weight: bold;
}

.tx-irfaq-pi1 ul li a {
  color: #231f20;
  text-decoration: none;
}

.tx-irfaq-pi1 ul li a:hover {
  color: #231f20;
  text-decoration: underline;
}

.tx-irfaq-pi1 dt p {
  font-weight: bold;
  margin: 0px;
  display: inline;
}

.tx-irfaq-pi1 dd {
  margin-left: 0px;
}

.tx-irfaq-pi1 dd p {
  margin-top: 0px;
}

.tx-irfaq-pi1 dd div {
  border-top: 1px solid #4b3a47;
  margin-top: 10px;
}

.tx-irfaq-cleaner {
  clear: left;
  height: 1px;
}

.tx-irfaq-dynheader {
  cursor: pointer;
}

.tx-irfaq-pi1 dd {
  display: none;
}

.tx-irfaq-pi1 dl {
  padding-bottom: 12px;
}

/**
| _base
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.sprite {
  display: inline-block;
}

.sprite-block {
  display: block;
}

body {
  color: #444444;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.container {
  position: relative;
  overflow: hidden;
}

a {
  color: #333333;
  text-decoration: none;
}
a:hover {
  color: #444444;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  padding: 0 0 20px 0;
  letter-spacing: 2px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
  color: inherit;
}

h1 {
  color: #444444;
  font-size: 18px;
  font-family: "Merriweather", serif;
  font-weight: 900;
  line-height: 24px;
  padding: 6px 0 12px;
}

h2 {
  font-weight: 100;
  font-size: 16px;
  padding: 6px 0;
  text-transform: uppercase;
}

h3 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 16px;
  padding: 6px 0 12px;
}

h4 {
  color: #444444;
  font-size: 14px;
  font-family: "Merriweather", serif;
  font-weight: 900;
  line-height: 18px;
}

p {
  color: #444444;
  font-size: 14px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  line-height: 15px;
  padding: 0 0 5px;
}

hr {
  border: none;
  clear: both;
  margin: 0;
  width: 100%;
  background-position: 0 -314px;
  height: 15px;
}
hr.left {
  background-position: 0 -181px;
}
hr.right {
  background-position: 0 -244px;
}

strong, b {
  font-weight: bold;
}

aside {
  padding-bottom: 24px;
}
aside h1, aside h2, aside h3, aside h4, aside h5 {
  border-bottom: 1px solid #444444;
  padding-bottom: 6px;
  margin-bottom: 12px;
}

form label {
  margin-top: 12px;
  display: inline-block;
  width: 90%;
}
form.full-width input[type="text"], form.full-width input[type="email"], form.full-width input[type="date"], form.full-width input[type="password"] {
  width: 97%;
}
form input {
  border: 1px solid #444444;
  padding: 6px 5px;
  color: #444444;
}
form input[type="text"], form input[type="email"], form input[type="date"], form input[type="password"] {
  font-family: "Merriweather", serif;
}
form input.error {
  border-color: red;
}

input.button,
button.button,
a.button {
  border: none;
  cursor: pointer;
  display: inline-block;
  background: #474749;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 6px;
  font-weight: bold;
  color: white;
  line-height: 18px;
  white-space: normal;
}
input.button:hover,
button.button:hover,
a.button:hover {
  text-decoration: none;
}
input.button.text-button,
button.button.text-button,
a.button.text-button {
  border: none;
  background: transparent;
  color: #444444;
  font-size: 14px;
  font-family: "Merriweather", serif;
  font-weight: 400;
  text-transform: uppercase;
}
input.button.button-right,
button.button.button-right,
a.button.button-right {
  background: url(/fx/images/icons/icons/button-right.png) right no-repeat #474749;
  border-right: 6px solid #474749;
  padding: 6px 24px;
  float: right;
}
input.button.button-left,
button.button.button-left,
a.button.button-left {
  background: url(/fx/images/icons/icons/button-left.png) left no-repeat #474749;
  border-left: 6px solid #474749;
  padding: 6px 24px;
}
input.button.button-small,
button.button.button-small,
a.button.button-small {
  font-size: 11px;
  padding: 3px;
  line-height: inherit;
  font-weight: normal;
}
input.button.button-small:hover,
button.button.button-small:hover,
a.button.button-small:hover {
  text-decoration: none;
}

table {
  width: 100%;
  margin: 6px 0 12px;
}
table thead, table tbody, table tfoot {
  border-bottom: 1px solid #444444;
}
table thead {
  font-family: "Merriweather", serif;
}
table thead th {
  padding: 3px 6px;
}
table tbody td {
  padding: 12px 6px;
}
table tfoot td {
  padding: 6px;
}

.align-left,
.left {
  text-align: left;
}

a.left {
  float: left;
}

.align-center,
.center {
  text-align: center;
}

.centerfy {
  margin: 0 auto;
}

.align-right,
.right {
  text-align: right;
}

a.right {
  float: right;
}

.vert-align-top {
  vertical-align: top;
}

.vert-align-middle {
  vertical-align: middle;
}

.vert-align-bottom {
  vertical-align: baseline;
}

.pushleft {
  float: left;
}

.pushright {
  float: right;
}

.small {
  font-size: 9px;
}

.strike {
  text-decoration: line-through;
}

.upper {
  text-transform: uppercase;
}

.hidden {
  display: none;
  visibility: hidden;
}

.off {
  display: none;
}

.bottom-space {
  margin-bottom: 40px;
}

.msg, .message {
  border: 2px solid black;
  background-color: #fff;
  color: #231f20;
  padding: 0.5em;
  font-weight: bold;
  margin-bottom: 1em;
  clear: both;
}
.msg.error, .message.error {
  border: 2px solid #f10000;
}

.box {
  padding: 6px;
  display: inline-block;
  background-color: whiteSmoke;
  -webkit-box-shadow: #c9c9c9 -1px 1px 2px;
  -moz-box-shadow: #c9c9c9 -1px 1px 2px;
  box-shadow: #c9c9c9 -1px 1px 2px;
  border: #f0f0f0 1px solid;
}

ul {
  list-style-position: inside;
}
ul.list {
  list-style-type: disc;
}

ol {
  list-style-position: inside;
}
ol.list {
  list-style-type: decimal;
}

.cycle-slideshow .cycle-pager {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 16px;
  z-index: 101;
}
.cycle-slideshow .cycle-pager span {
  color: #DDD;
  font-size: 31px;
  line-height: 10px;
  cursor: pointer;
}
.cycle-slideshow .cycle-pager span.cycle-pager-active, .cycle-slideshow .cycle-pager span:hover {
  color: #BBB;
}
.cycle-slideshow .cycle-slide img {
  width: 100%;
}

.container_8 .grid_1-5 {
  width: 186px;
}

.container_8 .grid_2-5 {
  width: 378px;
}

.container_8 .grid_3-5 {
  width: 570px;
}

.container_8 .grid_4-5 {
  width: 762px;
}

.container_8 .prefix_1-5 {
  padding-left: 192px;
}

.container_8 .prefix_2-5 {
  padding-left: 384px;
}

.container_8 .prefix_3-5 {
  padding-left: 576px;
}

.container_8 .prefix_4-5 {
  padding-left: 768px;
}

.container_8 .suffix_1-5 {
  padding-right: 192px;
}

.container_8 .suffix_2-5 {
  padding-right: 384px;
}

.container_8 .suffix_3-5 {
  padding-right: 576px;
}

.container_8 .suffix_4-5 {
  padding-right: 768px;
}

.container_8 .push_1-5 {
  left: 192px;
}

.container_8 .push_2-5 {
  left: 384px;
}

.container_8 .push_3-5 {
  left: 576px;
}

.container_8 .push_4-5 {
  left: 768px;
}

.container_8 .pull_1-5 {
  left: -192px;
}

.container_8 .pull_2-5 {
  left: -384px;
}

.container_8 .pull_3-5 {
  left: -576px;
}

.container_8 .pull_4-5 {
  left: -768px;
}

.push_1-5, .pull_1-5,
.push_2-5, .pull_2-5,
.push_3-5, .pull_3-5,
.push_4-5, .pull_4-5 {
  position: relative;
}

.container_8 .grid_1-5,
.container_8 .grid_2-5,
.container_8 .grid_3-5,
.container_8 .grid_4-5 {
  display: inline;
  float: left;
  margin-left: 3px;
  margin-right: 3px;
}

.main > .grid_1,
.main > .grid_2,
.main > .grid_3,
.main > .grid_4,
.main > .grid_5,
.main > .grid_6,
.main > .grid_7,
.main > .grid_8,
.main > .grid_1-5,
.main > .grid_2-5,
.main > .grid_3-5,
.main > .grid_4-5,
.container_8 .row {
  margin-bottom: 6px;
}

body.da form.buy .submit-button {
  background-position: 0 -494px;
  height: 84px;
  width: 87px;
}
body.da .buy-set {
  background-position: 0 -410px;
  height: 84px;
  width: 87px;
}
body.da .new-price {
  background-position: 0 0;
  height: 410px;
  width: 234px;
}
