{% extends '::adminbase.html.twig' %}

{% block content %}

{% if is_granted('ROLE_ADMIN') %}

    <div class="row">

<h2>Ordresynkronisering</h2>

<form class="form-inline pull-right" role="form">
    <div class="form-group">
        <label class="sr-only" for="form_orders_id">Indtast ordre #:</label>
        <input name="orders_id" id="form_orders_id" placeholder="Ordre#">
    </div>
    <a href="{{ path('admin_orders_preview') }}" class="preview-order" title="Gennemse"><span class="glyphicon glyphicon-search"></span></a>
    <a href="{{ path('admin_orders_resync_sync') }}" class="resend-order" title="Gensend"><span class="glyphicon glyphicon-refresh"></span></a>
</form>
    </div>
<div class="row">
  {{ render(controller("AdminBundle:Orders:syncStatus")) }}
</div>

{% endif %}

{% endblock %}
