<h3>{{ 'payment.title'|trans({}, 'paypal') }}</h3>
<ul class="payment-methods" id="payment-method-paypal" data-provider="paypal">
  <li>
    <input type="radio" value="paypal:paypal" id="paypal" name="paytype"{% if selected_payment_type == 'paypal:paypal' %} checked{% endif %}>
    <label for="paypal"><img alt="paypal" src="{{ cdn }}fx/images/icons/paypal.gif"> {{ 'paypal.desc'|trans({}, 'paypal')|raw }}</label>
  </li>
</ul>
