#body-account h2 {
  margin-top: 10px;
}

#body-create-account form {
  margin: 20px 0px;
}
form.create {
  width: 450px;
}

#body-create-account p a {
  text-decoration: underline;
}

form.create input {
  float: right;
}

form.create label {
  display: block;
  float: left;
}
form.create label:after {
  content: ":";
}

form.create label.required:after {
  content: ": *";
}

form.create input[type=checkbox] {
  margin-right: 146px;
}

form.create #customers div {
  overflow: hidden;
  margin-bottom: 5px;
}

form.create #customers {
  margin-top: 20px;
}

#body-account ul {
  list-style: none;
  margin: 5px 0 15px 10px;
  padding: 0;
}

#order-status td.pdf {
  float: none;
}
#order-status td.pdf a {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(/fx/images/pdficon.png) no-repeat top left;
}

#order-status td.show a {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(/fx/images/page_white_text.png) no-repeat top left;
}
