#body-account h2 {
  margin-top: 10px;
}

#body-create-account form {
  margin: 20px 0px;
}
form.create {
  width: 430px;
}

#body-create-account p a {
  text-decoration: underline;
}

form.create input {
  float: right;
}
form.create input.button {
  float: left;
}

form.create label {
  display: block;
  float: left;
}
form.create label:after {
  content: ":";
}

form.create label.required:after {
  content: ": *";
}

form.create input[type=checkbox] {
  margin-right: 146px;
}

form.create #customers div {
  overflow: hidden;
  margin-bottom: 5px;
}

form.create input.button {
  margin-top: 20px;
}
