body {
  background-color: #4D4345;
  color: #000;
}
a {
  text-decoration: none;
  color: #000;
  font-weight: 900;
}
a:hover {
  color: #333;
}

h1, h2, h3, h4 {
  font-family: 'Merriweather', Verdana;
  margin-top: 0;
  padding-top: 0;
  color: #000;
  clear: both;
}
h1 {
  font-size: 18px;
  padding-bottom: 7px;
  border-bottom: 1px solid #7b7577;
}

body.noh1 h1 {
  display: none;
}

h2, h3, h4 {
  font-size: 14px;
  margin-bottom: 0;
  color: #3324DE;
}
h4 {
  color: #000;
}
#main h2, #main h3, #main h4 {
  color: #000
}

table {
  width: 100%;
  border-spacing: 0;
  margin: 20px 0px;
}
th {
  border-bottom: 1px solid #000;
}
td, th {
  vertical-align: top;
  text-align: left;
}

th.left,
td.left {
  text-align: left;
  float: none;
}
th.right,
td.right {
  text-align: right;
  float: none;
}
th.center,
td.center {
  text-align: center;
  float: none;
}
table.bottom {
  border-bottom: 1px solid #000;
}
p {
  margin-top: 0;
  padding-top: 0;
}

blockquote {
  background-image: url(/fx/images/citat2.png);
  background-position: top left;
  background-repeat: no-repeat;
  padding-left: 60px;
  padding-top: 20px;
  margin-left: 0;
  font-size: 18px;
  font-family: 'Merriweather', Verdana;
}

hr {
  border:0 #7b7577 solid;
  border-top-width:1px;
  clear:both;
  height:0
}

label {
  display: block;
  margin-top:5px;
}

input[type=text],
input[type=password],
input[type=email],
textarea {
  border: 1px solid #B3B3B3;
  background-color: #fff;
  padding: 5px;
}
form #cms-edit textarea{
  width:90%;
  height:350px;
}
form #cms-edit{
  margin:20px 0px;
}

.button {
  background: #000000 url(/fx/images/arrow_dobble_right_white.png) no-repeat center right;
  padding: 2px 20px 3px 5px;
  color: #fff;
  border: none;
  font-weight: normal;
}
.button.left {
  background: #000000 url(/fx/images/arrow_dobble_left_white.png) no-repeat center left;
  padding: 2px 5px 3px 20px;
}
.button:hover {
  color: #d3c2a2;
}

.button.disabled {
  cursor:progress;
  background-color: #cbcbcb;
}
.button.disabled:hover {
  color: #fff;
}

.left {
  float: left;
}
.right {
  float: right;
}

.off {
  display: none;
}

#logo {
  position: absolute;
  left: 25px;
  top: 24px;
}

#cboxOverlay,
#colorbox {
  z-index: 9999;
}

#supersize {
  position: fixed;
  top: 0;
  left: 0;
}
#supersize img {
  height:100%;
  position:absolute;
  width:100%;
  z-index:0
}

#teasers,
nav.main {
  position: absolute;
  left: 0;
  top: 190px;
}

#logo,
#secondary-links,
nav.main {
  position: absolute;
}
#teasers ul,
nav.main ul,
nav.sub ul {
  list-style: none;
}

nav.main {
  padding-bottom: 20px;
}

/*  level 1 */
nav.main ul li {
  margin: 15px 0;
  text-transform: uppercase;
}
nav.main ul li li {
  text-transform: none;
}
nav.main ul li a {
  background-color: #fff;
  color: #000;
  font-size: 14px;
  font-weight: normal;
  padding: 3px 20px;
}
nav.main ul li a:hover {
  background-color: #d3c2a2;
}

nav.main li.active a {
  background-color: #2e2e2e;
  color: #fff;
}
nav.main li.facebook a {
  padding-left: 40px;
  background-image: url(/fx/images/fb_icon.png);
  background-position: 20px 6px;
  background-repeat: no-repeat;
}

/* level 2+3 */
nav.main ul li li {
  margin: 8px 0;
}
nav.main ul li li li {
  margin-left: 10px;
}

nav.main ul li li a,
nav.main ul li li.inactive a {
  background-color: transparent;
}
nav.main ul li li.active a {
  background-color: transparent;
  color: #000;
}
nav.main ul li li li.inactive a {
  background-image: none;
  color: #fff;
}
nav.main ul li li li a:hover,
nav.main ul li li a:hover {
  color: #d3c2a2;
}

nav.sub {
  height: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
nav.sub ul {
  margin: 0;
  padding: 0;
  padding-bottom: 7px;
  border-bottom: 1px solid #7b7577;
  height: 20px;
}
nav.sub li {
  float: right;
  padding: 0 10px;
  background: url(/fx/images/dots_webshop_topmenu.png) no-repeat center right;
}
nav.sub li:first-child {
  padding-left: 0;
}
nav.sub li:last-child {
  background-image: none;
}
nav.sub li > a {
  font-weight: normal;
  color: black;
  padding: 5px;
  background: #D3C2A2;
  border: 1px solid #C8B289;
}
nav.sub li > a:hover {
  color: black;
  background: #C8B289;
}
nav.sub a {
  font-weight: normal;
  color: black;
}
nav.sub a:hover {
  color: #574729;
}

nav.sub #select-language div,
nav.sub li.dropdown-menu div{
  position: absolute;
  top: 40px;
  padding: 1em 0.5em;
  background:#D3C2A2;
  border:1px solid #C8B289;
}

nav.sub #select-language div ul,
nav.sub li.dropdown-menu div ul{
  border:none;
}
nav.sub #select-language div ul li,
nav.sub li.dropdown-menu div ul li{
  float:left;
  clear: both;
  display: block;
  padding:0;
  background:none;
}
nav.sub #select-language div a,
nav.sub li.dropdown-menu div a{
  border: none;
  display: block;
}
/* http://flag-sprites.com/ */
span.flag{
  margin-right:5px;
  display:inline-block;
  width: 16px;
  height: 11px;
  background:url(/fx/images/flags.png) no-repeat
}
span.flag.da_DK {background-position: -16px 0}
span.flag.en_GB {background-position: -33px 0}
span.flag.en_EN {background-position: -33px 0}
span.flag.nl_NL {background-position: 0 -11px}
span.flag.no_NB {background-position: -17px -12px}
span.flag.sv_SE {background-position: -33px -12px}

nav.sub li.dropdown-menu a span.cat-id,
#categories-list a span.cat-id{
  color:grey; font-size:8pt;
}

/* top right menu */
#secondary-links {
  right: 0;
  top: 0;
  background-image: url(/fx/images/ffffff.png);
  color: #000;
  padding: 5px;
}
#secondary-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#secondary-links ul li {
  float: left;
  padding: 8px 10px 8px 0;
  text-transform: uppercase;
  font-size: 11px;
}
#body-product .buton,
#secondary-links ul li.basket {
  background: url(/fx/images/basket.png) no-repeat 10px 0;
}
#secondary-links ul li.basket a {
  padding-left: 35px;
}
#secondary-links ul li a {
  border-left: 1px solid #7b7577;
  padding-left: 10px;
}
#secondary-links ul li:first-child a {
  border-left: none;
}
#secondary-links ul li a {
  font-weight: normal;
  color: #000;
}

#secondary-links #select-domain div,
#secondary-links #select-cache div {
  position: absolute;
  top: 40px;
  background:white;
  padding: 1em 0.5em;
  border:1px solid #D3C2A2;
}

#secondary-links #select-domain div a,
#secondary-links #select-cache div a {
  border: none;
}

#container {
  z-index: 10;
  position: absolute;
  width: 100%;
}
#main {
  position: relative;

  margin: 75px 10px 45px 230px;
  /*background-image: url(/fx/images/615e5f.png);*/
  background-color: white;
  padding: 20px;
  overflow: hidden;
}

#facebox {
  color: #000;
}

/* Pager */
.pager li{
  list-style-type: none;
  float: left;
  margin:5px;
}
.pager li a{
  padding:5px;
  border:1px solid #D9D9D9;
  background-color: #E9E9E9;
}
.pager li.current a{
  background-color: white;
}
.pager li a:hover{
  background-color: white;
}

/* CMS page list sortable*/

#sortable-list,
#sortable-list ul{
  list-style-type: none;
  margin:0;
  padding:5px;
  width:500px;
}
#sortable-list ul{
  width:auto;
  padding:0;
}
#sortable-list .sortable-item{
  margin: 0.25em 0 0 0;
  padding: 5px 0px 5px 10px;
}
#sortable-list .sortable-item li{
  border-left:1px dashed #D9D9D9;
}
#sortable-list .sortable-item div.record{
  border:1px solid grey;
  border-radius:5px;
  height:25px;
}
#sortable-list .sortable-item div.record:hover{
  border:1px dashed grey;
}
#sortable-list li.helper{
  border:2px dashed black;
  border-left:2px dashed black;
  margin: 5px 0px 5px 10px;
  height:20px;
}
#sortable-list li > div{
  font-size: 14px;
}
#sortable-list ul li div{
  font-size: 12px;
}
#sortable-list .sortable-item div span{
  border-right: 1px solid grey;
  line-height: 23px;
  padding: 0 10px;
}
#sortable-list .sortable-item .actions{
  display: inline;
  float: right;
  height:100%;
}

#sortable-list .sortable-item .actions .delete,
#sortable-list .sortable-item .actions .edit{
  text-indent: -9999px;
  width:23px;
  display: inline-block;
  height:100%;
}
#sortable-list .sortable-item .actions .delete{
  background: url(/fx/images/delete_icon.png) no-repeat center center;
}
#sortable-list .sortable-item .actions .edit{
  background: url(/fx/images/edit_icon.png) no-repeat center center;
}

.actions .delete,
.actions .edit{
  text-indent: -9999px;
  width:23px;
  display: inline-block;
  height:100%;
}
.actions .delete{
  background: url(/fx/images/delete_icon.png) no-repeat center center;
}
.actions .edit{
  background: url(/fx/images/edit_icon.png) no-repeat center center;
}


/* Product Category sortable list */

ul#product-list-sort {
  list-style-type:none;
}
ul#product-list-sort .sortable-item {
  padding:10px;
  cursor:move;
}
ul#product-list-sort .placeholder{
  border:2px dashed #4D4345;
}
ul#product-list-sort .sortable-item img{
  padding:5px;
  border:1px solid #E6E6E6;
  background:#EDEDED;
  width:120px;
  height:240px;
}
ul#product-list-sort li:nth-child(even){
  background:#D9D9D9;
}
ul#product-list-sort li:nth-child(12n){
  border-bottom:5px dashed #4D4345;
}
ul#product-list-sort .sortable-item span{
  display: block;
}

/* Category List And Products list */
ul#category-list li,
ul#product-list li,
ul.list li{
  list-style-type: none;
  margin: 2px 0;
  padding: 5px;
  border: 1px solid #DBDBDB;
}
ul#category-list li a.right,
ul.list li a.right{
  font-size:10px;
  font-weight:normal;
  float:right;
  padding:0px 10px;
}

/* ProductToCategories list 
 * CouponsToCustomers list 
 */
select#product-category-selector,
select#coupon-customer-selector{
  display: block;
  margin:15px 40px;
}
ul#product-categories,
ul#coupons-to-customers {
  display: inline-block;
}
ul#product-categories li,
ul#coupons-to-customers li {
  list-style-type: none;
  border: 1px solid #DBDBDB;
  margin: 2px 0;
  padding: 2px 5px;
  position: relative;
}
ul#product-categories li a.delete,
ul#coupons-to-customers li a.delete {
  position: absolute;
  right: -23px;
}

/* Settings page */
form#add-setting div{
  display: inline-block;
  padding-right:10px;
}

form#settings-list input[type=text]{
  width:50%;
  margin:;
}
form#settings-list .button{
  margin:5px;
}

/* Table List */
table.list{
  table-layout: fixed;
  margin:20px 0;
}
table.list th,
table.list tr:hover{
  background-color: #EBEBEB;
}
table.list tr{
  border-top:1px solid #D9D9D9;
  border-bottom:1px solid #D9D9D9;
}
table.list td,
table.list th{
  word-wrap: break-word;
  padding:5px;
  border-right:1px solid #D9D9D9;
}
table#order {
  width:auto;
}
table.list th {
  text-align: left;
}
table.list th a{
  background: #D3C2A2;
  border: 1px solid #C8B289;
  margin: 3px;
  padding: 5px;
  float: left;
}
table.list th a:hover{
  background: #C8B289;
}
table#order th.table-header {
  text-align: center;
}

form.inline {
  display: block;
}

form.inline div {
  margin:15px;
}
form.inline label,
form.inline input,
form.inline select {
  display: inline-block;
  float: left;
}
form.inline label{
  padding:0 5px;
  line-height:9px;
}
form.inline input {
  margin: 0 5px;
}


/* Edit page */
form.edit-form input[type=text],
form#customer-edit-form input[type=text],
form#washing-edit-form input[type=text],
form#consultant-edit-form input[type=text]{
  width:50%;
}
form.edit-form input[type=checkbox],
form#customer-edit-form input[type=checkbox],
form#washing-edit-form input[type=checkbox],
form#consultant-edit-form input[type=checkbox]{
  display: inline;
}
form.edit-form textarea,
form#customer-edit-form textarea,
form#washing-edit-form textarea,
form#consultant-edit-form textarea{
  width:50%;
  height:200px;
}

form.edit-form.inline input,
form.edit-form.inline select,
form.edit-form.inline div {
  display: inline;
  float: left;
}

/* Product Image list with references */
ul#product-images-list li{
  clear:both;
  list-style-type: none;
}
ul#product-images-list li div.image,
ul#product-images-list li div.references {
  float: left;
  padding:20px;
}
ul.product-references {
  padding: 0px;
}
ul#product-images-list li li{
  border: 1px solid #DBDBDB;
  margin: 2px 0;
  padding: 2px 0;
  position: relative;
}
ul#product-images-list li li span.id,
ul#product-images-list li li span.sku{
  margin:0 5px;
}
ul#product-images-list li li a.delete{
  position: absolute;
  right: -23px;
}
/* colorbox */
#cboxLoadedContent h2 {
  color: #000;
}
#cboxLoadedContent .message {
  margin: 10px;
  color: #000;
}

/* cloud zoom */
.cloud-zoom-title {
  text-align: left;
}

#container div.error.center {
  margin-bottom: 10px;
}
#main .error h3 {
  color: #d3c2a2;
}
#main .error p.last {
  font-weight: 900;
}
/* index */

#body-index #main {
  background-image: url(/fx/images/citat.png);
  background-repeat: no-repeat;
  background-position: 0 20px;
  margin-top: 440px;
  margin-bottom: 40px;
  padding: 20px 20px 40px 110px;
  width: 370px;
  position: relative;
}
#body-index #main div {
  background-image: url(/fx/images/615e5f.png);
  height: 100px;
  padding: 15px;
  overflow: hidden;
}
#body-index #main div.btn {
  height: 20px;
  padding: 15px;
  margin: 0;
}
#body-index #main a.button {
  position: absolute;
  right: 30px;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 5px 0;
  color: #000;
  z-index: 201;
}
footer a {
  color: #000;
  font-weight: normal;
}

footer ul {
  list-style: none;
  margin: 0 auto;
  width: 910px;
  padding: 0;
}
footer li {
  background: url(/fx/images/dots_adr_buttom.png) no-repeat center right;
  padding: 0 10px;
  float: left;
}
footer li:last-child {
  background-image: none;
}

footer img {
  height: 12px;
  text-align: right;
  vertical-align: middle;
}

#slide-notice-box {
  position: fixed;
  top: 45px;
  z-index: 2;
  background-image: url(/fx/images/ffffff.png);
  color: #000;
  text-align: center;
  padding: 5px;
}
#slide-notice-box span {
  display: none;
}

/* cataloug pages (info menu) */

nav.main li.out {
  display: none;
}


#body-product a.video-popper,
#video-player-container {
  position: absolute;
  bottom: 0;
  left: 175px;
  z-index: 2;
}

a.video-popper,
#video-player-container a.video {
  display: block;
  width: 124px;
  height: 76px;
  background-image: url(/fx/images/video_stillpic.jpg);
}

#video-player-container .video-js-box {
  position: absolute;
  top: -1000px;
  left: -1000px;
}

/* login */
#body-login #main a {
  margin: 10px 0;
  display: inline-block;
}
#body-login form {
  margin: 10px 0;
}
#body-login label {
  width: 280px;
  display: block;
  height: 25px;
}
#body-login label input {
  border: none;
  background-color: #fff;
  float: right;
}
#body-login div.left {
  float: left;
  width: 335px;
}
#body-login div.right {
  float: right;
  width: 380px;
}


/* account history info */
#body-account-history #main div,
#body-account-history-info #main div {
  margin-bottom: 10px;
}

#order-status th {
  text-align: left;
}
#order-status th.right {
  text-align: right;
}
#order-status th.center {
  text-align: center;
}

/* messages */
.message {
  border: 1px solid #7B7577;
  background-color: #fff;
  padding: 1em 3em;
  color: #000;
}

.message.error {
  font-weight: bold;
  color: #f00;
}

.message.wait {
  background-image: url('/fx/images/indicator.gif');
  background-repeat: no-repeat;
  background-position: 10px center;
}

/* account events */
.delete-trigger {
  cursor: pointer;
}

#map_canvas {
  color: #000;
}

/* account hostess */
#invite-container {
  margin: 20px 0;
}
.hostess-paticipantlist {
  margin: 40px 0 20px;
}

.hostess-paticipantlist thead th {
  border-bottom: 1px solid #7B7577;
}
.invite-item {
  margin-bottom: 10px;
}

#colorbox-slideshow {
  margin-bottom: 5px;
}

/* set */
#body-set #main table td {
  padding-bottom: 15px;
}

/* pc-check */
#body-pc-check span {
  display: block;
  margin: 20px auto;
  border: 1px solid #7B7577;
  padding: 10px;
  width: 240px;
  text-align: center;
  font-weight: 900;
  font-size: 18px;
}

/* hostess */

#body-hostess form {
  margin: 30px 0;
}
#body-hostess h2 {
  margin-bottom: 10px;
}

#body-participant label,
#body-hostess label {
  display: block;
  width: 270px;
  overflow: hidden;
  margin-bottom: 2px;
}

#body-participant label input,
#body-hostess label input {
  float: right;
  border: 1px solid #7B7577;
  width: 180px;
}

#body-participant label.wide,
#body-hostess label.wide {
  width: 600px;
  margin: 10px 0;
}
#body-participant label.wide input,
#body-hostess label.wide input {
  float: left;
  margin-right: 10px;
  width: auto;
}
#body-hostess form .button {
  margin-top: 10px;
}
#body-hostess div.error {
  border: 1px solid #a10000;
  padding: 10px;
}

#body-participant label {
  width: 330px;
}

#body-participant form div div:last-child {
  margin-top: 40px;
}
#body-participant form .last {
  margin-bottom: 5px;
}

/* Generic messages */
.msg {
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
  padding: 0.5em;
  font-weight: bold;
  margin-bottom: 1em;
}

.msg.error {
  border: 2px solid #f00;
}
