#body-basket h1 {
  border: none;
  font-size: 14px;
  margin-top: 5px;
}

#body-basket #checkout-steps {
  margin: 0;
}

#body-basket tr.error .date,
#body-basket div.error {
  border: 1px solid #a10000;
  padding: 10px;
}
#body-basket div.error.center {
  border: 0;
  padding: 0;
}

.product-table .image img {
  width: 66px;
  height: 66px;
}

.product-table th,
.product-table td {
  padding: 5px;
}
.product-table td table {
  margin: 10px 0;
}
.product-table td td {
  padding: 1px;
}
.product-table td.np {
  padding: 0;
}

.product-table th {
  font-family: 'Merriweather', Tahoma;
  color: #231f20;
}
.product-table thead,
.product-table tbody,
.product-table tfoot {
  border-bottom: 1px solid #7b7577;
}
.product-table td thead,
.product-table td tbody {
  border-bottom: none;
}
.product-table td tfoot {
  border-top: 1px solid #7b7577;
}
.product-table td tfoot td {
  padding-top: 0;
  padding-bottom: 0;
}
.product-table th.group {
  text-align: left;
  color: #231f20;
}
.product-table td.image {
  padding-left: 15px;
}
.product-table {
  width: 100%;
  margin: 20px 0;
}
.product-table img {
  float: left;
  margin-right: 10px;
}
.product-table td div.info {
  float: left;
  width: 170px;
  line-height: 1.4em;
}
.product-table td div.info a {
  font-family: 'Merriweather', Tahoma;
}
.product-table td div.info div {
  display: block;
  font-weight: normal;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}
.product-table td div.info div select {
  float: right;
}

.product-table td div.info label {
}

.cart_delete_action,
.cart_edit_action {
  float: right;
}

#cart-edit-element {
  border: 5px solid #000;
  position: absolute;
  padding: 10px;
  z-index: 9999;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#cart-edit-element a.button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

table.edit-element {}
table.edit-element img {
  float: left;
  margin-right: 10px;
}
table.edit-element td div.info {
  float: left;
  width: 280px;
  line-height: 1.4em;
}
table.edit-element td div.info div {
  display: block;
  font-weight: normal;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  margin-bottom: 5px;
}
table.edit-element td div.info div.dialoug-loading {
  display: inline-block;
}
table.edit-element td div.info div label {
  float: left;
  width: 100px;
  display: block;
}
table.edit-element td div.info div span,
table.edit-element td div.info div select {
  float: left;
}
table.edit-element td div.info .button {
  position: absolute;
  bottom: 10px;
  right: 100px;
}

table.edit-element td div.info select {
  width: 150px;
  height: 25px;
}

/* notice message*/
#cart-edit-element .delivery-notice {
  position: absolute;
  top: 10px;
  left: 345px;
  width: 240px;
}
#cart-edit-element .delivery-notice strong {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}
