.product-list {
  position: relative;
  clear: both;
  text-align: left;
  width: 735px;
  height: 600px;
  overflow: hidden;
}
.product-list .wrapper {
  float: left;
}
.product-list .block {
  float: left;
  width: 115px;
  height: 300px;
  margin-right: 9px;
}
.product-list .block-num-6,
.product-list .block-num-12 {
  margin-right: 0;
}

.product-list .block a {
  display: block;
  width: 115px;
  height: 300px;
  font-weight: normal;
}
.product-list .block a img {
  width: 115px;
  height: 230px;
}
.product-list .block a img:hover {}
.product-list .prices {
  color: #fff;
}
.product-list .prices,
.product-list .title {
  font-family: 'Merriweather', Verdana;
  display: block;
  text-align: center;
}
.product-list .prices span {
  display: block;
  text-align: center;
}
.product-list .prices .normal.strike {
  text-decoration: line-through;
}
.product-list .block a:hover {}
.product-list .spacing {
  clear: both;
  line-height: 10px;
}

.pager {
  width: 100%;
  border-top: 1px solid #7b7577;
}
.pager ul {
  margin: 5px 0 0 0;
  padding: 0;
  float: right;
}
.pager ul li {
  color: #d3c2a2;
  list-style: none;
  float: left;
  padding: 0 10px;
  border-right: 1px solid #7b7577;
}
.pager ul li.current a {
  color: #d3c2a2;
}
.pager ul li:last-child {
  border-right: none;
}
.pager ul li.next a {
  background: url(/fx/images/arrow_single_right_white.png) no-repeat center right;
  padding-right: 10px;
  text-transform: uppercase;
}
.pager ul li.prew a {
  background: url(/fx/images/arrow_single_left_white.png) no-repeat center left;
  padding-left: 10px;
  text-transform: uppercase;
}
.pager ul a {
  text-decoration: none;
  font-weight: normal;
  color: #fff;
}
.pager ul a:hover {}

.pager .loading {
  margin: 5px 0 0 0;
  float: right;
  display: none;
  height: 16px;
}
.pager .loading p {
  display: inline-block;
  float: left;
  margin-right: 5px;
}
.pager .loading span {
  background-color: #fff;
  width: 1px;
  height: 16px;
  display: block;
  float: right;
}
