.product-list {
  position: relative;
  clear: both;
  text-align: left;
  width: 735px;
  height: 600px;
  /*overflow: hidden;*/
}
.product-list .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 735px;
  height: 600px;
}
.product-list .block {
  float: left;
  width: 115px;
  height: 300px;
  margin-right: 9px;
}
.product-list .last,
.product-list .block-num-6,
.product-list .block-num-12 {
  margin-right: 0;
}

.product-list .block a {
  display: block;
  width: 115px;
  height: 300px;
  font-weight: normal;
  color: #998670;
}
.product-list .block a img {
  width: 115px;
  height: 230px;
}
.product-list .block a img:hover {}
.product-list .prices {
  color: #231f20;
}
.product-list .prices,
.product-list .title {
  font-family: 'Merriweather';
  display: block;
  text-align: center;
}
.product-list .prices span {
  display: block;
  text-align: center;
}
.product-list .prices .normal.strike {
  text-decoration: line-through;
}
.product-list .block a:hover {}
.product-list .spacing {
  clear: both;
  line-height: 10px;
}

.product-list .wrapper.prev {
  left: -744px;
}
.product-list .wrapper.next {
  left: 744px;
}



.pager {
  width: 100%;
  border-top: 1px solid #7b7577;
}
.pager ul {
  margin: 5px 0 0 0;
  padding: 0;
  float: right;
}
.pager ul li {
  color: #998670;
  list-style: none;
  float: left;
  padding: 0 10px;
  border-right: 1px solid #7b7577;
}
.pager ul li.current a {
  color: #998670;
}
.pager ul li:last-child {
  border-right: none;
}
.pager ul li.next a {
  background: url(/fx/images/arrow_single_right_white.png) no-repeat center right;
  padding-right: 10px;
  text-transform: uppercase;
}
.pager ul li.prew a {
  background: url(/fx/images/arrow_single_left_white.png) no-repeat center left;
  padding-left: 10px;
  text-transform: uppercase;
}
.pager ul a {
  text-decoration: none;
  font-weight: normal;
  color: #231f20;
}
.pager ul a:hover {}

.pager .dialoug-loading {
  margin: 5px 0 0 0;
  float: right;
}
