.checkout-block {
  margin: 20px 0;
}
.checkout-block ul {
  list-style:none;
}

#body-checkout #main form {
  margin-bottom: 10px;
}
#body-checkout #main form>h3 {
  margin-top: 20px;
}
#body-checkout #main h2 {
  background-color: #C8C4C3;
  padding:  5px;
  margin-top: 20px;
}
form.address {
  float: left;
  overflow: hidden;
  margin-right: 40px;
}
form.address label {
  display: block;
  width: 110px;
  float: left;
}
#body-checkout #main form.address>h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

#body-checkout div>div {
  overflow: hidden;
  padding: 3px;
}
#body-checkout #main {
  padding: 20px;
}

#address-block .confirm {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #f00;
  clear: both;
}
#body-checkout div.msg.error {
  padding: 20px;
}

#coupon-block form {
  overflow: hidden;
  padding: 20px;
  margin: 10px;
  border: 1px solid #7B7577;
}
#coupon-block form div.clearfix {
  float: left;
}
#coupon-block #form_code {
  margin: 0 10px;
}

#cboxLoadedContent h2 {
  padding-bottom: 7px;
  border-bottom: 1px solid #7B7577;
}
#cboxLoadedContent form {
  margin-top: 10px;
}
#cboxLoadedContent form input {
  border: 1px solid #999;
}

#cboxLoadedContent form label {
  color: #231f20;
}
#cboxLoadedContent form div {
  overflow: hidden;
  margin-bottom: 2px;
}
#cboxLoadedContent form #form {
  margin-bottom: 10px;
}

#cboxLoadedContent form input.left {
  float: left;
}
#cboxLoadedContent form div.error {
  color: #a10000;
  padding-bottom: 10px;
}
#cboxLoadedContent form div .error {
  border-color: #a10000;
}

#body-checkout-process #secondary-links,
#body-checkout-process nav.main {
  display: none;
}
