#cboxContent .dialoug h2 {}
#cboxContent .dialoug div.message {}

#cboxContent .dialoug .buttons {
  padding: 0 10px;
}
#cboxContent .dialoug .buttons a {}

#cboxContent .alert {}
#cboxContent .confirm {}

#dialoug-message {
  border: 2px solid #D3C2A2;
  color: #231f20;
  margin: 10px 0;
  display: none;
}

#dialoug-message.info {}
#dialoug-message.warning {}
#dialoug-message.error {
  border-color: #f00;
}

#dialoug-message p {
  background-color: #fff;
  padding: 10px;
  margin: 0;
}

.dialoug-loading {
  display: inline-block;
  height: 16px;
  background: url(/fx/images/loader-bar.gif) no-repeat left center;
  padding-left: 20px;
  margin-left: 5px;
}
