#body-event #main table, #body-event #main form {
  margin-bottom: 20px;
}
form.create input, form.create select, form.create textarea {
  float: right;
}

form.create textarea {
  height:100px;
  width:250px;
}

form.create #events div {
  overflow: hidden;
  margin-bottom: 5px;
}

form.create #events div.dialoug-loading {
  margin-bottom: 0;
}

form.create #events {
  margin-top: 20px;
}

form.create ul {
  list-style: none;
  background-color: #fff;
  color: #231f20;
  border: 1px solid #a10000;
  margin-bottom: 10px;
  padding: 10px;
}

#find-customer form input[type=submit] {
  margin-left:2px;
}
#find-customer form {
  margin-bottom: 5px;
}

table.list th{
  text-align: left;
  padding-right:5px;
}

#body-event .list a.delete {
  background: #ffffff url(/fx/images/delete_icon.png) no-repeat center left;
  text-indent: -99999px;
  display: block;
  width: 16px;
  height: 16px;
}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

li.dropdown-menu div{
  position: absolute;
  top: 40px;
  padding: 1em 0.5em;
  background:#242424;
  z-index: 1000;
  max-height: 500px;
  overflow-y: auto;
}

li.dropdown-menu div ul{
  border:none;
}

li.dropdown-menu div ul li{
  float:left;
  clear: both;
  display: block;
  padding:0;
  background:none;
}

li.dropdown-menu div a{
  border: none;
  display: block;
}

form#select-event-type {
  margin: 20px;
}
form#select-event-type select {
  margin: 10px 0;
}
form#fetch-customer-form .input {
  width: 200px;
}

form div#form_has_accepted {
  float: right;
  padding: 0 10px;
  display: inline-block;
  margin-right: 113px;
}
form div#form_has_accepted input {
  float: right;
  clear: both;
}
form div#form_has_accepted label {
  float: right;
}

form.create label{
  width: 273px;
}
form.create #customers_accept{
  margin-top: 19px;
}

#body-events-create-customer #main ul input[type="checkbox"] {
  margin-right: 146px;
  float: right;
}

#body-events-create-customer #main ul {
  margin:10px 0;
  padding:0;
  width: 450px;
}