body {
  background-color: #fff;
  color: #231f20;
}
a {
  text-decoration: none;
  color: #998670;
  font-weight: 900;
}
a:hover {
  color: #231f20;
}

h1, h2, h3, h4 {
  font-family: 'Merriweather', Tahoma;
  margin-top: 0;
  padding-top: 0;
  color: #231f20;
}
h1 {
  font-size: 18px;
  color: #231f20;
  padding-bottom: 7px;
  border-bottom: 1px solid #7b7577;
}

body.noh1 h1 {
  display: none;
}

h2, h3, h4 {
  font-size: 14px;
  margin-bottom: 0;
  color: #231f20;
}
h4 {
  color: #231f20;
}
#main h2,
#main h3,
#main h4 {
  color: #231f20
}

table {
  width: 100%;
  border-spacing: 0;
}

td, th {
  vertical-align: top;
}

th.left,
td.left {
  text-align: left;
  float: none;
}
th.right,
td.right {
  text-align: right;
  float: none;
}
th.center,
td.center {
  text-align: center;
  float: none;
}

p {
  margin-top: 0;
  padding-top: 0;
}

blockquote {
  background-image: url(/fx/images/citat2.png);
  background-position: top left;
  background-repeat: no-repeat;
  padding-left: 60px;
  padding-top: 20px;
  margin-left: 0;
  font-size: 18px;
  font-family: 'Merriweather', Tahoma;
}

hr {
  border:0 #7b7577 solid;
  border-top-width:1px;
  clear:both;
  height:0
}

input[type=text],
input[type=password],
input[type=email] {
  border: 1px solid #231f20;
  background-color: #fff;
}

.button {
  background: #000000 url(/fx/images/arrow_dobble_right_white.png) no-repeat center right;
  padding: 2px 20px 3px 5px;
  color: #fff;
  border: none;
  font-weight: normal;
}
.button.left {
  background: #000000 url(/fx/images/arrow_dobble_left_white.png) no-repeat center left;
  padding: 2px 5px 3px 20px;
}
.button:hover {
  color: #998670;
}

.button.disabled {
  cursor:progress;
  background-color: #cbcbcb;
}
.button.disabled:hover {
  color: #fff;
}

.left {
  float: left;
}
.right {
  float: right;
}

.off {
  display: none;
}

.strike {
  text-decoration: line-through;
}

#logo {
  position: absolute;
  left: 25px;
  top: 24px;
}

#cboxOverlay,
#colorbox {
  z-index: 9999;
}

#supersize {
  position: fixed;
  top: 0;
  left: 0;
}
#supersize img {
  height:100%;
  position:absolute;
  width:100%;
  z-index:0
}

#teasers,
nav.main {
  position: absolute;
  left: 0;
  top: 190px;
}

#logo,
#secondary-links,
nav.main {
  position: absolute;
}
#teasers ul,
nav.main ul,
nav.sub ul {
  list-style: none;
}

nav.main {
  padding-bottom: 20px;
}

/*  level 1 */
nav.main ul li {
  margin: 15px 0;
  text-transform: uppercase;
}
nav.main ul li li {
  text-transform: none;
}
nav.main ul li a {
  background-color: #c8c4c3;
  color: #231f20;
  font-size: 14px;
  font-weight: normal;
  padding: 3px 20px;
}
nav.main ul li a:hover {
  background-color: #998670;
}

nav.main li.active a {
  background-color: #2E2A2A;
  color: #fff;
}
nav.main li.facebook a {
  padding-left: 40px;
  background-image: url(/fx/images/fb_icon.png);
  background-position: 20px 6px;
  background-repeat: no-repeat;
}

/* level 2+3 */
nav.main ul li li {
  margin: 8px 0;
}
nav.main ul li li li {
  margin-left: 10px;
}

nav.main ul li li a,
nav.main ul li li.inactive a {
  background-color: transparent;
  color: #231f20;
}
nav.main ul li li.active a {
  background-color: transparent;
  color: #231f20;
  font-weight: bold;
}
nav.main ul li li li.inactive a {
  background-image: none;
  color: #231f20;
  font-weight: normal;
}
nav.main ul li li li a:hover,
nav.main ul li li a:hover {
  color: #998670;
}

nav.sub {
  height: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
nav.sub ul {
  margin: 0;
  padding: 0;
  padding-bottom: 7px;
  border-bottom: 1px solid #7b7577;
  height: 20px;
}
nav.sub li {
  float: left;
  padding: 0 10px;
  background: url(/fx/images/dots_webshop_topmenu.png) no-repeat center right;
}
nav.sub li:first-child {
  padding-left: 0;
}
nav.sub li:last-child {
  background-image: none;
}
nav.sub a {
  font-weight: normal;
  color: #231f20;
}
nav.sub a:hover {
  color: #998670;
}

/* frontpage teasers */
#teasers {
  position: absolute;
  right: 0;
  left: auto;
  width: 250px;
}
#teasers li h2,
#teasers li a h2 {
  color: #231f20;
}
#teasers li {
  height: 100px;
  margin: 5px 0;
  padding: 10px;
}
#teasers a {
  display: block;
  height: 100%;
  width: 100%;
  font-weight: normal;
  color: #fff;
}
#teasers a:hover .button {
  color: #998670;
}

.teaser-box-1,
.teaser-box-4 {
  background-image: url(/fx/images/b4b5b6.png);
}
.teaser-box-2 {
  background-image: url(/fx/images/c4bac0.png);
}
.teaser-box-3 {
  background-image: url(/fx/images/a5b3be.png);
}


/* top right menu */
#secondary-links {
  right: 0;
  top: 0;
  background-image: url(/fx/images/b4b5b6.png);
  color: #231f20;
  padding: 5px;
}
#secondary-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#secondary-links ul li {
  float: left;
  padding: 8px 10px 8px 0;
  text-transform: uppercase;
  font-size: 11px;
}
#body-product .buton,
#secondary-links ul li.basket {
  background: url(/fx/images/basket.png) no-repeat 10px 0;
}
#secondary-links ul li.basket a {
  padding-left: 35px;
}
#secondary-links ul li a {
  border-left: 1px solid #7b7577;
  padding-left: 10px;
}
#secondary-links ul li:first-child a {
  border-left: none;
}
#secondary-links ul li a {
  font-weight: normal;
  color: #231f20;
}

#secondary-links #select-domain div {
  position: absolute;
  top: 40px;
  background-image: url(/fx/images/ffffff.png);
  padding: 1em 0.5em;
}

#secondary-links #select-domain div a {
  border: none;
}
#container {
  z-index: 10;
  position: absolute;
  width: 100%;
}
#main {
  position: relative;
  width: 735px;
  margin: 75px auto 45px auto;
  background-image: url(/fx/images/535354.png);
  padding: 20px;
  overflow: hidden;
}

#facebox {
  color: #231f20;
}

/* colorbox */
#cboxLoadedContent h2 {
  color: #231f20;
}
#cboxLoadedContent .message {
  margin: 10px;
  color: #231f20;
}

/* cloud zoom */
.cloud-zoom-title {
  text-align: left;
}

#container div.error.center {
  margin-bottom: 10px;
}
#main .error h3 {
  color: #998670;
}
#main .error p.last {
  font-weight: 900;
}
/* index */

#body-frontpage #main {
  background-image: none;
}

/*#body-frontpage #main {
  background-image: url(/fx/images/citat.png);
  background-size: 59px 41px;
  background-repeat: no-repeat;
  background-position: 0 20px;
  margin-top: 440px;
  margin-bottom: 40px;
  width: 370px;
  position: relative;
  padding: 20px 20px 40px 70px;
}
#body-frontpage #main article {
  background-image: url(/fx/images/535354.png);
  height: 165px;
}
#body-frontpage #main div {
  height: 100px;
  padding: 15px;
  overflow: hidden;
}
#body-frontpage #main a.button {
  position: absolute;
  right: 30px;
  cursor: pointer;
}
*/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 5px 0;
  color: #231f20;
  z-index: 201;
}
footer a {
  color: #231f20;
  font-weight: normal;
}

footer ul {
  list-style: none;
  margin: 0 auto;
  width: 910px;
  padding: 0;
}
footer li {
  background: url(/fx/images/dots_adr_buttom.png) no-repeat center right;
  padding: 0 10px;
  float: left;
}
footer li:last-child {
  background-image: none;
}

footer img {
  height: 12px;
  text-align: right;
  vertical-align: middle;
}

#slide-notice-box {
  position: fixed;
  top: 45px;
  z-index: 2;
  background-image: url(/fx/images/ffffff.png);
  color: #231f20;
  text-align: center;
  padding: 5px;
}
#slide-notice-box span {
  display: none;
}

/* cataloug pages (info menu) */

nav.main li.out {
  display: none;
}


#body-product a.video-popper,
#video-player-container {
  position: absolute;
  bottom: 0;
  left: 175px;
  z-index: 2;
}

a.video-popper,
#video-player-container a.video {
  display: block;
  width: 124px;
  height: 76px;
  background-image: url(/fx/images/video_stillpic.jpg);
}

#video-player-container .video-js-box {
  position: absolute;
  top: -1000px;
  left: -1000px;
}

/* checkout steps */
#checkout-steps {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 5px;
  height: 20px;
  border-top: 1px solid #7b7577;
  border-bottom: 1px solid #7b7577;
  margin-bottom: 20px;
}
#checkout-steps a {
  font-weight: normal;
  color: #231f20;
}
#checkout-steps a:hover {
  color: #998670;
}
#checkout-steps li {
  float: left;
  padding: 0 12px;
  border-right: 1px solid #7b7577;
}
#checkout-steps li:last-child {
  border-right:none;
}
#checkout-steps li.current {
  font-weight: 900;
}

/* checkout payment */
#body-checkout-payment ul.payment-methods {
  list-style: none;
  margin: 10px 0 10px 0;
  padding: 0;
}
#body-checkout-payment ul.payment-methods li {
  padding: 4px 10px;
}
#body-checkout-payment ul.payment-methods li input {
  vertical-align: middle;
}
#body-checkout-payment ul.payment-methods li img {
  vertical-align: middle;
  margin-left: 10px;
}

/* checkout shipping */
.shipping-method {
  margin-bottom: 15px;
}
.shipping-method div,
.shipping-method p {
}
.shipping-method  h3 {
  color: #231f20;
}
#confirm_shipping_address {
  margin: 10px;
  border: 1px solid #998670;
}

.ts-address div{
  margin-bottom: 10px;
}
#ts-shipping-address .button {
}

/* checkout confirmation */
#body-checkout-confirmation #main div {
  margin: 10px 0;
}
#body-checkout-confirmation .grid {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
#body-checkout-confirmation .grid li {
  float: left;
  margin-right: 20px;
}

#body-checkout-confirmation h3 a {
  margin-left: 10px;
  font-size: 11px;
  font-weight: normal;
  font-family: Tahoma, Tahoma;
  vertical-align: top;
}

/* checkout gothia */
#body-checkout-gothia .action-block {
  margin-top: 2em;
}

#body-checkout-gothia form div {
  margin: 1em 0;
}

#body-checkout-gothia .prefilled {
  color: #231f20;
}

/* newsletter subscription forms */
form.newsletter-subscription-form {}
form.newsletter-subscription-form div {}
form.newsletter-subscription-form label {
  float: left;
}
form.newsletter-subscription-form input {
  margin-bottom: 5px;
  float: right;
  border: none;
  background-color: #ccc;
}
form.newsletter-subscription-form input.button {
  background-image: none;
  background-color: #000;
  padding-right: 5px;
  margin: 5px 0 5px 5px;
}

#body-index form.newsletter-subscription-form {
  margin-top: 10px;
}
#body-index form.newsletter-subscription-form label {
  display: none;
}
#body-index form.newsletter-subscription-form input {
  width: 100%;
}
#body-index form.newsletter-subscription-form input.button {
  margin: 5px 5px 5px 0;
  float: left;
  margin-top: 0;
  width: auto;
}

#body-pages form.newsletter-subscription-form input {
  width: 245px;
}
#body-pages form.newsletter-subscription-form input.button {
  width: auto;
}


/* check out flow */
#body-checkout-confirmation h1,
#body-checkout-payment h1,
#body-checkout-shipping-address h1,
#body-checkout-shipping h1 {
  border: none;
  font-size: 14px;
  margin-top: 5px;
}
#body-checkout-confirmation #checkout-steps,
#body-checkout-payment #checkout-steps,
#body-checkout-shipping-address #checkout-steps,
#body-checkout-shipping #checkout-steps {
  margin: 0;
}


/* checkout shipping */
#body-checkout-shipping h2 {
  color: #231f20;
}
#body-checkout-payment form input.button,
#body-checkout-shipping-address form div input.button,
#body-checkout-shipping input.button,
#body-password-forgotten input.button {
  float: right;
}
#body-password-forgotten form div {
  margin-top: 10px;
}

/* checkout shipping address */
#body-checkout-shipping-address input[type="text"] {
  border: none;
  background-color: #ccc;
}
#body-checkout-shipping-address form {
  margin: 10px 0;
}

#body-checkout-shipping-address label {
  display: block;
  height: 30px;
  width: 400px;
}
#body-checkout-shipping-address label input {
  display: block;
}
#body-checkout-shipping-address span.inputRequirement {
  display: none;
}

/* checkout payment */
#body-checkout-payment h2 {
  color: #231f20;
}
#body-checkout-payment label {
  font-family: 'Merriweather', Tahoma;
  color: #231f20;
}
#body-checkout-payment form div {
  margin-bottom: 20px;
}

/* checkout confirmation */
#body-checkout-confirmation .product-table tbody,
#body-checkout-confirmation .product-table tfoot {
  border: none;
}
#body-checkout-confirmation .product-table td tfoot {
  border-top: 1px solid #7b7577;
  border-bottom: 1px solid #7b7577;
}
#body-checkout-confirmation .product-table td tfoot td {
  padding: 2px 0;
}
#body-checkout-confirmation h3 {
  color: #231f20;
}
#body-checkout-confirmation form {
  margin-top: 20px;
}

#body-checkout-confirmation div.error {
  color: #231f20;
}
#body-checkout-confirmation div.error h3,
#body-checkout-confirmation div.error p {
  margin-bottom: 10px;
}

/* checkout success */
#body-checkout-success h2,
#body-checkout-success h3 {
  color: #231f20;
}

/* login */
#body-login #main a {
  margin: 10px 0;
  display: inline-block;
}
#body-login form {
  margin: 10px 0;
}
#body-login label {
  width: 280px;
  display: block;
  height: 25px;
}
#body-login label input {
  background-color: #fff;
  float: right;
  border-bottom-width:thin;
  border-color:#CCC;
}
#body-login div.left {
  float: left;
  width: 335px;
}
#body-login div.right {
  float: right;
  width: 380px;
}


/* account history info */
#body-account-history #main div,
#body-account-history-info #main div {
  margin-bottom: 10px;
}

#order-status th {
  text-align: left;
}
#order-status th.right {
  text-align: right;
}
#order-status th.center {
  text-align: center;
}

/* messages */
.message {
  border: 1px solid #7B7577;
  background-color: #fff;
  padding: 1em 3em;
  color: #231f20;
}

.message.error {
  font-weight: bold;
  color: #f00;
}

.message.wait {
  background-image: url('/fx/images/indicator.gif');
  background-repeat: no-repeat;
  background-position: 10px center;
}

/* account events */
.delete-trigger {
  cursor: pointer;
}

#map_canvas {
  color: #231f20;
}

/* account hostess */
#invite-container {
  margin: 20px 0;
}
.hostess-paticipantlist {
  margin: 40px 0 20px;
}

.hostess-paticipantlist thead th {
  border-bottom: 1px solid #7B7577;
}
.invite-item {
  margin-bottom: 10px;
}

#colorbox-slideshow {
  margin-bottom: 5px;
}

/* set */
#body-set #main table td {
  padding-bottom: 15px;
}

/* pc-check */
#body-pc-check span {
  display: block;
  margin: 20px auto;
  border: 1px solid #7B7577;
  padding: 10px;
  width: 240px;
  text-align: center;
  font-weight: 900;
  font-size: 18px;
}

#gothia_payment_form {
  margin: 20px 0;
}
#gothia_payment_form div {
  margin: 5px 0;
}
#gothia_payment_form div label {
  width: 120px;
  display: inline-block;
}
#gothia_payment_form div.action-block {
  margin: 10px 0;
}

/* hostess */

#body-hostess form {
  margin: 30px 0;
}
#body-hostess h2 {
  margin-bottom: 10px;
}

#body-participant label,
#body-hostess label {
  display: block;
  width: 270px;
  overflow: hidden;
  margin-bottom: 2px;
}

#body-participant label input,
#body-hostess label input {
  float: right;
  border: 1px solid #7B7577;
  width: 180px;
}

#body-participant label.wide,
#body-hostess label.wide {
  width: 600px;
  margin: 10px 0;
}
#body-participant label.wide input,
#body-hostess label.wide input {
  float: left;
  margin-right: 10px;
  width: auto;
}
#body-hostess form .button {
  margin-top: 10px;
}
#body-hostess div.error {
  border: 1px solid #a10000;
  padding: 10px;
}

#body-participant label {
  width: 330px;
}

#body-participant form div div:last-child {
  margin-top: 40px;
}
#body-participant form .last {
  margin-bottom: 5px;
}

/* Generic messages */
.msg {
  border: 2px solid #000;
  background-color: #fff;
  color: #231f20;
  padding: 0.5em;
  font-weight: bold;
  margin-bottom: 1em;
}

.msg.error {
  border: 2px solid #f00;
}

#consultants-map-canvas div div {
  color: #231f20;
}

#newsletter-lists-container-disabled {
  display: none;
}

#newsletter-lists-container ul {
  list-style: none;
}

#newsletter-lists-container.simple label {
  display: none;
}
#newsletter-lists-container.simple input.text {
  width: 100%;
}

#body-context-list #main ul {
  margin: 0;
  padding: 0 20px;
  list-style: square;
  float: left;
  width: 26%;
}
#body-context-list #main ul li {
  margin: 0;
}
