div#near-you-container h2 {}
div#near-you-container .entry {
  width:320px;
  height:115px;
  border:1px solid #666;
  margin-bottom:10px;
  margin-right:30px;
}
div#near-you-container .entry .wrapper {
  padding:10px;
  overflow: hidden;
  position: relative;
}
div#near-you-container .entry.odd {
  float:left;
}
div#near-you-container .entry.even {
  float:right;
}
div#near-you-container .entry .info {
  width:190px;
  min-height: 80px;
  float:left;
}
div#near-you-container .entry img {
  float:right;
}
div#near-you-container .entry i {
  float:right;
}
#near-you-container .element,
.panes div.pane .element {
  width: 240px;
  padding: 0px;
  float: left;
}

#near-you-container .element .note,
.panes div.pane .note {
  margin:5px 0;
}
