#quickorder form {
	padding-bottom:50px;
}
#quickorder form input,
#quickorder form select{
	margin-right: 5px;
}
#quickorder input:focus,
#quickorder select:focus {
	border:2px solid white;
}
#quickorder label {
	display: inline-block;
}
#quickorder form div{
	clear: both;
}

#quickorder .ui-autocomplete {
	list-style-type:none;
	padding:0px 5px;
	display: inline-block;
}
#quickorder .ui-autocomplete .ui-menu-item {
	cursor: pointer;
}