body {
    font-family: 'Muli', Tahoma, serif;
}

h1, h2, h3, h4 {
    font-family: 'Muli', Tahoma, serif;
    margin-top: 0;
    padding-top: 0;
    color: #231f20;
}

h1 {
    font-size: 13px;
    padding-bottom: 7px;
    padding-left: 20px;
    position: absolute;
    left: 492px;
    top: 230px;
}

.logo-wrapper {
    padding-top: 65px;
    padding-bottom: 40px;
    text-align: center;
}

#selector {
    position: relative;
    margin: auto;
    background: url(/fx/images/splash_bg.jpg) no-repeat top center;
    width: 700px;
    height: 605px;
}

#selector ul {
    position: absolute;
    top: 251px;
    right: 5px;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100px;
    width: 200px;
}

#selector ul li {
    line-height: 2em;
    float: left;
    width: 50%;
    text-align: center;
}

li a {
    color: #231f20;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

@media all and (max-width: 780px) {
    body {
        background: #fff url(/fx/images/220x49,POMPdeLUX_logo_SS16.png) no-repeat center 30px;
    }

    .logo-wrapper {
        display: none;
    }

    h1 {
        font-size: 18px;
        text-transform: uppercase;
        padding: 0;
        border-bottom: 2px solid #7b7577;
        position: inherit;
        left: 0;
        top: 0;
    }

    #selector {
        background: none;
        position: relative;
        width: 100%;
        left: 0px;
        top: 110px;
        height: auto;
        text-align: center;
    }

    #selector ul {
        position: inherit;
        left: 0;
        padding: 0;
        top: 0;
        width: auto;
    }

    #selector ul li {
        float: none;
        width: 100%;
    }

    #selector ul li a {
        padding: 5px;
        display: inline-block;
    }
}
