{% set page_type = 'checkout-failed' %}
{% extends layout %}

{% block content %}

<h1>{{ 'checkout.failed.title'|trans({}, 'checkout') }}</h1>

<div>
  {{ 'checkout.failed.text'|trans({'%order_id%':order_id}, 'checkout')|raw }}
</div>

{% endblock %}
