{% extends layout %}
{% block content %}

{% if app.session.hasFlash('notice') %}
    <div class="message error">
        {{ app.session.flash('notice') }}
    </div>
{% endif %}

  {% render 'ShippingBundle:Default:block' %}
  {% render 'CheckoutBundle:Default:addresses' %}
  {% render 'PaymentBundle:Default:block' %}
  {% render 'CheckoutBundle:Default:confirm' %}

{% endblock %}

{% block javascript %}
<script>$(function () {checkout.init();});</script>
{% endblock javascript %}
