{% set page_type = 'checkout-success' %}
{% extends layout %}

{% block content %}

<header class="grid_8 alpha omega">
    <hgroup>
      <h1>{{ 'checkout.success.title'|trans({}, 'checkout') }}</h1>
    </hgroup>
</header>

<div>
  {{ 'checkout.success.text'|trans({
    '%id%' : order_id,
    '%date%' : expected_at,
    '%account%': url('_account')
  }, 'checkout')|raw }}
</div>

{% endblock %}

{% block javascript %}
<script>
  var google_conversion_id       = 1056677768;
  var google_conversion_language = "en";
  var google_conversion_format   = "1";
  var google_conversion_color    = "666666";
  var google_conversion_label    = "purchase";
</script>
<script src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
  <img height="1" width="1" border="0" src="//www.googleadservices.com/pagead/conversion/1056677768/?label=purchase&amp;guid=ON&amp;script=0"/>
</noscript>

{% if app.request.locale == 'de_DE' %}
<script type="text/javascript">
  var google_conversion_id       = 976104979;
  var google_conversion_language = "en";
  var google_conversion_format   = "3";
  var google_conversion_color    = "ffffff";
  var google_conversion_label    = "-A9aCK26vQkQk9y40QM";
  var google_conversion_value    = 900;
  var google_remarketing_only    = false;
</script>
<script src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
  <img height="1" width="1" border="0" src="//www.googleadservices.com/pagead/conversion/976104979/?value=900&amp;label=-A9aCK26vQkQk9y40QM&amp;guid=ON&amp;script=0"/>
</noscript>
{% endif %}

{% render 'RetargetingBundle:Default:successBlock' with {'order_id': order_id }  %}

{% endblock javascript %}
