{% set page_type = 'checkout-success' %}
{% extends layout %}

{% block content %}

<header class="grid_8 alpha omega">
    <hgroup>
      <h1>{{ 'checkout.success.title'|trans({}, 'checkout') }}</h1>
    </hgroup>
</header>

<div>
  {{ 'checkout.success.text'|trans({
    '%id%'      : order.id,
    '%date%'    : order.expected_at,
    '%account%' : url('_account')
  }, 'checkout')|raw }}
</div>

{% endblock %}
