{% set page_type = 'checkout-success' %}
{% extends layout %}

{% block content %}

<header class="grid_8 alpha omega">
    <hgroup>
      <h1>{{ 'checkout.success.title'|trans({}, 'checkout') }}</h1>
    </hgroup>
</header>

<div>
  {{ 'checkout.success.text'|trans({
    '%id%'      : order.id,
    '%date%'    : order.expected_at,
    '%account%' : url('_account')
  }, 'checkout')|raw }}
</div>

{% endblock %}

{% block javascript %}
<script>
  var google_conversion_id       = 1056677768;
  var google_conversion_language = "en";
  var google_conversion_format   = "1";
  var google_conversion_color    = "666666";
  var google_conversion_label    = "purchase";
</script>
<script src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
  <img height="1" width="1" border="0" src="//www.googleadservices.com/pagead/conversion/1056677768/?label=purchase&amp;guid=ON&amp;script=0"/>
</noscript>

{{ google_addwords_conversion_tag({value: order.total}) }}
{{ render(controller('RetargetingBundle:Default:successBlock', { 'order_id': order.id })) }}

{% endblock javascript %}
