{{ render(controller('BasketBundle:Default:view', { 'embed': true })) }}

{% if invalid_order_message %}
    <div class="invalid-order js-invalid-order">{{ invalid_order_message }}</div>
{% endif %}

{{ include('CheckoutBundle:Default:order_block.html.twig', {'order': order}) }}

<div class="notice">
  {{ 'late.delivery.notice'|trans({}, 'checkout')|raw }}
</div>
