{% extends layout %}
{% block content %}

<header class="grid_8 alpha omega">
    <hgroup>
        <h1>{{ 'my.account.%name%'|trans({'%name%' : user.FirstName|capitalize }, 'account') }}</h1>
    </hgroup>
</header>
<article class="grid_8 alpha omega">
	<div class="grid_6 alpha">

		{% if app.session.hasFlash('notice') %}
		<div class="message notice">
		  {{ app.session.flash('notice')|trans({}, 'account') }}
		</div>
		{% endif %}

      	{{ 'my.account.description'|trans({}, 'account')|raw }}
	</div>
	<div class="grid_2 omega">
		{% include 'AccountBundle:Default:aside.html.twig' %}
	</div>

	<div class="grid_8 alpha omega bottom-space">
		<h3>{{ 'previous.orders'|trans({}, 'account') }}</h3>
		{% render 'AccountBundle:History:block' with { 'route' : app.request.attributes.get('_route') } %}
	</div>
</article>

{% endblock %}
