<h3>{{ 'payment.paybybill.title'|trans({}, 'checkout') }}</h3>
<ul class="payment-methods" id="payment-method-paybybill" data-provider="paybybill">
  <li>
    <p>{{ 'payment.paybybill.text'|trans({}, 'checkout')|raw }}</p>

    <input type="radio" value="paybybill:paybybill" id="pbb" name="paytype"{% if selected_payment_type == 'paybybill:paybybill' %} checked{% endif %}>
    <label for="pbb">{{ 'payment.paybybill.label'|trans({}, 'checkout') }}</label>
  </li>
</ul>
